@model Atlas_Web.Pages.Settings.TagsModel
<div>
    @if (User.HasPermission("Create Parameters"))
    {
        <form asp-page-handler="CreateEstimatedRunFrequency">
            <div class="field">
                <label class="label">Add More</label>
                <div class="field has-addons">
                    <div class="control">
                        <input type="text" class="input" placeholder="centuryly" asp-for="EstimatedRunFrequency.Name" required />
                    </div>
                    <div class="control">
                        <button class="button is-info" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
    }

    <div class="field is-grouped is-grouped-multiline">
        @foreach (var i in ViewBag.EstimatedRunFrequencyList)
        {
            <div class="control">
                @if (User.HasPermission("Delete Parameters"))
                {
                    <form asp-page-handler="DeleteEstimatedRunFrequency" class="tags has-addons">
                        <span class="tag is-link">@i.Name</span>
                        <span class="tag is-dark">@i.Used uses</span>
                        <input type="hidden" asp-for="EstimatedRunFrequency.Id" value="@i.Id" />
                        <button type="submit" class="tag is-delete"></button>
                    </form>
                } else
                {
                    <div class="tags has-addons">
                        <span class="tag is-link">@i.Name</span>
                        <span class="tag is-dark">@i.Used uses</span>
                    </div>
                }
            </div>
        }
    </div>

</div>
