@model Atlas_Web.Pages.Users.IndexModel

<div>
    @{
        var ReportObjectDocEdits = ViewBag.ReportObjectDocEdits.Count > 0;
        var InitiativeEdits = ViewBag.InitiativeEdits.Count > 0;
        var CollectionEdits = ViewBag.CollectionEdits.Count > 0;
        var TermEdits = ViewBag.TermEdits.Count > 0;
        var AtlasHistory = ViewBag.AtlasHistory.Count > 0;
    }

    @if (ReportObjectDocEdits || InitiativeEdits || CollectionEdits || TermEdits || AtlasHistory)
    {
        @if (ReportObjectDocEdits || InitiativeEdits || CollectionEdits || TermEdits)
        {
            <h3>Recent Edits - Last 30 Days</h3>

            @if (ReportObjectDocEdits)
            {
                <h4>Reports</h4>
                @foreach (var r in ViewBag.ReportObjectDocEdits)
                {
                    <a href="@r.Url">@r.Name</a><span class="has-text-grey">&nbsp;&middot;&nbsp;@r.Date</span><br>
                }
            }

            @if (InitiativeEdits)
            {
                <h4>Initiatives</h4>
                @foreach (var r in ViewBag.InitiativeEdits)
                {
                    <a href="@r.Url">@r.Name</a><span class="has-text-grey">&nbsp;&middot;&nbsp;@r.Date</span><br>
                }

            }

            @if (CollectionEdits)
            {
                <h4>Collections</h4>
                @foreach (var r in ViewBag.CollectionEdits)
                {
                    <a href="@r.Url">@r.Name</a><span class="has-text-grey">&nbsp;&middot;&nbsp;@r.Date</span><br>
                }
            }

            @if (TermEdits)
            {
                <h4>Terms</h4>
                @foreach (var r in ViewBag.TermEdits)
                {
                    <a href="@r.Url">@r.Name</a><span class="has-text-grey">&nbsp;&middot;&nbsp;@r.Date</span><br>
                }
            }
        }

        @if (ViewBag.AtlasHistory.Count > 0)
        {

            <h3>Atlas Browsing History - Last 7 Days</h3>
            <div class="table-responsive">
                <table class="table sort" aria-label="browsing history">
                    <thead>
                        <tr>
                            <th>Area</th>
                            <th>Page</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in ViewBag.AtlasHistory)
                        {
                            <tr>
                                <td>@t.Type</td>
                                <td><a href="@t.Url">@t.Url</a></td>
                                <td>@t.Date</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    }
    else
    {
        <p>
            No activity to show
            ¯\_(ツ)_/¯
        </p>
    }
</div>
