@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<div>
    @if (ViewBag.SearchHistory.Count > 0)
    {
    	<ul>

        @foreach (var q in ViewBag.SearchHistory)
        {
            /*
             28 SSRS
             20 Dashboard
             21 Dash Component
             3 Crystal
             17 Workbench
            */

            <li>
                <a tabindex="-1" href="/Search@(q.SearchUrl)" search="@q.SearchUrl.Replace("?","")">
                    <span class="searchString">@q.SearchString</span>
                    <div class="fav-type">
                        @if (@q.ReportType != "" && @q.ReportType != "0")
                        {
                            <span>
                                @if(q.ReportType.Contains("28")){<text>SSRS</text>}
                                @if(q.ReportType.Contains("20")){<text>Dashboard</text>}
                                @if(q.ReportType.Contains("21")){<text>Dash Component</text>}
                                @if(q.ReportType.Contains("3")){<text>Crystal</text>}
                                @if(q.ReportType.Contains("17")){<text>Workbench</text>}
                            </span>
                            
                        }
                        @if(q.HiddenTypes == "1"){
                            <span>
                                <text>+Hidden Types</text>
                            </span>
                        }
                        @if(q.Hidden == "1"){
                            <span>
                                <text>+Hidden Reports</text>
                            </span>
                        }
                        @if(q.Orphans == "1"){
                            <span>
                                <text>+Orphans</text>
                            </span>
                        }
                        @if(q.SearchField != ""){
                            <span>
                                <text>@q.SearchField</text>
                            </span>
                        }
                    </div>
                </a>

            </li>
        }

        @foreach (var q in ViewBag.SearchFavorites)
        {         
            <li>
                <a tabindex="-1" href="/Search@(q.SearchUrl)" search="@q.SearchUrl.Replace("?","")">
                    <span class="searchString">@q.SearchString</span>
                    @if (@q.ReportType != "" && @q.ReportType != "0")
                    {
                        <div class="fav-type">
                            @if(q.ReportType.Contains("28")){<span>SSRS</span>}
                            @if(q.ReportType.Contains("20")){<span>Dashboard</span>}
                            @if(q.ReportType.Contains("21")){<span>Dash Component</span>}
                            @if(q.ReportType.Contains("3")){<span>Crystal</span>}
                            @if(q.ReportType.Contains("17")){<span>Workbench</span>}
                        </div>
                         @if(q.HiddenTypes == "1"){
                        <div class="fav-type">+Hidden Types</div>
                    }
                     @if(q.Hidden == "1"){
                        <div class="fav-type">+Hidden Reports</div>
                    }
                     @if(q.Orphans == "1"){
                        <div class="fav-type">+Orphans</div>
                    }
                    }
                </a>
            </li>

            }
        </ul>
    }
</div>
