<div>
	@if (ViewBag.SubscribedReports.Count > 0)
	{
		<div class="table-responsive">
			<table class="table sort" aria-label="subscriptions">
				<thead>
					<tr>
						<th>Report</th>
						<th>Subscription Description</th>
						<th>Last Run</th>
						<th>Message</th>
						<th>Subscribed As</th>
					</tr>
				</thead>
				<tbody>
					@foreach(var s in ViewBag.SubscribedReports){
					<tr>
						<td><a href="reports?id=@s.Id">@s.Name</a></td>
						<td>@s.Description</td>
						<td>@s.LastRun</td>
						<td>@s.LastStatus</td>
						<td>@s.SentTo</td>
					</tr>
					}
				</tbody>
			</table>
		</div>
	} else {
		@:No subscriptions to show.
	}
</div>
