
@model Atlas_Web.Pages.Reports.IndexModel


<h2 id="description" class="title is-2">Description</h2>
<div class="content">
    @if (Model.Report.ReportObjectDoc != null && !string.IsNullOrEmpty(Model.Report.ReportObjectDoc.DeveloperDescription))
    {
            <h3 class="title is-3">Developer Description</h3>
            <div class="markdown">
                @Html.Raw(HtmlHelpers.MarkdownToHtml(Model.Report.ReportObjectDoc.DeveloperDescription))
            </div>
    }

    @if (Model.Report.ReportObjectDoc != null && !string.IsNullOrEmpty(Model.Report.ReportObjectDoc.KeyAssumptions))
    {
            <h3 class="title is-3">Key Assumptions</h3>
            <div class="markdown">
                @Html.Raw(HtmlHelpers.MarkdownToHtml(Model.Report.ReportObjectDoc.KeyAssumptions))
            </div>
    }

    @if (!string.IsNullOrEmpty(Model.Report.Description))
    {
            <h3 class="title is-3">System Description</h3>
            <div class="markdown">
                @Html.Raw(HtmlHelpers.MarkdownToHtml(Model.Report.Description))
            </div>
    }

    @if (!string.IsNullOrEmpty(Model.Report.DetailedDescription))
    {

            <h3 class="title is-3">System Detailed Description</h3>
            <div class="markdown">
                @Html.Raw(HtmlHelpers.MarkdownToHtml(Model.Report.DetailedDescription))
            </div>

    }

    @if (!string.IsNullOrEmpty(Model.Report.RepositoryDescription))
    {
        <nav id="repository-description" class="panel mt-5">
            <div class="panel-heading is-flex is-justify-content-space-between" data-action="collapse" data-target="collapse-repository-description">
                <span>Repository Description</span>
                <span class="icon">
                  <i class="fas fa-chevron-down"></i>
                </span>
            </div>

            <div id="collapse-repository-description" class="panel-block is-collapsible @if(ViewBag.HasDescription){<text></text>} else {<text>is-active</text>}" role="tabpanel">
                <div class="markdown p-5">
                    @Html.Raw(HtmlHelpers.MarkdownToHtml(Model.Report.RepositoryDescription))
                </div>
            </div>
        </nav>
    }
</div>

@if(Model.Report.ReportObjectParameters.Any()){
    <nav id="parameters" class="panel mt-5">
        <p class="panel-heading is-flex is-justify-content-space-between" data-action="collapse" data-target="parameter-data">
            <span>Parameters</span>
            <span class="icon">
            <i class="fas fa-chevron-down"></i>
            </span>
        </p>
        <div class="panel-block is-collapsible is-block py-0" id="parameter-data">

            <div class="table-container m-5">
                <table class="table is-narrow" aria-label="report parameters">
                    <thead>
                        <tr>
                            <th>Name</th>
                            @if(Model.Report.ReportObjectParameters.Any(x => x.ParameterValue != null))
                            {
                                <th>Value</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var param in Model.Report.ReportObjectParameters)
                        {
                            <tr>
                                <td>@param.ParameterName</td>
                                @if (Model.Report.ReportObjectParameters.Any(x => x.ParameterValue != null))
                                {
                                    <td>@param.ParameterValue</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </nav>
}
