@model Atlas_Web.Pages.Reports.IndexModel


<h2 id="details" class="title is-2">Details</h2>

<div class="table-container mt-5">
    <table class="table is-narrow" aria-label="details">
        <tbody>

            @if (@Model.Report.Name != @Model.Report.DisplayTitle)
            {
                <tr>
                    <td>System Name</td>
                    <td>@Model.Report.Name</td>
                </tr>
            }

            <tr>
                <td>Report Type</td>
                <td>@Model.Report.ReportObjectType.Name</td>
            </tr>
            @* if it is a tableau workbook or project.. Let's show the parent project in the details *@
            @if ((@Model.Report.ReportObjectType.Name == "Tableau Workbook" || @Model.Report.ReportObjectType.Name == "Tableau Project") && @Model.Parents.Count() > 0 )
            {
                <tr>
                    <td>Project</td>
                    <td> @Model.Parents.First().Name </td>
                </tr>
            }

            @if (@Model.Report.LastLoadDate != null)
            {
                <tr>
                    <td>ETL Load Date</td>
                    <td>@Model.Report.LastLoadDateDisplayString</td>
                </tr>
            }

            <tr>
                <td>Last Modified</td>
                <td>
                    @Model.Report.LastUpdatedDateDisplayString
                    @if (@Model.Report.LastModifiedByUser != null)
                    {
                        <text>&nbsp;&middot;&nbsp;</text>
                        @if (User.HasPermission("View Other User") && @Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                        {
                            <a href="/users?id=@Model.Report.LastModifiedByUserId">@Model.Report.LastModifiedByUser.FullnameCalc</a>
                        }
                        else
                        {
                            @Model.Report.LastModifiedByUser.FullnameCalc
                        }
                    }
                </td>
            </tr>

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.LastUpdateDateTime != null)
            {
                <tr>
                    <td>Documentation Last Modified</td>
                    <td>
                        @Model.Report.ReportObjectDoc.LastUpdatedDateTimeDisplayString
                        @if (@Model.Report.ReportObjectDoc.UpdatedByNavigation != null)
                        {
                            <text>&nbsp;&middot;&nbsp;</text>
                            @if (User.HasPermission("View Other User") && @Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                            {
                                <a href="/users?id=@Model.Report.ReportObjectDoc.UpdatedBy">@Model.Report.ReportObjectDoc.UpdatedByNavigation.FullnameCalc</a>
                            }
                            else
                            {
                                @Model.Report.ReportObjectDoc.UpdatedByNavigation.FullnameCalc
                            }
                        }
                    </td>
                </tr>
            }

            @if (@Model.Report.AuthorUser != null)
            {
                <tr>
                    <td>Report Author</td>
                    <td>
                        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                        {
                            <a href="users?id=@Model.Report.AuthorUserId">@Model.Report.AuthorUser.FullnameCalc</a>
                        }
                        else
                        {
                            @Model.Report.AuthorUser.FullnameCalc
                        }
                    </td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.RequesterNavigation != null)
            {
                <tr>
                    <td>Report Requester</td>
                    <td>
                        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                        {
                            <a href="users?id=@Model.Report.ReportObjectDoc.Requester">@Model.Report.ReportObjectDoc.RequesterNavigation.FullnameCalc</a>
                        }
                        else
                        {
                            @Model.Report.ReportObjectDoc.RequesterNavigation.FullnameCalc
                        }
                    </td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.OperationalOwnerUser != null)
            {
                <tr>
                    <td>Operational Owner</td>
                    <td>
                        @if(@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                        {
                            <a href="users?id=@Model.Report.ReportObjectDoc.OperationalOwnerUserId">@Model.Report.ReportObjectDoc.OperationalOwnerUser.FullnameCalc</a>
                        }
                        else
                        {
                            @Model.Report.ReportObjectDoc.OperationalOwnerUser.FullnameCalc
                        }
                    </td>
                </tr>
            }
            @if (!string.IsNullOrEmpty(@Model.Report.Availability))
            {
                <tr>
                    <td>Availability</td>
                    <td>@Model.Report.Availability</td>
                </tr>
            }
            <tr>
                <td>Visible in Search</td>
                <td>
                    @if((Model.Report.OrphanedReportObjectYn ?? "N") == "N" &&
                         Model.Report.ReportObjectType != null &&
                         Model.Report.ReportObjectType.Visible == "Y" &&
                         Model.Report.DefaultVisibilityYn == "Y" &&
                         (Model.Report.ReportObjectDoc == null || (Model.Report.ReportObjectDoc.Hidden ?? "N") == "N")
                        ){
                        @:Yes
                    } else {
                        @:No
                    }
                </td>
            </tr>

            @if (@Model.Report.ReportObjectDoc != null && !string.IsNullOrEmpty(@Model.Report.ReportObjectDoc.GitLabProjectUrl))
            {
                <tr>
                    <td>@Configuration["text:reports:external_link"]</td>
                    <td><a target="_blank" rel="noopener" href="@Model.Report.ReportObjectDoc.GitLabProjectUrl">View Source</a></td>
                </tr>
            }

            @if (!string.IsNullOrEmpty(@Model.Report.EpicMasterFile))
            {
                var RecordViewerUrl = Model.Report.RecordViewerUrl(Context);
                <tr>
                    <td>Epic Identifier</td>
                    <td>@if (RecordViewerUrl != null)
                    {
                    @:<a data-agl="AR_ITM_RECORDVIEWER" data-ini="@Model.Report.EpicMasterFile" data-id="@Model.Report.EpicRecordId" href="@RecordViewerUrl">
                    }

                    <span id="epic-ini">@Model.Report.EpicMasterFile&nbsp;</span>
                    @if (@Model.Report.EpicRecordId != null)
                    {
                        <span id="epic-id" data-epic-hgr="@Model.Report.EpicReportTemplateId">
                            @Model.Report.EpicRecordId
                        @if (@Model.Report.EpicReportTemplateId != null)
                        {
                            @:(Template @Model.Report.EpicReportTemplateId)
                        }
                    </span>
                }

                @if (!string.IsNullOrEmpty(RecordViewerUrl))
                {
                @:</a>
                } </td>
                </tr>
            }

            <tr>
                <td>Atlas Id</td>
                <td>@Model.Report.ReportObjectId</td>
            </tr>

            @if (@Model.Report.OrphanedReportObjectYn == "Y")
            {
                <tr>
                    <td>Orphaned?</td>
                    <td>@Model.Report.OrphanedReportObjectYn</td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.ExecutiveVisibilityYn == "Y")
            {
                <tr>
                    <td>Executive Visibility</td>
                    <td>Yes</td>
                </tr>
            }

            @if (@Model.Report.ReportObjectType.Name == "SSRS Report" && @Model.Report.ReportObjectDoc != null && !string.IsNullOrEmpty(@Model.Report.ReportObjectDoc.EnabledForHyperspace))
            {
                <tr>
                    <td>Enabled for Hyperspace</td>
                    <td>
                        @if (@Model.Report.ReportObjectDoc.EnabledForHyperspace == "Y")
                        {
                            @:Yes
                        }
                        else
                        {
                            @:No
                        }
                    </td>
                </tr>
            }

            @if (User.HasPermission("Edit Report Purge Option") && @Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.DoNotPurge == "Y")
            {
                <tr>
                    <td>Do Not Purge</td>
                    <td>Yes</td>
                </tr>
            }

            @if (User.HasPermission("Edit Report Hidden Option") && @Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.Hidden == "Y")
            {
                <tr>
                    <td>Hidden?</td>
                    <td>Yes</td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.EstimatedRunFrequency != null)
            {
                <tr>
                    <td>Estimated Run Frequency</td>
                    <td>@Model.Report.ReportObjectDoc.EstimatedRunFrequency.Name</td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.Fragility != null)
            {
                <tr>
                    <td>Fragility Rating</td>
                    <td>@Model.Report.ReportObjectDoc.Fragility.Name</td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.MaintenanceSchedule != null)
            {
                <tr>
                    <td>Maintenance Schedule</td>
                    <td>@Model.Report.ReportObjectDoc.MaintenanceSchedule.Name</td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.OrganizationalValue != null)
            {
                <tr>
                    <td>Organizational Value Rating</td>
                    <td>@Model.Report.ReportObjectDoc.OrganizationalValue.Name</td>
                </tr>
            }

            @if (@Model.Report.ReportObjectDoc != null && @Model.Report.ReportObjectDoc.ReportObjectDocFragilityTags.Any())
            {
                <tr>
                    <td>Fragility Tags</td>
                    <td>
                        <div class="tags">
                            @foreach (var tag in @Model.Report.ReportObjectDoc.ReportObjectDocFragilityTags.ToList())
                            {
                                <span class="tag">@tag.FragilityTag.Name</span>
                            }
                        </div>
                    </td>
                </tr>
            }

            @if (@Model.Report.ReportObjectTagMemberships.Any())
            {
                <tr>
                    <td>Report Tags</td>
                    <td>
                        <div class="tags">
                            @foreach (var tag in @Model.Report.ReportObjectTagMemberships.ToList())
                            {
                                 <span class="tag">@tag.Tag.TagName</span>
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (@Model.Report.ReportObjectDoc != null && Model.Report.ReportObjectDoc.ReportServiceRequests.Any())
{
    <nav id="maintenance" class="panel">
        <div class="panel-heading">
            Service Requests
        </div>
        @foreach (var ticket in Model.Report.ReportObjectDoc.ReportServiceRequests.ToList())
        {
            <div class="panel-block">
                @if (!string.IsNullOrEmpty(ticket.TicketUrl))
                {
                    <a target="_blank" rel="noopener" href="@ticket.TicketUrl">@ticket.TicketNumber</a>
                } else
                {
                    @ticket.TicketNumber
                }
                @if (!string.IsNullOrEmpty(@ticket.Description))
                {
                    <span class="text-muted">&nbsp;·&nbsp;@ticket.Description</span>
                }
            </div>
        }
    </nav>
}
