@inject IConfiguration Configuration

@model Atlas_Web.Pages.Reports.IndexModel
@{
    var m = Model ?? ViewBag;
}

<h3 class="pageSection-title">Details</h3>
<div class="listDetails">
    @if (@m.Report.OldName != null)
    {
        <span class="listDetails-title">Report Name</span>
        <span>@m.Report.OldName</span>
    }

    <span class="listDetails-title">Report Type</span>
    <span>@m.Report.Type</span>

    @if (@m.Report.LastLoadDate != null)
    {
        <span class="listDetails-title">Last ETL Load Date</span>
        <span>@m.Report.LastLoadDate</span>
    }
    <span class="listDetails-title">Report Last Modified</span>
    <span>
        @m.Report.LastModifiedDate
        @if (m.Report.LastUpdatedBy != null)
        {
            <span class="text-light">&nbsp;&middot;&nbsp;@if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {<a href="/users?id=@m.Report.LastUpdatedById">@m.Report.LastUpdatedBy</a>} else {@m.Report.LastUpdatedBy}</span>
        }
    </span>

    @if (@m.Report.DocLastUpdated != null)
    {
        <span class="listDetails-title">Documentation Last Modified</span>
        <span>
            @m.Report.DocLastUpdated
            @if (m.Report.DocLastUpdatedBy != null)
            {
                <span class="text-light">&nbsp;&middot;&nbsp;@if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {<a href="/users?id=@m.Report.DocLastUpdatedById">@m.Report.DocLastUpdatedBy</a>} else {@m.Report.DocLastUpdatedBy}</span>
            }
        </span>
    }

    @if (m.Report.Author != null)
    {
        <span class="listDetails-title">Report Author</span>
        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {<a href="users?id=@m.Report.AuthorId">@m.Report.Author</a>} else { @m.Report.Author }
    }

    @if (m.Report.Requester != null)
    {
        <span class="listDetails-title">Report Requester</span>
        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {<a href="users?id=@m.Report.RequesterId">@m.Report.Requester</a>} else {@m.Report.Requester}
    }

    @if (m.Report.OpsOwner != null)
    {
        <span class="listDetails-title">Operational Owner</span>
        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {<a href="users?id=@m.Report.OpsOwnerId">@m.Report.OpsOwner</a>} else { @m.Report.OpsOwner}
    }

    @if (m.Report.GitUrl != null)
    {
        <span class="listDetails-title">@Configuration["text:reports:external_link"]</span>
        <a target="_blank" rel="noopener" href="@m.Report.GitUrl">View Source</a>
    }

    @if (m.Report.EpicMasterFile != null)
    {
        <span class="listDetails-title">Epic Identifier</span>
        @if (m.Report.RecordViewerUrl != null)
        {
            @:<a href="@m.Report.RecordViewerUrl">
            }
        <span>
            <span id="epic-ini">@m.Report.EpicMasterFile&nbsp;</span>
            @if (m.Report.EpicId != null)
            {
                <span id="epic-id" data-epic-hgr="@m.Report.EpicTemplateId">
                    @m.Report.EpicId
                @if (@m.Report.EpicTemplateId != null)
                {
                    @:(Template @m.Report.EpicTemplateId)
                }
            </span>
        }
        </span>

        @if (m.Report.RecordViewerUrl != null)
        {
        @:</a>
    }
    }

    <span class="listDetails-title">Atlas Id</span>
    <span>@m.Report.Id</span>

    @if (m.Report.Orphaned == "Y")
    {
        <span class="listDetails-title">Orphaned?</span>
        <span>@m.Report.Orphaned</span>
    }

    @if (m.Report.ExecVisibitliy == "Y")
    {
        <span class="listDetails-title">Executive Visiblity</span>
        <span>Yes</span>
    }

    @if (m.Report.Type == "SSRS Report" && m.Report.Hyperspace != null)
    {
        <span class="listDetails-title">Enabled for Hyperspace</span>
        <span>
            @if (m.Report.Hyperspace == "Y")
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </span>
    }

    @if (m.Permissions.Contains(35) && m.Report.DoNotPurge == "Y")
    {
        <span class="listDetails-title">Do Not Purge</span>
        <span>Yes</span>
    }

    @if (m.Permissions.Contains(43) && m.Report.Hidden == "Y")
    {
        <span class="listDetails-title">Hidden?</span>
        <span>Yes</span>
    }

    @if (m.Report.RunFreq != null)
    {
        <span class="listDetails-title">Estimated Run Frequency</span>
        <span>@m.Report.RunFreq</span>
    }

    @if (m.Report.Fragility != null)
    {
        <span class="listDetails-title">Fragility Rating</span>
        <span>@m.Report.Fragility</span>
    }

    @if (m.Report.MaintSched != null)
    {
        <span class="listDetails-title">Maintenance Schedule</span>
        <span>@m.Report.MaintSched</span>
    }

    @if (m.Report.Value != null)
    {
        <span class="listDetails-title">Organizational Value Rating</span>
        <span>@m.Report.Value</span>
    }

    @if (m.ReportFragilityTags.Count > 0)
    {
        var length = m.ReportFragilityTags.Count;
        var counter = 0;
        <span class="listDetails-title">Fragility Tags</span>
        <span>
            @foreach (var tag in m.ReportFragilityTags)
            {
                @if (counter == (length - 1))
                {
                    <span>@tag.Name</span>
                }
                else
                {
                    <span>@tag.Name, </span>
                }
                counter++;
            }
        </span>
    }

    @if (m.ReportTags.Count > 0)
    {
        var length = m.ReportTags.Count;
        var counter = 0;
        <span class="listDetails-title">Report Tags</span>
         <span>
            @foreach (var tag in m.ReportTags)
                {
                    @if (counter == (length - 1))
                    {
                        <span>@tag.Name</span> 
                        }
                    else
                    {
                        <span>@tag.Name, </span>}counter++;
                    }
         </span>}
</div>

<section id="report-meticket-container">
    @if (ViewBag.ManageEngineTickets.Count > 0)
    {
        <h4>Service Request Tickets</h4>
        <div class="reportDetails">
            @foreach (var t in ViewBag.ManageEngineTickets)
            {
                <a target="_blank" class="reportDetails-title" href="@t.Url">#@t.Number <code>@t.Description</code></a>
            }
        </div>
    }
</section>
