@inject IConfiguration Configuration
@model Atlas_Web.Pages.Reports.IndexModel

<div class="mdl" id="editModal" tabindex="-1">
    <div class="mdl-d editorMdl">
        <div class="mdl-c editorMdl-inner">
            <div class="editorMdl-title">
                <h2 class="editorMdl-titleText">Editing <span class="text-green">@Model.Report.Name.Replace("_"," ")</span><button type="button" class="editorMdl-close" data-dismiss="mdl" data-tooltip="Close">&times;</button></h2>
               
                <div id="editorMdl-titleSave">changes saved.</div>
            </div>
            <div class="editorMdl-cnt" ss-container>
                <div class="editorMdl-cntLiner">
                    <div class="tab">
                        <a class="tab-lnk active" href="imagestab">Images</a>
                        <a class="tab-lnk" href="desctab">Description</a>
                        @if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
                        {
                        <a class="tab-lnk" href="termstab">Terms</a>
                        }
                        <a class="tab-lnk" href="collectionstab">Collections</a>
                        <a class="tab-lnk" href="detailstab">Details</a>
                        <a class="tab-lnk" href="metab">Service Requests</a>

                        <a class="tab-lnk" href="mainttab">Maintenance</a>
                    </div>
                    <div class="tab-cnt">
                        <div class="tab-dta active" id="imagestab">
                            <partial name="Editor/_Images"></partial>
                        </div>
                        <div class="tab-dta" id="desctab">
                            <partial name="Editor/_Description"></partial>
                        </div>
                        @if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
                        {
                            <div class="tab-dta" id="termstab">
                                <partial name="Editor/_Terms"></partial>
                            </div>
                        }
                        <div class="tab-dta" id="collectionstab">
                            <partial name="Editor/_Collections"></partial>
                        </div>
                        <div class="tab-dta" id="detailstab">
                            <partial name="Editor/_Details"></partial>
                        </div>
                        <div class="tab-dta" id="metab">
                            <partial name="Editor/_MeTickets"></partial>
                        </div>
                        <div class="tab-dta" id="mainttab">
                            <partial name="Editor/_Maintenance"></partial>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
    <script>
        document.getElementById('editModal').addEventListener('mdl-close', function(){location.reload()});
    </script>
</div>
