@model Atlas_Web.Pages.Reports.IndexModel

<nav id="maintenance" class="panel">
    <div class="panel-heading">
        Maintenance Logs
    </div>
    @foreach (var log in Model.Report.ReportObjectDoc.MaintenanceLogs.ToList())
    {
        <div class="panel-block">
            @if (Configuration["features:enable_user_profile"] == null || Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
            {
                <a href="/users?id=@log.MaintainerId">@log.Maintainer.FullnameCalc</a>
            } else
            {
                @log.Maintainer.FullnameCalc
            }
            <span class="text-muted">&nbsp;·&nbsp;@log.MaintenanceDateDisplayString&nbsp;</span>
            @if (log.MaintenanceLogStatus != null)
            {
                    @log.MaintenanceLogStatus.Name<text>&nbsp;</text>
            }
            @if (!string.IsNullOrEmpty(log.Comment))
            {
                <div class="markdown">
                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(log.Comment, Configuration))
                </div>
            }
        </div>
    }
</nav>
