
@model Atlas_Web.Pages.Reports.IndexModel

<nav id="query" class="panel">
    <p class="panel-heading is-flex is-justify-content-space-between" data-action="collapse" data-target="query-data">
        <span>Queries</span>
        <span class="icon">
          <i class="fas fa-chevron-down"></i>
        </span>
    </p>

    <div class="panel-block is-collapsible is-block py-0" id="query-data">
        @{
            var queries = Model.Report.ReportObjectQueries.ToList();
        }
        @for (var q=0; q< Model.Report.ReportObjectQueries.Count; q++)
        {
            var t = queries[q];

            <div class="is-flex is-justify-content-space-between m-3 mb-0 mt-5">
                <h3 class="title is-3 mb-0">Query #@(q+1) | @t.Name</h3>
                <button class="button" onclick="copyQuery(event,@t.ReportObjectQueryId)">
                    <span class="icon">
                        <i class="far fa-copy"></i>
                    </span>
                    <span>Copy Query</span>
                </button>
            </div>
            <div class="query-box m-3">
                <div class="query-box-inner light ss-preview" id='query-@t.ReportObjectQueryId' ss-container>
                    <pre><code class="language-@t.Language" id="@t.ReportObjectQueryId">@t.Query</code></pre>
                </div>
            </div>
        }

        <!-- metric queries -->
        @foreach (var t in Model.ComponentQueries.ToList())
        {
            <div class="is-flex is-justify-content-space-between m-3 mb-0 mt-4">
                <h3 class="title is-3 mb-0"><a href="/Reports?id=@t.ReportObjectId">@t.Name (@t.ReportObject.EpicMasterFile @t.ReportObject.EpicRecordId)</a></h3>
                <button class="button m-3 mb-0" onclick="copyQuery(event,query-@t.ReportObjectId)">
                    <span class="icon">
                        <i class="far fa-copy"></i>
                    </span>
                    <span>Copy Query</span>
                </button>
            </div>
            <p>@t.ReportObject.Description</p>
            <div class="query-box m-3">
                <div class="query-box-inner light ss-preview" id='query-@t.ReportObjectId' ss-container>
                    <pre><code class="language-sql" id="@t.ReportObjectId">@t.Query</code></pre>
                </div>
            </div>
        }

        <script>
            if(document.readyState === 'complete') {
            document.dispatchEvent(new CustomEvent("code-highlight"));
            document.dispatchEvent(new CustomEvent('ss-load'));
            }

            var copyQuery = function (e, id) {
                var code = document.getElementById(id).innerText;
            var txt = document.createElement('textarea');
            txt.value = code;
            txt.setAttribute('readonly', '');
            txt.style = {
                position: 'absolute',
                left: '-9999px'
            };
            document.body.appendChild(txt);
            txt.select();
            document.execCommand('copy');
            document.body.removeChild(txt);
            };

            window.addEventListener('load',function(){
            document.dispatchEvent(new CustomEvent('ss-load'));
            document.dispatchEvent(new CustomEvent("code-highlight"));
            });
        </script>
    </div>
</nav>
