@model Atlas_Web.Pages.Reports.IndexModel

<h2 id="relationships" class="title is-2">Relationships</h2>
    @if (User.HasPermission("View Groups") && Model.Report.ReportGroupsMemberships.Any())
    {
        <nav id="groups" class="panel">
            <p class="panel-heading is-flex is-justify-content-space-between" data-action="collapse" data-target="related-groups">
                <span>Report Groups</span>
                <span class="icon">
                  <i class="fas fa-chevron-down"></i>
                </span>
            </p>
            <div class="panel-block is-collapsible is-block" id="related-groups">
                <div class="table-responsive">
                    <table class="table sort" aria-label="related groups">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Type</th>
                                <th>Source</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var s in Model.Report.ReportGroupsMemberships.ToList()){
                            <tr>
                                @if(User.HasPermission("View Groups"))
                                {
                                    <td><a href="\Groups?id=@s.GroupId">@s.Group.GroupName</a></td>
                                } else {
                                    <td>@s.Group.GroupName</td>
                                }
                                <td>@s.Group.GroupType</td>
                                <td>@s.Group.GroupSource</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </nav>
    }

    @if (Model.Children.Any())
    {
        <h3 class="title is-3">Reports included in this report.</h3>
        <div class="columns is-multiline">
            @foreach (var child in Model.Children.ToList())
            {
                <div class="column is-half ">
                    <partial name="Reports/_Snippet" model="child" />
                </div>
            }
        </div>
    }


    @if (Model.Parents.Count() > 0)
    {
    @if (@Model.Report.ReportObjectType.Name == "Tableau Workbook" || @Model.Report.ReportObjectType.Name == "Tableau Project")
    {

        <h3 class="title is-3">Projects this @Model.Report.ReportObjectType.Name is in.</h3>

    }
    else
    {
        <h3 class="title is-3">Reports that include this report.</h3>
    }
        <div class="columns is-multiline">
        @foreach (var parent in Model.Parents.ToList())
        {
            <div class="column is-half ">
                <partial name="Reports/_Snippet" model="parent" />
            </div>
        }
        </div>
    }

    @if (Model.Report.CollectionReports.Any())
    {
        <h3 id="collections" class="title is-3">Linked Collections</h3>
        <div class="columns is-multiline">
            @foreach (var d in @Model.Report.CollectionReports.ToList())
            {
                <div class="column is-half ">
                    <partial name="Collections/_Snippet" model="d.DataProject" />
                </div>
            }
        </div>
    }
