
@model Atlas_Web.Models.ReportObject
@inject IConfiguration Configuration
@inject Atlas_Web.Models.Atlas_WebContext Context

@{
    var ManageReportUrl = ReportLinkHelpers.ReportManageUrlFromParams(@Configuration["AppSettings:org_domain"], ViewContext.HttpContext, Model.ReportObjectType.Name, Model.ReportServerPath, Model.SourceServer, Model.OrphanedReportObjectYn);
    var EditReportUrl = ReportLinkHelpers.EditReportFromParams(@Configuration["AppSettings:org_domain"], ViewContext.HttpContext, Model.ReportServerPath, Model.SourceServer, Model.EpicMasterFile, Model.EpicReportTemplateId.ToString(), Model.EpicRecordId.ToString(), Model.OrphanedReportObjectYn);
    var RunReportUrl = ReportLinkHelpers.ReportUrlFromParams(ViewContext.HttpContext, Model, Context, User.Identity.Name);
}

<div class="card">
    <div class="card-header">
        <div class="card-header-title py-2 is-justify-content-space-between">
            <span class="is-flex is-align-items-center">

                @if (Model.ReportObjectAttachments.Count() > 0)
                {
                    <a aria-label="run" class="is-flex mr-2 has-tooltip-arrow has-tooltip-right js-modal-trigger" data-target="report-run-@Model.ReportObjectId" data-tooltip="Run Report" data-runurl="@RunReportUrl">
                        <span class="icon is-large has-text-success">
                            <i class="far fa-2_3x fa-circle-play"></i>
                        </span>
                    </a>
                }
                else if (RunReportUrl != null)
                {
                    <a aria-label="run" class="is-flex mr-2 has-tooltip-arrow has-tooltip-right" target="_blank" data-tooltip="Run Report" href="@RunReportUrl">
                        <span class="icon is-large has-text-success">
                            <i class="far fa-2_3x fa-circle-play"></i>
                        </span>
                    </a>
                }
                else
                {
                    if (@Model.EpicMasterFile != null && @Model.EpicMasterFile.Equals("IDB"))
                    {
                        <a aria-label="run" class="is-flex mr-2 is-disabled has-tooltip-arrow has-tooltip-right" data-tooltip="Open a related dashboard that uses this.">
                            <span class="icon is-large has-text-grey-light">
                                <i class="far fa-2_3x fa-circle-play"></i>
                            </span>
                        </a>
                    }
                    else if (@EditReportUrl != null)
                    {
                        <a aria-label="run" class="is-flex mr-2 is-disabled has-tooltip-arrow has-tooltip-right" data-tooltip="Open in report library.">
                            <span class="icon is-large has-text-grey-light">
                                <i class="far fa-2_3x fa-circle-play"></i>
                            </span>
                        </a>
                    }
                    else if (@Model.EpicMasterFile != null)
                    {
                        <a aria-label="run" class="is-flex mr-2 is-disabled has-tooltip-arrow has-tooltip-right" data-tooltip="Run from the Hyperspace report library.">
                            <span class="icon is-large has-text-grey-light">
                                <i class="far fa-2_3x fa-circle-play"></i>
                            </span>
                        </a>
                    }
                }

                <a class="has-text-dark" href="/Reports?id=@Model.ReportObjectId">
                    @if (!string.IsNullOrEmpty(@Model.DisplayTitle))
                    {
                        @Model.DisplayTitle
                    }
                    else
                    {
                        @Model.Name
                    }
                </a>
                @if (@Model.ReportTagLinks.Any(x => x.Tag.Name == "Analytics Certified" || x.Tag.Name == "Analytics Reviewed")){
                    <div class="fa-layers ml-2 fa-lg">
                        <span class="icon has-text-info "><i class="fas fa-certificate"></i></span>
                        <span class="icon has-text-white fa-transform"><i class="fas fa-check shrink-5"></i></span>

                    </div>
                }

            </span>
            <span class="tags">
                @{
                    var type = string.IsNullOrEmpty(@Model.ReportObjectType.ShortName) ? @Model.ReportObjectType.Name : @Model.ReportObjectType.ShortName;
                }
                <span class="tag">@type</span>

                @foreach (var item in Model.ReportTagLinks.ToList())
                {
                    @if(item.ShowInHeader == "Y" || item.Tag.ShowInHeader == "Y"){
                        <span class="tag @HtmlHelpers.Slug(item.Tag.Name)">@item.Tag.Name</span>
                    }
                }

                @if(!string.IsNullOrEmpty(ViewBag.SearchMatch))
                {
                    <div class="tags has-addons mb-0">
                        <span class="tag is-info is-light">Matched</span>
                        <span class="tag is-info">@ViewBag.SearchMatch</span>
                    </div>
                }
            </span>
        </div>
    </div>
    <div class="card-content pt-3 pb-2">
        <div class="media">
            <div class="media-left js-modal-trigger"  data-target="report-image-@Model.ReportObjectId">
                <figure class="image is-128x128">
                    <picture>
                        <source data-srcset="/data/img?handler=Thumb&id=@Model.ReportObjectId&size=128x128&type=webp" srcset="/img/report_placeholder_128x128.webp" type="image/webp" loading="lazy">
                        <source srcset="/data/img?handler=Thumb&id=@Model.ReportObjectId&size=128x128" type="image/jpeg" loading="lazy">
                        <img data-src="/data/img?handler=Thumb&id=@Model.ReportObjectId&size=128x128" src="/img/report_placeholder_128x128.png" alt="report image" loading="lazy">
                    </picture>
                </figure>
            </div>
            <div class="modal" id="report-image-@Model.ReportObjectId">
                <div class="modal-background"></div>
                <div class="modal-content modal-image">
                    <p class="image">
                        <picture>
                            <source srcset="/data/img?handler=Thumb&id=@Model.ReportObjectId&size=1200x1200&type=webp 800w,
                                            /data/img?handler=Thumb&id=@Model.ReportObjectId&size=2000x2000&type=webp 1200w"
                                    type="image/webp"
                                    loading="lazy"
                                    sizes="100vw">
                            <img src="/data/img?handler=Thumb&id=@Model.ReportObjectId&size=1200x2000" alt="report image" loading="lazy">
                        </picture>
                    </p>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>
            <div class="is-flex is-flex-direction-column is-flex-grow-1">
                <a class="media-content is-flex is-justify-content-space-between is-flex-direction-column is-min-h-96  has-text-dark" href="/Reports?id=@Model.ReportObjectId" >
                    <p>
                        @if (Model.ReportObjectDoc != null && !string.IsNullOrEmpty(Model.ReportObjectDoc.DeveloperDescription))
                        {
                            @(Model.ReportObjectDoc.DeveloperDescription.Substring(0, Math.Min(160, Model.ReportObjectDoc.DeveloperDescription.Length)) +"... ")
                            <span class="has-text-link">read more</span>
                        }
                        else if (!string.IsNullOrEmpty(Model.Description))
                        {
                            @(Model.Description.Substring(0, Math.Min(160, Model.Description.Length)) +"... ")
                            <span class="has-text-link">read more</span>
                        }
                        else
                        {
                            <span class="has-text-link">Open to view details.</span>
                        }
                    </p>
                </a>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item star px-0" data-href="/users/favorites/?handler=Edit&type=report&id=@Model.ReportObjectId">
            <span class="icon-text">
                @if (Model.StarredReports.Any(x => x.Ownerid == ViewBag.PublicUser.UserId))
                {
                    <span class="icon has-text-gold">
                        <i class="fas fa-star"></i>
                    </span>
                    <span>Starred <span class="tag is-rounded star-count">@Model.StarredReports.Count</span></span>
                }
                else
                {
                    <span class="icon ">
                        <i class="far fa-star"></i>
                    </span>
                    <span>Star <span class="tag is-rounded star-count">@Model.StarredReports.Count</span></span>
                }
            </span>
        </a>
        @if (EditReportUrl != null && EditReportUrl != "" && ViewBag.Permissions.Contains("Open In Editor"))
        {
            <a class="card-footer-item px-0" target="_blank" href="@EditReportUrl">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-pen-to-square"></i>
                    </span>
                    <span>Edit</span>
                </span>
            </a>
        }
        @if (ManageReportUrl != null && ManageReportUrl != "" && ViewBag.Permissions.Contains("Open In Editor"))
        {
            <a class="card-footer-item px-0" target="_blank" href="@ManageReportUrl">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-gears"></i>
                    </span>
                    <span>Manage</span>
                </span>
            </a>
        }
        <div class="card-footer-item px-0">
            <a class="is-block has-tooltip-arrow has-tooltip-top js-modal-trigger ml-2" data-target="report-profile-@Model.ReportObjectId" data-tooltip="Open Report Profile">
                <span class="icon has-text-grey ">
                    <i class="fas fa-chart-bar"></i>
                </span>
            </a>
            @if (@Configuration["features:enable_sharing"] == null || @Configuration["features:enable_sharing"].ToString().ToLower() == "true")
            {
                <a class="is-block has-tooltip-arrow has-tooltip-top js-modal-trigger ml-2" data-tooltip="Share"  data-target="report-share-@Model.ReportObjectId">
                    <span class="icon has-text-grey">
                        <i class="fas fa-share"></i>
                    </span>
                </a>
            }
            @if (@Configuration["features:enable_request_access"] == null || @Configuration["features:enable_request_access"].ToString().ToLower() == "true")
            {
                @if (Model.ReportObjectAttachments.Count() > 0 || RunReportUrl != null)
                {
                    <a class="is-block has-tooltip-arrow has-tooltip-top js-modal-trigger ml-2" data-tooltip="Request Access" data-target="request-access-@Model.ReportObjectId">
                        <span class="icon has-text-grey">
                            <i class="fas fa-universal-access"></i>
                        </span>
                    </a>
                }
            }
        </div>
    </footer>
</div>
<partial name="Reports/_Modals" />
