
@model Atlas_Web.Models.ReportObject
@inject IConfiguration Configuration
@inject Atlas_Web.Models.Atlas_WebContext Context

@{
    var ManageReportUrl = HtmlHelpers.ReportManageUrlFromParams(@Configuration["AppSettings:org_domain"], ViewContext.HttpContext, Model.ReportObjectType.Name, Model.ReportServerPath, Model.SourceServer);
    var EditReportUrl = HtmlHelpers.EditReportFromParams(@Configuration["AppSettings:org_domain"], ViewContext.HttpContext, Model.ReportServerPath, Model.SourceServer, Model.EpicMasterFile, Model.EpicReportTemplateId.ToString(), Model.EpicRecordId.ToString());
    var RunReportUrl = HtmlHelpers.ReportUrlFromParams(@Configuration["AppSettings:org_domain"], ViewContext.HttpContext, Model, Context, User.Identity.Name);
}

<div class="card">
    <div class="card-header">
        <div class="columns is-flex-grow-1">
            <div class="column is-narrow is-flex is-align-items-center ml-3"><!-- run button here --></div>
            <div class="column">
                <p class="card-header-title pl-0 is-justify-content-space-between">
                    <span class="is-flex is-align-items-center">

                        @if (Model.ReportObjectAttachments.Count() > 0)
                        {
                            <a class="is-flex mr-2" data-toggle="mdl" data-target="runModal" data-tooltip="Run Report" data-runurl="@RunReportUrl">
                                <span class="icon is-large has-text-success">
                                    <i class="far fa-2_3x fa-play-circle"></i>
                                </span>
                            </a>
                        }
                        else if (RunReportUrl != null)
                        {
                            <a class="is-flex mr-2" target="_blank" data-tooltip="Run Report" href="@RunReportUrl">
                                <span class="icon is-large has-text-success">
                                    <i class="far fa-2_3x fa-play-circle"></i>
                                </span>
                            </a>
                        }
                        else
                        {
                            if (@Model.EpicMasterFile != null && @Model.EpicMasterFile.Equals("IDB"))
                            {
                                <a class="is-flex mr-2 is-disabled" data-tooltip="Open a related dashboard that uses this.">
                                    <span class="icon is-large has-text-grey-light">
                                        <i class="far fa-2_3x fa-play-circle"></i>
                                    </span>
                                </a>
                            }
                            else if (@EditReportUrl != null)
                            {
                                <a class="is-flex mr-2 is-disabled" data-tooltip="Open in report library.">
                                    <span class="icon is-large has-text-grey-light">
                                        <i class="far fa-2_3x fa-play-circle"></i>
                                    </span>
                                </a>
                            }
                            else if (@Model.EpicMasterFile != null)
                            {
                                <a class="is-flex mr-2 is-disabled" data-tooltip="Run from the Hyperspace report library.">
                                    <span class="icon is-large has-text-grey-light">
                                        <i class="far fa-2_3x fa-play-circle"></i>
                                    </span>
                                </a>
                            }

                        }

                        @Model.Name

                        </span>
                    <span class="tags">
                        @if (@Model.CertificationTag == "Analytics Certified")
                        {<span class="tag srch-fieldHunterGreen">@Model.CertificationTag</span>}
                        @if (@Model.CertificationTag == "Analytics Reviewed")
                        {<span class="tag srch-fieldGreen">@Model.CertificationTag</span>}
                        @if (@Model.CertificationTag == "Epic Released")
                        {<span class="tag srch-fieldOrange">@Model.CertificationTag</span>}
                        @if (@Model.CertificationTag == "Legacy")
                        {<span class="tag srch-fieldOrange">@Model.CertificationTag</span>}
                        @if (@Model.CertificationTag == "High Risk")
                        {<span class="tag srch-fieldRed">@Model.CertificationTag</span>}
                        @if (@Model.CertificationTag == "Self-Service")
                        {<span class="tag srch-fieldBlue">@Model.CertificationTag</span>}
                    </span>
                </p>
            </div>
        </div>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <img data-src="/data/img?handler=Thumb&id=@Model.ReportObjectId&size=128x128" src="/img/loader.gif" />
                </figure>
            </div>
            <div class="media-content is-min-h-96 is-flex is-justify-content-space-between is-flex-direction-column">
                @if (Model.ReportObjectDoc != null && !string.IsNullOrEmpty(Model.ReportObjectDoc.DeveloperDescription))
                {
                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.ReportObjectDoc.DeveloperDescription.Substring(0, Math.Min(160, Model.ReportObjectDoc.DeveloperDescription.Length)) + " ..."))
                }
                else if (!string.IsNullOrEmpty(Model.Description))
                {
                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Description.Substring(0, Math.Min(160, Model.Description.Length)) + " ..."))
                }
                else
                {
                    <text>Open to view details.</text>
                }
                <div class="tags">
                    <span class="tag is-link">@Model.ReportObjectType.Name</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a href="/Reports?id=@Model.ReportObjectId" class="card-footer-item">Open</a>

        @if (EditReportUrl != null && EditReportUrl != "" && ViewBag.Permissions.Contains(38))
        {
            <a class="card-footer-item" target="_blank" href="@EditReportUrl">Edit</a>}
        @if (ManageReportUrl != null && ManageReportUrl != "" && ViewBag.Permissions.Contains(38))
        {
            <a class="card-footer-item" target="_blank" href="@ManageReportUrl">Manage</a>
        }


    </footer>
</div>
