@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Atlas_Web.Pages.Reports.IndexModel
@{
    var m = Model ?? ViewBag;
}
@if(m.ViewerReportTerms.Count > 0){
<h3 class="pageSection-title">Terms</h3>

@foreach (var t in m.ViewerReportTerms)
{
    <h4 class="drop" data-toggle="clps" data-target="collapseTerm@(t.Id)">@t.Name
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
    </h4>

    <div id="collapseTerm@(t.Id)" class="clps">
        <div class="drop-box">
            <h5><a class="drop-link" asp-page="../Terms/Index" asp-route-id="@(t.Id)">Open This Term</a></h5>
            @if(t.Summary != null)
            {
                <h5>Summary</h5>
                <div class="markdown">
                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(t.Summary))
                </div>
            }
            @if(t.Definition != null)
            {
                <h5>Technical Definition</h5>
                <div class="markdown">
                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(t.Definition))
                </div>
            }
        </div>
    </div>
}
}
