@page
@model Atlas_Web.Pages.Reports.IndexModel

@section js {
    <script src="/js/flowchart.min.js" defer></script>
}

@{
    if (!string.IsNullOrEmpty(@Model.Report.DisplayTitle))
    {
        ViewData["Title"] = Model.Report.DisplayTitle;
    }
    else
    {
        ViewData["Title"] = Model.Report.Name;
    }


    ViewBag.RunReportUrl = HtmlHelpers.ReportUrlFromParams(
                    ViewContext.HttpContext,
                    Model.Report,
                    DbContext,
                    User.Identity.Name
                );
    ViewBag.EditReportUrl = HtmlHelpers.EditReportFromParams(
                        Configuration["AppSettings:org_domain"],
                        ViewContext.HttpContext,
                        Model.Report.ReportServerPath,
                        Model.Report.SourceServer,
                        Model.Report.EpicMasterFile,
                        Model.Report.EpicReportTemplateId.ToString(),
                        Model.Report.EpicRecordId.ToString()
                    );
    ViewBag.ManageReportUrl = HtmlHelpers.ReportManageUrlFromParams(
                        Configuration["AppSettings:org_domain"],
                        ViewContext.HttpContext,
                        Model.Report.ReportObjectType.Name,
                        Model.Report.ReportServerPath,
                        Model.Report.SourceServer
                    );

    ViewBag.HasDescription = Model.Report.ReportObjectDoc != null && !string.IsNullOrEmpty(Model.Report.ReportObjectDoc.DeveloperDescription) ||
         Model.Report.ReportObjectDoc != null && !string.IsNullOrEmpty(Model.Report.ReportObjectDoc.KeyAssumptions) ||
        !string.IsNullOrEmpty(Model.Report.Description) ||
        !string.IsNullOrEmpty(Model.Report.DetailedDescription);
}

@section AdBar {}

@section Side_Links {
    <partial name="_Nav" />
}

<h1 class="title is-1 is-flex is-justify-content-space-between">
    @if (!string.IsNullOrEmpty(@Model.Report.DisplayTitle)) {
        @Model.Report.DisplayTitle}
    else {
        @Model.Report.Name
    }

    @{
        string cert_tooltip = "This report has not been validated by the Analytics Team and does not have a usage track record. It may display inaccurate or misleading information. Use at your own risk.";
        string cert_class = "pageNav-badgeRed";

        @if (Model.Report.CertificationTag == "Analytics Certified")
        {
            cert_tooltip = "This report has received the highest level of scrutiny from the Analytics Team and the owning end user. Certified reports are the most reliable and accurate in the system.";
            cert_class = "pageNav-badgeHunterGreen";
        }
        else if (Model.Report.CertificationTag == "Analytics Reviewed")
        {
            cert_tooltip = "This report has gone through the standard Analytics code review and validation process. Reviewed reports can be trusted for monitoring most operational processes.";
            cert_class = "pageNav-badgeGreen";
        }
        else if (Model.Report.CertificationTag == "Epic Released")
        {
            cert_tooltip = "Epic Released Reports are limited to the standard Epic configuration. They cannot be customized to match Riverside’s unique system build and may not always be accurate. Use with caution.";
            cert_class = "pageNav-badgeOrange";

        }
        else if (Model.Report.CertificationTag == "Legacy")
        {
            cert_tooltip = "This report has not been validated by the Analytics team for accuracy and reliability. Use with caution.";
            cert_class = "pageNav-badgeOrange";
        }
        else if (Model.Report.CertificationTag == "Self-Service")
        {
            cert_tooltip = "Data has been validated but content produced via self-service is the responsibility of the end user.";
            cert_class = "pageNav-badgeBlue";
        }
    }

    <span class="has-tooltip-arrow has-tooltip-multiline has-tooltip-bottom" data-tooltip="@cert_tooltip">
        <span class="@cert_class is-nobreak">@Model.Report.CertificationTag</span>
    </span>
</h1>

@if (ViewBag.Permissions.Contains(12))
{
    <div data-ajax="yes" class="no-loader" data-url="/reports?Handler=MaintStatus&id=@Model.Report.ReportObjectId"></div>
}

<partial name="_Links" />

@if (Model.Report.ReportObjectImagesDocs.Any())
{
    <partial name="_Images" />
}

@if (ViewBag.HasDescription || !string.IsNullOrEmpty(Model.Report.RepositoryDescription))
{
    <partial name="_Description" />
}

@if (Model.Terms.Any() && (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true"))
{
    <partial name="_Terms" />
}

<partial name="_Details" />

@if (Model.Report.ReportObjectQueries.Any() || Model.ComponentQueries.Any())
{
    <partial name="_Query" />
}

@if (Model.Parents.Any() || Model.Children.Any() || Model.Report.ReportGroupsMemberships.Any() || Model.Report.DpReportAnnotations.Any())
{
    <partial name="_Relationships" />
}


@if (Model.Report.ReportObjectDoc != null && Model.Report.ReportObjectDoc.ReportObjectDocMaintenanceLogs.Any())
{
    <partial name="_Maintenance" />
}

<partial name="_Modals" model="Model.Report" />
