@model Atlas_Web.Pages.Initiatives.IndexModel

<h1 class="title is-1">@Model.Initiative.Name</h1>
    <partial name="_Links" />

@if (!string.IsNullOrEmpty(Model.Initiative.Description))
{
    <h2 id="details" class="title is-2">Description</h2>
    <div class="content">@Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Initiative.Description))</div>
}

<h2 class="title is-2">Details</h2>
<div class="table-container">
    <table class="table is-narrow">
        <tbody>
            @if (Model.Initiative.OperationOwnerId != null)
            {
                <tr>
                    <td>Operational Owner</td>
                    <td>
                        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                        {
                            <a href="/users?id=@Model.Initiative.OperationOwnerId">@Model.Initiative.OperationOwner.Fullname_Cust</a>
                        } else
                        {
                            @Model.Initiative.OperationOwner.Fullname_Cust
                        }
                    </td>
                </tr>
            }
            @if (Model.Initiative.ExecutiveOwnerId != null)
            {
                <tr>
                    <td>Executive Owner</td>
                    <td>
                        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                        {
                            <a href="/users?id=@Model.Initiative.ExecutiveOwnerId">@Model.Initiative.ExecutiveOwner.Fullname_Cust</a>
                        } else
                        {
                            @Model.Initiative.ExecutiveOwner.Fullname_Cust
                        }
                    </td>
                </tr>
            }
            @if (Model.Initiative.FinancialImpact != null)
            {
                <tr>
                    <td>Financial Impact</td>
                    <td>
                        @Model.Initiative.FinancialImpactNavigation.Name
                    </td>
                </tr>
            }
            @if (Model.Initiative.StrategicImportance != null)
            {
                <tr>
                    <td>Strategic Importance</td>
                    <td>
                        @Model.Initiative.StrategicImportanceNavigation.Name
                    </td>
                </tr>
            }
            @if (Model.Initiative.LastUpdateUser != null)
            {
                <tr>
                    <td>Last Updated By</td>
                    <td>
                        @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                            {
                                <a href="/users?id=@Model.Initiative.LastUpdateUser">@Model.Initiative.LastUpdateUserNavigation.Fullname_Cust</a>
                            } else
                            {
                                @Model.Initiative.LastUpdateUserNavigation.Fullname_Cust
                            }
                    </td>
                </tr>
            }
            <tr>
                <td>Last Updated</td>
                <td>@Model.Initiative.LastUpdatedDateDisplayString</td>
            </tr>
        </tbody>
    </table>
</div>

@if(@Model.Initiative.DpDataProjects.Count > 0){
    <h2 id="collections" class="title is-2">Linked Collections</h2>
    <div class="columns is-multiline">
        @foreach (var d in @Model.Initiative.DpDataProjects)
        {
            <div class="column is-half ">
                <partial name="Collections/_Snippet" model="d" />
            </div>
        }
    </div>
}
