@model Atlas_Web.Pages.Initiatives.IndexModel

<ul>
    <li>
        <a class="is-block has-tooltip-arrow has-tooltip-right star" data-tooltip="Star this initiative" data-href="/users/favorites/?handler=Edit&type=initiative&id=@Model.Initiative.DataInitiativeId">
            @if (Model.Initiative.StarredInitiatives.Any(x => x.Ownerid == ViewBag.PublicUser.UserId))
            {
                <span class="icon is-large has-text-gold ">
                    <i class="fas fa-lg fa-star is-relative">
                        <span class="badge star-count">@Model.Initiative.StarredInitiatives.Count</span>
                    </i>
                </span>
            }
            else
            {
                <span class="icon has-text-grey is-large">
                    <i class="far fa-lg fa-star is-relative">
                        <span class="badge star-count">@Model.Initiative.StarredInitiatives.Count</span>
                    </i>
                </span>
            }
        </a>
    </li>
    @if (@Configuration["features:enable_sharing"] == null || @Configuration["features:enable_sharing"].ToString().ToLower() == "true")
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share" data-target="initiative-share-@Model.Initiative.DataInitiativeId" data-name="@Model.Initiative.Name" data-type="initiative">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-share"></i>
                </span>
            </a>
        </li>
    }

    @if (@Configuration["features:enable_feedback"] == null || @Configuration["features:enable_feedback"].ToString().ToLower() == "true")
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share Feedback" data-target="initiative-share-feedback-@Model.Initiative.DataInitiativeId" data-name="@Model.Initiative.Name">
                <span class="icon has-text-grey is-large ">
                    <i class="far fa-lg fa-thumbs-up"></i>
                </span>
            </a>
        </li>
    }
    @if (ViewBag.Permissions.Contains(20))
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right" href="/Initiatives/New/" data-tooltip="Create New Initiative">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-plus"></i>
                </span>
            </a>
        </li>

    }
    @if (ViewBag.Permissions.Contains(22))
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right" href="/Initiatives/Edit/?id=@Model.Initiative.DataInitiativeId" data-tooltip="Open Atlas Editor">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-edit"></i>
                </span>
            </a>
        </li>
    }
    @if (ViewBag.Permissions.Contains(21))
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right" data-tooltip="Delete this Initaitive" href="/Initiatives?handler=DeleteInitiative&Id=@Model.Initiative.DataInitiativeId"  onclick="return confirm('Are you sure you want to remove this?');">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-trash"></i>
                </span>
            </a>
        </li>
    }
</ul>
