@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Projects.IndexModel

<h3>New Milestone</h3>
<form asp-page-handler="AddMilestone" method="post" id=AddMilestone>
    <input asp-for="DpMilestone.DataProjectId" type="hidden" value='@Model.DataProject.Id' />
    <input type='hidden' name='DpChecklist' value='' />
    
    <div class="listDetails">

        <label>Start Date</label>
        <input asp-for="DpMilestone.StartDate" required type="date"  />

        <label>End Date</label>
        <input asp-for="DpMilestone.EndDate" type="date"  />

        <label>Template</label>
        <input type="dynamic-dropdown" asp-for="DpMilestone.MilestoneTemplateId"  search-area="mile-type" method="fullList" />

        <label>Owner</label>
        <input type="dynamic-dropdown" asp-for="DpMilestone.OwnerId" value="" visible-value="" search-area="UserSearch" />

    </div>
    
    <h4>Task List <span class="text-light">(optional)</span></h4>
    <span class="text-light">Blank boxs automatically removed.</span>
    <div class="listDetails">
        <label>Task</label>
        <input class="checklistitem" />
    </div>
    
    <h4>Description</h4>
    <div class="editor" data-inputName="DpMilestone.Description" data-inputId="DpMilestone_Description"><textarea></textarea></div>

    <h3><button class="editor-save" type="submit">Save</button></h3>

</form>

@if(Model.DataProject.MilestoneTasks.Count() > 0){
    <h3>Existing Milestones</h3>

    @foreach (var t in Model.DataProject.MilestoneTasks)
    {
        <h4 class="drop" data-toggle="clps" data-target="collapse-milestone-@(t.Id)">Edit <span class="text-green">@t.Description.Substring(0,Math.Min(30,@t.Description.Length)) ...</span> Milestone
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
        </h4>

        <div id="collapse-milestone-@(t.Id)" class="clps">
            <div class="drop-box">
                <h5><a class="drop-link" href="/Projects?handler=DeleteMilestone&id=@t.Id">Delete This Milestone</a></h5>

                <form asp-page-handler="EditMilestone" method="post">
                    <input asp-for="DpMilestone.MilestoneTaskId" type="hidden" value="@t.Id" />
                    <input asp-for="DpMilestone.DataProjectId" type="hidden" value="@Model.DataProject.Id" />
                    <input type='hidden' name='DpChecklist' value='' />

                    <div class="listDetails">

                        <label>Start Date</label>
                        <input asp-for="DpMilestone.StartDate" required type="date" value="@t.StartDateInput" />

                        <label>End Date</label>
                        <input asp-for="DpMilestone.EndDate" type="date" value="@t.EndDateInput" />

                        <label>Template</label>
                        <input type="dynamic-dropdown" asp-for="DpMilestone.MilestoneTemplateId"  search-area="mile-type" method="fullList" value="@t.TemplateId" visible-value="@t.Template" />

                        <label>Owner</label>
                        <input type="dynamic-dropdown" asp-for="DpMilestone.OwnerId" value="@t.OwnerId" visible-value="@t.Owner" search-area="UserSearch" />

                    </div>
                    
                    <h4>Task List <span class="text-light">(optional)</span></h4>
                    <span class="text-light">Blank boxs automatically removed.</span>
                    <div class="listDetails">
                        @foreach(var q in t.Checklist)
                        {
                            <label>Task</label>
                            <input class="checklistitem" value="@q.Item" />
                        }
                        <label>Task</label>
                        <input class="checklistitem" />
                    </div>
                    
                    <h4>Description</h4>
                    <div class="editor" data-inputName="DpMilestone.Description" data-inputId="DpMilestone_Description"><textarea>>@Html.Raw(@t.Description)</textarea></div>

                    <h3><button class="editor-save" type="submit">Save</button></h3>
                </form>
            </div>
        </div> 
    }
}
