@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Terms.IndexModel

<h3>Details</h3>
<div class="listDetails">
    @if (Model.MyTerm.Approved == "Y")
    {
        <span class="listDetails-title">Approval Date</span>
        <span>@Model.MyTerm.ApprovedDate</span>
        <span class="listDetails-title">Approved By</span>
        <span>@Model.MyTerm.ApprovedBy</span>
    }
    else
    {
        <span class="listDetails-title">Has Been Approved</span>
        <span>No</span>
    }
    @if (Model.MyTerm.ExtStdUrl != null && Model.MyTerm.ExtStdUrl != "")
    {
        <span class="listDetails-title">External Standard URL</span>
        <span><a href="@Model.MyTerm.ExtStdUrl" target="_blank" rel="noopener">@Model.MyTerm.ExtStdUrl</a></span>
    }
    else
    {
        <span class="listDetails-title">Has External Standard</span>
        <span>No</span>
    }
    <span class="listDetails-title">Valid From</span>
    <span>@Model.MyTerm.ValidDate</span>
    <span class="listDetails-title">Last Updated By</span>
    <span>@Model.MyTerm.UpdatedBy</span>
    <span class="listDetails-title">Last Updated</span>
    <span>@Model.MyTerm.UpdateDate</span>
</div>
