@inject IConfiguration Configuration

@model Atlas_Web.Pages.Reports.IndexModel

<form asp-page-handler="NewDocumentation" method="post" id="report-edit-details-form">
    <input type="hidden" asp-for="ReportObject.ReportObjectId" value="@Model.Report.Id" />
    <h3>Details</h3>
    <div class="listDetails">
        <label>Operational Owner</label>
        <input type="dynamic-dropdown" asp-for="ReportObjectDoc.OperationalOwnerUserId" value="@Model.Report.OpsOwnerId" visible-value="@Model.Report.OpsOwner" search-area="UserSearch" />

        <label>Requester</label>
        <input type="dynamic-dropdown" asp-for="ReportObjectDoc.Requester" value="@Model.Report.RequesterId" visible-value="@Model.Report.Requester" search-area="UserSearch" />

        <label>@Configuration["text:reports:external_link"]</label>
        <input asp-for="ReportObjectDoc.GitLabProjectUrl" value="@Model.Report.GitUrl" />

        <label>Organizational Value</label>
        <input type="dynamic-dropdown" asp-for="ReportObjectDoc.OrganizationalValueId" value="@Model.Report.ValueId" visible-value="@Model.Report.Value" search-area="org-value" method="fullList" />

        <label>Estimated Run Frequency</label>
        <input type="dynamic-dropdown" asp-for="ReportObjectDoc.EstimatedRunFrequencyId" value="@Model.Report.RunFreqId" visible-value="@Model.Report.RunFreq" search-area="run-freq" method="fullList" />

        <label>Fragility</label>
        <input type="dynamic-dropdown" asp-for="ReportObjectDoc.FragilityId" value="@Model.Report.FragilityId" visible-value="@Model.Report.Fragility" search-area="fragility" method="fullList" />

        <label>Maintenance Schedule</label>
        <input type="dynamic-dropdown" asp-for="ReportObjectDoc.MaintenanceScheduleId" value="@Model.Report.MaintSchedId" visible-value="@Model.Report.MaintSched" search-area="maint-sched" method="fullList" />

        <label>Fragility Tags</label>
        <select type="dynamic-dropdown" asp-for="@Model.SelectedFragilityTagIds" search-area="ro-fragility" method="fullList">
            @foreach (var tag in @Model.ReportFragilityTags)
            {
            <option selected="selected" value="@tag.Id">@tag.Name</option>
            }
        </select>

        <label>Executive Visibility?</label>
        <div class='form-check' >
            <input type="checkbox" id="ExecutiveVisibilityYn" />
             <input type="hidden" asp-for="ReportObjectDoc.ExecutiveVisibilityYn" value="@Model.Report.ExecVisibitliy" />
        </div>

        @if(Model.Report.Type == "SSRS Report")
        {
            <label>Enabled for Hyperspace?</label>
            <div class='form-check'  >
                <input type="checkbox" />
                <input type="hidden" asp-for="ReportObjectDoc.EnabledForHyperspace" value="@Model.Report.Hyperspace">
            </div>
        }

        @if (Model.Permissions.Contains(35))
        {
            <label>Do not purge report?</label>
            <div class='form-check' >
                <input type="checkbox" />
                <input type="hidden"  asp-for="ReportObjectDoc.DoNotPurge" value="@Model.Report.DoNotPurge" />
            </div>
        }

        @if (Model.Permissions.Contains(43))
        {
            <label>Hide Report?</label>
            <div class='form-check' >
                <input type="checkbox" id="DoNotPurge" />
                <input type="hidden" asp-for="ReportObjectDoc.Hidden" value="@Model.Report.Hidden">
            </div>
        }
    </div>
    <h3><button class="editor-save" type="submit">Save</button></h3>
</form>
