@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Projects.IndexModel
<h2 class="pageSection-title">Description</h2>

@if(Model.DataProject.Description != null)
{
    <h4>Description</h4>
    <div class="markdown">
        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.DataProject.Description))
    </div>
}

@if(Model.DataProject.Purpose != null)
{
    <h4>Purpose</h4>
    <div class="markdown">
        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.DataProject.Purpose))
    </div>
}

<h4 class="pageSection-subTitle">Details</h4>
<div class="projectDetails">
    <span class="projectDetails-title">Operational Owner</span>
    <span>@Model.DataProject.OpsOwner</span>
    <span class="projectDetails-title">Executive Owner</span>
    <span>@Model.DataProject.ExOwner</span>
    <span class="projectDetails-title">Analytics Owner</span>
    <span>@Model.DataProject.AnOwner</span>
    <span class="projectDetails-title">Data Owner</span>
    <span>@Model.DataProject.DataOwner</span>
    <span class="projectDetails-title">Financial Impact</span>
    <span>@Model.DataProject.FnclImpact</span>
    <span class="projectDetails-title">Strategic Importance</span>
    <span>@Model.DataProject.StrgImport</span>
</div>