@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Projects.IndexModel
<h2 class="pb-2 border-bottom border-2 darken">Linked Content</h2>

@if (Model.DataProject.RelatedReports.Count() > 0)
{
    <h4 class="pt-3 darken">Reports</h4>
    @foreach (var t in Model.DataProject.RelatedReports)
    {
        <h5 class="ml-3 my-3">
            <i fav-type="report" object-id="@t.ItemId" class="favorite far fa-star @t.Favorite mr-3"></i>
            <span class="darken">@t.Name</span>
        </h5>
        <h5 class="pb-3 mb-2 ml-3">
            <a class="ajax atlas-blue" href="Reports?id=@t.ItemId">Open Documentation</a>
            @if (t.RunReportUrl != null && t.RunReportUrl != "")
            {
                <a class="ml-5 atlas-blue" target="_blank" rel="noopener" href="@t.RunReportUrl">Run Report</a>
            }
            @if (t.EditReportUrl != null && @Model.Permissions.Contains(38))
            {
                <a class="ml-5 atlas-blue" target="_blank" rel="noopener" href="@t.EditReportUrl">Edit Report</a>
            }
            @if (t.ManageReportUrl != null && @Model.Permissions.Contains(38))
            {
                <a class="ml-5 atlas-blue" target="_blank" rel="noopener" href="@t.ManageReportUrl">Manage Report</a>
            }
            @if (t.RunReportUrl != null && t.RunReportUrl != "")
            {
                <button class="btn btn-link p-0 atlas-blue float-right" data-toggle="mdl" data-target="requestAccessModal" data-name="@t.Name" data-name-clean='@t.Name.Replace("_"," ")'><i class="fas fa-universal-access"></i></button>
            }
        </h5>
        @if (t.Annotation != null && t.Annotation != "")
        {
            <div class="card card-body bg-light ml-3">
                <div class="card-head">Annotation</div>
                <div class="markdown noleft">
                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(t.Annotation))
                </div>
            </div>
        }
    }
}


@if (Model.DataProject.RelatedTerms.Count() > 0)
{
    <h4 class="pt-3 darken">Terms</h4>
    @foreach (var t in Model.DataProject.RelatedTerms)
    {
        <h5 class="ml-3 my-3">
            <i fav-type="term" object-id="@t.ItemId" class="favorite far fa-star @t.Favorite mr-3"></i>
            <a href="Terms?id=@t.ItemId" class="atlas-blue">@t.Name</a>
        </h5>
        @if (t.Annotation != null && t.Annotation != "")
        {
            <div class="card card-body bg-light ml-3">
                <div class="card-head">Annotation</div>
                <div class="markdown noleft">
                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(t.Annotation))
                </div>
            </div>
        }
    }
}
