@if (ViewBag.AllDrafts.Count > 0)
{
    var first = ViewBag.AllDrafts[0].DraftId;
    @foreach (var m in ViewBag.AllDrafts)
    {
        <div class="mlbx-msgsMsg @if(m.DraftId == first){<text> active </text>}" data-draft-id="@m.DraftId" data-message-id="@m.MsgId" data-date="@m.Edited">
            <p class="mlbx-msgsMsgSndr">@m.From<span class="float-right">@m.Edited</span></p>
            <p class="mlbx-msgsMsgSbj">@m.Subject.Substring(0, Math.Min(m.Subject.Length, 40))&nbsp;</p>
            <p class="mlbx-msgsMsgMsg">@m.Message.Substring(0, Math.Min(m.Message.Length, 40))&#8230;</p>
        </div>
        <div class="mlbx-dvdr"></div>
    }
}
