@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<div class="favs-cntr">
    @if (ViewBag.FavoriteReports.Count > 0)
    {
        <div class="favs-colOne">
            <h2 class="fav-col-title">Folders</h2>
            <div id="fav-folders" ss-container>
                <div class="fav-folder active fav-show-all"><i class="fas fa-folder-open"></i>All<div class="fav-count">@ViewBag.FavoriteReports.Count</div></div>
                @if (ViewBag.FavoriteFolders.Count > 0)
                {
                    @foreach (var f in ViewBag.FavoriteFolders)
                    {
                        <div class="fav-folder drg" folder-id="@f.FolderId" folder-rank="@if(f.FolderRank>0){@f.FolderRank} else {<text>999</text>}"><i class="fas fa-folder"></i><span>@f.FolderName</span><div class="fav-count">@f.FavCount</div>@if (ViewBag.UserId == ViewBag.MyId || ViewBag.Permissions.Contains(41)){<div class="folder-grip drg-hdl"><i class="fas fa-grip-lines"></i></div>}</div>
                    }
                }
                @if (ViewBag.UserId == ViewBag.MyId || ViewBag.Permissions.Contains(41))
                {
                    <div class="fav-folder fav-folder-new" data-toggle="clps" data-target="#fav-folder-new"><i class="fas fa-folder-plus"></i>New Folder</div>
                    <div class="clps" id="fav-folder-new">
                        <form asp-page-handler="CreateFolder" method="post" id="CreateFolderForm">
                            <input class="slim submit" type="nice-input" id="Folder_FolderName" name="Folder.FolderName" class="submit" data-initial-content="Folder Name" required />
                            <input type="hidden" id="Folder_UserId" name="Folder.UserId" value="@ViewBag.UserId" />
                        </form>
                    </div>
                }
            </div>
        </div>

        <div class="favs-colTwo">
            <div class="favs @if(!(ViewBag.UserId == ViewBag.MyId || ViewBag.Permissions.Contains(41))){<text>disabled</text>}" ss-container>
                <div id="favs-none" @if (ViewBag.FavoriteReports.Count != 0) { <text> style="display:none;" </text> }>
                    <h5>No favorites here! ¯\_(ツ)_/¯</h5><br>
                    @if (ViewBag.UserId == ViewBag.MyId || ViewBag.Permissions.Contains(41)){
                    <form asp-page-handler="DeleteFolder" method="post" id="DeleteFolderForm" style="display:none">
                        <h6>Want to<button type="submit" class="btn btn-link shake"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></button>this folder?</h6>
                        <input type="hidden" id="Folder_UserFavoriteFolderId" name="Folder.UserFavoriteFolderId" value="" />
                    </form>
                }
                </div>

                @foreach (var q in ViewBag.FavoriteReports)
                {
                    <div class="fav drg" folder-id="@if(q.FolderId>0){@q.FolderId} else {<text>0</text>}" item-rank="@if(q.ItemRank>0){@q.ItemRank} else {<text>999</text>}" fav-id="@q.FavoriteId">
                        <div class="fav-links">
                            <div class="fav-star @if (ViewBag.UserId != ViewBag.MyId) {<text>disabled</text>} ">
                                <i fav-type="@q.ItemType.ToLower()" object-id="@q.ItemId" class="far fa-star yes"></i>
                            </div>
                            <div class="fav-share darken" data-toggle="mdl" data-target="shareModal" data-name='@q.Name' data-url="/@q.AtlasUrl">
                                <i class="fas fa-share"></i>
                            </div>
                            <div class="fav-drg drg-hdl darken">
                                <i class="fas fa-grip-lines"></i>
                            </div>
                        </div>
                        <div class="fav-body">

                            <h5 class="fav-title"  data-toggle="clps" data-target="clps-@q.FavoriteId">
                                @if (q.ItemType == "Search")
                                {
                                    <span class="darken">@q.Name.Split("&")[0].Replace("%20", " ").Replace("+", " ").Replace("?s=", "").Replace("s=", "")</span>
                                }
                                else
                                {
                                    <span class="darken">@q.Name @if (q.EpicRecordId != null && q.EpicRecordId != "")
                                    {<text>&nbsp(@q.EpicMasterFile @q.EpicRecordId)</text>}</span>
                                }
                                <div class="fav-type">
                                    @if (q.ItemType == "Search")
                                {
                                    var FilterString = q.Name.Contains("f=") ? q.Name.Split("f=")[1] : "";

                                    @if(FilterString == "28" || FilterString == "20" || FilterString == "21" || FilterString == "3" || FilterString == "17"){
                                        <span>@(FilterString == "28" ? "SSRS" : FilterString == "20" ? "Dashboard" : FilterString == "21" ? "Dash Component" : FilterString == "3" ? "Crystal" : FilterString == "17" ? "Workbench" : "")</span>
                                    }
                                }
                                    <span>@q.ItemType</span>
                                </div>
                            </h5>
                            <h5 class="fav-nav">
                                <a href="@q.AtlasUrl">Open In Atlas</a>
                                @if (q.ReportUrl != null && q.ReportUrl != "")
                                {
                                    <a class="ml-3" target="_blank" rel="noopener" href="@q.ReportUrl">Run Report</a>
                                }
                                @if (q.EditReportUrl != null && ViewBag.Permissions.Contains(38))
                                {
                                    <a class="ml-3" target="_blank" rel="noopener" href="@q.EditReportUrl">Edit Report</a>
                                }
                                @if (q.ManageReportUrl != null && ViewBag.Permissions.Contains(38))
                                {
                                    <a class="ml-3" target="_blank" rel="noopener" href="@q.ManageReportUrl">Manage Report</a>
                                }
                            </h5>
                            <div class="clps fav-dtls" id="clps-@q.FavoriteId">
                                <div class="markdown noleft">
                                    @if (q.Description != null && q.Description != "")
                                    {
                                        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(q.Description))
                                    } else {
                                        @:Open in Atlas to see details.
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    } else if (ViewBag.TopRunReports.Count > 0)
    {
<div class="favs-noFavs" ss-container>
    <h3 class="favs-noFavsTitle">Your last run reports</h3>
    @foreach (var q in ViewBag.TopRunReports)
    {
        <div class="fav" >
                    <div class="fav-body">
                        <h5 class="fav-title"  data-toggle="clps" data-target="clps-@q.ItemId">
                            <span>
                                @q.Name @if (q.EpicRecordId != null && q.EpicRecordId != "")
                                {<span> (@q.EpicMasterFile @q.EpicRecordId)</span>}
                            </span>
                        </h5>
                        <h5 class="fav-nav">
                            <a href="Reports?id=@q.ItemId">Open Documentation</a>
                                @if (q.ReportUrl != null && q.ReportUrl != "")
                                {
                                    <a class="ml-5" target="_blank" href="@q.ReportUrl">Run Report</a>
                                }
                                @if (q.EditReportUrl != null && ViewBag.Permissions.Contains(38))
                                {
                                    <a class="ml-5" target="_blank" href="@q.EditReportUrl">Edit Report</a>
                                }
                        </h5>
                        <div class="clps fav-dtls" id="clps-@q.ItemId">
                            @if (q.Description != null && q.Description != "")
                            {
                                <div class="markdown noleft">
                                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(q.Description))
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    } else {
        <h4>Search to get started!</h4>
    }

    <script>
        (function(){
           document.dispatchEvent(new CustomEvent('related-reports'));
        })();

        (function(){
            var d = document;
            @if(ViewBag.AdLists != null){
                @:d.getElementById("AdColTwo").innerHTML +='@foreach(var ad in ViewBag.AdLists){@if(ad.Column == 2){<div class="col" data-ajax="yes" data-url="@ad.Url"></div>}}';
                @:d.dispatchEvent(new CustomEvent('load-ajax-content'));
            }
        })()
    </script>
</div>
