@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<div>
    <span class="text-muted w-100">Reports with no run data collected for last two years & edited over 2 months ago.</span>
    @if (ViewBag.Dead.Count == 0)
    {
        <p><br />No reports to show.</p>
    } else

        {
           <div class="table-responsive">

        <table class="table sort">
            <thead>
                <tr>
                    <th>Report Name</th>
                    <th>Report Type</th>
                    <th>Last Modified By</th>
                    <th>Last Modified</th>
                    <th>Server</th>
                    <th>Master File</th>
                    <th>Epic File</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in ViewBag.Dead)
                {
                    <tr>
                        <td><a class="ajax atlas-blue" href="@t.ReportUrl">@t.Name</a></td>
                        <td>@t.Type</td>
                        <td>@t.ModifiedBy</td>
                        <td>@t.LastMod</td>
                        <td>@t.Server</td>
                        <td>@t.MasterFile</td>
                        <td>@t.EpicId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        }
    </div>
