@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<!-- 2 parts. 1 - unread message count. 2 - alerts for new messages. -->

<div id="draft_message_count">@ViewBag.DraftMessageCount</div>
<div id="unread_message_count">@ViewBag.UnreadMessageCount</div>
<div id="total_message_count">@if(ViewBag.MessageCount > 0){<text> (@ViewBag.MessageCount @if (ViewBag.MessageCount > 1)
                {<text>Messages</text>} else {<text>Message</text>})</text>}</div>

<div id="new_message_alerts">
    @if (ViewBag.NewMail.Count > 0)
    {
		    @foreach (var m in ViewBag.NewMail)
            {
			    <div class="mail-notification-outer">
	                <div class="mail-notification-liner">
	                    <div class="mail-notification-inner">
	                        <a class="mail-notification-body ajax" href="users#mail">
	                    	    <div class="justify-content-start" style="display:-webkit-box!important;	display:-ms-flexbox!important;	display:flex!important">
	                    		    <div style="width: 76px;height: 100%;margin: auto;padding-left: 11px;" class="darken">
			                    	    <svg class="icon-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"/></svg>
			                        </div>
		                    	    <div style="width:245px">
			                            <p class="mail-notification-body-sender">@m.From</p>
		                                <!-- what to do if string is long. -->
		                                <p class="mail-notification-body-subject">@m.Subject.Substring(0, Math.Min(m.Subject.Length, 40))</p>
		                                <p class="mail-notification-body-message">@m.Message.Substring(0, Math.Min(m.Message.Length, 40))</p>
		                            </div>
	                            </div>
	                        </a>
	                    </div>
	                </div>
	            </div>
            }
    }
</div>

<div id="new_message_previews">
    <partial name="Partials\Mailbox\_MessagePreview"/>
</div>