@page
@inject IConfiguration Configuration

@model Atlas_Web.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search " + Model.SearchString;

    @if (HttpContext.Request.Headers["x-requested-with"] == "XMLHttpRequest")
    {
        Layout = null;
    }
    else
    {
        Layout = "../Shared/_Layout.cshtml";
    }

    var clearFilters = Model.SearchResults.Parameters.Filters.Where(x => x.Key != "query" && x.Key != "advanced");
    ViewBag.AppliedFilters =  Model.SearchResults.Parameters.Filters.Count(x => x.Key != "query");
    ViewBag.Query =  Model.SearchResults.Parameters.Filters.SingleOrDefault(x => x.Key == "query").Value;
}

<section class="section my-4 p-0 is-flex is-flex-direction-row is-align-items-center">
    <div class="icon-text mr-5">
        <span class="icon">
            <i class="fas fa-filter"></i>
        </span>
        <strong>Filter Results</strong>
    </div>
    @if(clearFilters.Any()){
        <div class="field is-grouped is-grouped-multiline">
            @foreach (var field in clearFilters)
            {
                <div class="control">
                    <div class="tags has-addons">
                        @if(field.Key == "field"){
                            <span class="tag is-light is-medium">Field</span>
                            <span class="tag is-warning is-medium" >@Model.SearchResults.FilterFields.SingleOrDefault(x => x.Key == field.Value).FriendlyName<a class="delete is-small" href="@UrlHelpers.SetSearchFacetUrl(ViewContext.HttpContext, @field.Key, @field.Value)"></a></span>
                        } else if (@Model.SearchResults.FacetFields.Any(x => x.Key == field.Key)) {
                            <span class="tag is-light is-medium">@Model.SearchResults.FacetFields.SingleOrDefault(x => x.Key == field.Key).FriendlyName</span>
                            @* if there are 0 results, the filters do not show or have values *@
                            @if(@Model.SearchResults.FacetFields.SingleOrDefault(x => x.Key == field.Key).Values.Count > 0){
                                <span class="tag is-warning is-medium" >@Model.SearchResults.FacetFields?.SingleOrDefault(x => x.Key == field.Key)?.Values?.SingleOrDefault(x => x.Value == field.Value)?.FriendlyName<a class="delete is-small" href="@UrlHelpers.SetSearchFacetUrl(ViewContext.HttpContext, @field.Key, @field.Value)"></a></span>
                            } else {
                                <span class="tag is-warning is-medium" >@field.Value<a class="delete is-small" href="@UrlHelpers.SetSearchFacetUrl(ViewContext.HttpContext, @field.Key, @field.Value)"></a></span>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    }
</section>

<div class="columns">
    <div class="column is-one-quarter is-sticky is-align-self-flex-start" style="max-height:calc(100vh - 137px); overflow-Y:auto">
        <partial name="Partials/_Filters" />
    </div>
    <div class="column" id="results">

        @if (Model.SearchResults != null && Model.SearchResults.NumFound > 0)
        {
            <div class="columns is-multiline">

                @foreach (var record in Model.SearchResults.Results)
                {

                    ViewBag.SearchMatch = null;


                    @if (Model.SearchResults.Highlights != null &&
                         Model.SearchResults.Highlights.Count() > 0 &&
                         Model.SearchResults.Highlights.Where(x => x.Key == record.Id).First() != null &&
                         Model.SearchResults.Highlights.Where(x => x.Key == record.Id).First().Values.Count() > 0)
                    {
                        ViewBag.SearchMatch = @Model.SearchResults.Highlights.Where(x => x.Key == record.Id).First().Values.First().FriendlyName;
                    }

                    if (record.collection != null)
                    {
                        <div class="column is-full collection">
                            <partial name="Collections/_Snippet" model="record.collection" />
                        </div>
                    }
                    if (record.initiative != null)
                    {
                        <div class="column is-full initiative">
                            <partial name="Initiatives/_Snippet" model="record.initiative" />
                        </div>
                    }
                    if (record.report != null)
                    {
                        <div class="column is-full report">
                            <partial name="Reports/_Snippet" model="record.report" />
                        </div>
                    }
                    if (record.term != null)
                    {
                        <div class="column is-full term">
                            <partial name="Terms/_Snippet" model="record.term" />
                        </div>
                    }
                    if (record.user != null)
                    {
                        <div class="column is-full user">
                            <partial name="Users/_Snippet" model="record.user" />
                        </div>
                    }
                    if (record.group != null)
                    {
                        <div class="column is-full group">
                            <partial name="Groups/_Snippet" model="record.group" />
                        </div>
                    }

                }
            </div>

            <partial name="Partials/_Pagination" />
        }
        else
        {
            <div class="has-text-centered p-5">
                <h5>Not finding what you are looking for?<br><a href="http://reports.riversidehealthcare.net/" target="_blank">Request a New Report here.</a></h5>
                <p>
                    <hr />
                    A few things to consider -<br><br>
                    Are you searching for a private or hidden report? Try out the advanced search filters!<br><br>
                    Is it a new Hyperspace Report? Hyperspace reports typically are not imported until the following business day.<br>
                    Is it a new SSRS Report? SSRS reports typically take two hours to be loaded into the search results.
                </p>
            </div>
        }
    </div>
</div>
