@page
@inject IConfiguration Configuration

@model Atlas_Web.Pages.Search.IndexModel
@{ ViewData["Title"] = "Search " + Model.SearchString;

@if (HttpContext.Request.Headers["x-requested-with"] == "XMLHttpRequest")
{
    Layout = null;
}
else
{
    Layout = "../Shared/_Layout.cshtml";
} }

@{ // url w/out page #
    IEnumerable<dynamic> favs = ViewBag.Favorites;
    var searchUrl = "s=" + Model.SearchString + "&f=" + Model.SearchFilter;
    var searchFavorite = favs.Any(x => x.ItemType.ToLower().Equals("search") && x.ItemName.Equals(searchUrl)); }

<div class="srch">

    <div class="srch-colOne">
        <partial name="Partials/_Filters" />
    </div>
    <div class="srch-colTwo" id="results">
        <div class="srch-results @if(!(ViewBag.UserId == ViewBag.MyId || ViewBag.Permissions.Contains(41))){<text>disabled</text>}" ss-container>

            @if (Model.SearchResults != null && Model.SearchResults.NumFound > 0)
            {

            @foreach (var record in Model.SearchResults.Results)
            {
                var result = record.Result;

               
               var favorite = favs.Any(x => x.ItemType.ToLower().Equals("report") && x.ItemId.Equals(result.Id));
                var RunReportUrl = record.RunUrl;
                var ManageReportUrl = HtmlHelpers.ReportManageUrlFromParams(@Configuration["AppSettings:org_domain"], HttpContext, result.ReportType, result.ReportServerPath, result.SourceServer);
                var EditReportUrl = HtmlHelpers.EditReportFromParams(@Configuration["AppSettings:org_domain"], HttpContext, result.ReportServerPath, result.SourceServer, result.EpicMasterFile, result.EpicTemplateId, result.EpicRecordId);

            <div class="srch-result">

                <!-- fav links -->
                <div class="fav-links">
                    <div class="fav-star">
                        <i fav-type="@result.Type.First()" object-id="@result.AtlasId.First()" class="far fa-star @if (favorite == true) {<text>favorite</text>}"></i>
                    </div>
                    @if (@Configuration["features:enable_sharing"] == null || @Configuration["features:enable_sharing"].ToString().ToLower() == "true")
                    {
                        <div class="fav-share darken" data-toggle="mdl" data-target="shareModal" data-type="report" data-name='@result.Name' data-url="@result.Id">
                            <i class="fas fa-share"></i>
                        </div>
                    }
                    @if (RunReportUrl != null && RunReportUrl != "")
                        {
                        @if (@Configuration["features:enable_request_access"] == null || @Configuration["features:enable_request_access"].ToString().ToLower() == "true"){
                    <div class="fav-access" data-toggle="mdl" data-target="requestAccessModal" data-name="@result.Name" data-name-clean='@result.Name.Replace("_"," ")'>
                        <i class="fas fa-universal-access"></i>
                    </div>
                                                        }}
                </div>


                <!-- fav body -->
                <div class="fav-body @if (result.Type.First() == "collections") {<text>fav-bodyProj</text>} ">
                    <div class="snippet-col">
                        @if (result.Type.First() == "reports")
                                                            {
                        <div class="snippet-left">
                            <figure class="image is-96x96 pop">
                                <img data-src="/data/img?handler=Thumb&id=@result.AtlasId.First()&size=96x96" src="/img/loader.gif" />
                            </figure>
                        </div>}
                        <div class="snippet-right">
                            <h5 class="fav-title" data-toggle="clps" data-target="clps-@result.Id">
                                <span>
                                    @if (result.Documented == "Y")
                                                                        {<span class="text-success"><i class="fas fa-check"></i></span>}



                                    @if (Model.SearchResults.Highlights != null && Model.SearchResults.Highlights.Count() > 0 && @Model.SearchResults.Highlights.Where(x => x.Key == result.Id).First() != null && @Model.SearchResults.Highlights.Where(x => x.Key == result.Id).First().Values.Count() > 0)

                                                                        {<span class="srch-field" style="margin-left:6px;margin-right:0px">@Model.SearchResults.Highlights.Where(x => x.Key == result.Id).First().Values.First().FriendlyName</span>}





                                    @result.Name @if (result.EpicMasterFile != null && result.EpicMasterFile != "" && result.EpicRecordId != null && result.EpicRecordId != "")
                                                                        {<text>&nbsp(@result.EpicMasterFile @result.EpicRecordId)</text>}
                                </span>
                                <div class="fav-type">
                                    @if (result.Certification != null)
                                                                        {
                                    @if (result.Certification.FirstOrDefault() == "Analytics Certified")
                                                    {<span class="srch-fieldHunterGreen">@result.Certification.FirstOrDefault()</span>}
                                    @if (result.Certification.FirstOrDefault() == "Analytics Reviewed")
                                                                            {<span class="srch-fieldGreen">@result.Certification.FirstOrDefault()</span>}
                                    @if (result.Certification.FirstOrDefault() == "Epic Released")
                                                                                                    {<span class="srch-fieldOrange">@result.Certification.FirstOrDefault()</span>}
                                    @if (result.Certification.FirstOrDefault() == "Legacy")
                                                                                                                            {<span class="srch-fieldOrange">@result.Certification.FirstOrDefault()</span>}
                                    @if (result.Certification.FirstOrDefault() == "High Risk")
                                                                                                                                                    {<span class="srch-fieldRed">@result.Certification.FirstOrDefault()</span>}
                                    @if (result.Certification.FirstOrDefault() == "Self-Service")
                                                                                                                                                                            {<span class="srch-fieldBlue">@result.Certification.FirstOrDefault()</span>}}


                                    @if (result.ReportType != null)
                                                                        {<span class="srch-field">
                                        @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(@result.ReportType)

                                    </span>}
                                                                        else if (result.Type != null)
                                                                        {<span class="srch-field">
                                        @System.Threading.Thread.CurrentThread.CurrentCulture.TextInfo.ToTitleCase(@result.Type.FirstOrDefault().ToLower())
                                    </span>}


                                </div>
                            </h5>
                            <h5 class="fav-nav">
                                <a href="@result.Id">Details</a>
                                @if (result.Type.First() == "reports" && record.AttachedFiles.Count() > 0)
                                                                    {
                                <a data-toggle="mdl" data-target="runModal-@result.AtlasId.First()" data-tooltip="Run Report" data-runurl="@RunReportUrl">
                                    Run
                                </a>
                                 }
                                                                                                            else if (result.Type.First() == "reports" && RunReportUrl != null && RunReportUrl != "")
                                                                                                            {
                                <a target="_blank" rel="noopener" href="@RunReportUrl">Run</a> }
                                                                                    else if (result.Type.First() == "reports")
                                                                                    {
                                                                                        if (result.EpicMasterFile == "IDB")
                                                                                        {
                                <div style="position: relative;">
                                    <span class="tt-top" style="color:grey;position: relative;cursor:default" data-tooltip="Open a related dashboard that uses this.">Run</span>
                                </div> }
                                                            else if (EditReportUrl != null && @ViewBag.Permissions.Contains(38))
                                                            {
                                <div style="position: relative;">
                                    <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Open in report library.">Run</span>
                                </div> }
                                                            else
                                                            {
                                <div style="position: relative;">
                                    <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Run from the Hyperspace report library.">Run</span>
                                </div>}
                                                        }
                                @if (result.Type.First() == "reports" && EditReportUrl != null && @ViewBag.Permissions.Contains(38))
                                                                    {
                                <a target="_blank" rel="noopener" href="@EditReportUrl">Edit</a>}
                                @if (result.Type.First() == "reports" && ManageReportUrl != null && @ViewBag.Permissions.Contains(38))
                                                                    {
                                <a target="_blank" rel="noopener" href="@ManageReportUrl">Manage</a>}
                            </h5>

                            <div class="clps fav-dtls" id="clps-@result.Id">

                                <div class="markdown noleft">

                                    @if (@Model.SearchResults.Highlights != null && @Model.SearchResults.Highlights.Count() > 0 && @Model.SearchResults.Highlights.Where(x => x.Key == result.Id).First() != null && @Model.SearchResults.Highlights.Where(x => x.Key == result.Id).First().Values.Where(x => x.Key != "name").Count() > 0)
                                                                        {

                                    @foreach (var stuff in @Model.SearchResults.Highlights.Where(x => x.Key == result.Id).First().Values.Where(x => x.Key != "name"))
                                    {
                                    @if (stuff.Key == "query")
                                    {
                                    @if (@Request.Headers["User-Agent"].ToString().Contains("Trident"))
                                    {
                                    @:Open in Atlas to view query.
    }
                                    else
                                    {
                                    <div class="query-box">
                                        <div class="query-box-inner light ss-preview" id='query-@result.Id' ss-container>
                                            <pre><code class="sql" id="code-@result.Id">@stuff.Value</code></pre>
                                        </div>
                                    </div>} }
                                    else
                                    {
                                       
                                        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(@stuff.Value))
                                    }
                                    }
                                    }
                                   
                                    




                                                                        else if (result.Description != null)
                                                                        {
                                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(String.Join("<br>", @result.Description))) }
                                                else if (result.Email != null)
                                                {
                                    @Html.Raw(@result.Email) }
                        else
                        {
                                    @:Open in Atlas to see details.
    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>}

            <partial name="Partials/_Pagination" /> }
                                                        else
                                                        {
            <div class="srch-none">
                <h5>Not finding what you are looking for?<br><a href="http://reports.riversidehealthcare.net/" target="_blank">Request a New Report here.</a></h5>
                <p>
                    <hr />
                    A few things to consider -<br><br>
                    Are you searching for a private or hidden report? Try out the advanced search filters!<br><br>
                    Is it a new Hyperspace Report? Hyperspace reports typically are not imported until the following business day.<br>
                    Is it a new SSRS Report? SSRS reports typically take two hours to be loaded into the search results.
                </p>
            </div>}

        </div>
    </div>
    <!-- run modals -->
    @if (Model.SearchResults != null && Model.SearchResults.NumFound > 0)
    {

    @foreach (var record in Model.SearchResults.Results){
  var result = record.Result;
    @if (result.Type.First() == "reports" && record.AttachedFiles.Count() > 0){
    <div class="mdl" id="runModal-@result.AtlasId.First()" tabindex="-1">
        <div class="mdl-d mdl-wide">
            <div class="mdl-c">
                <div class="mdl-h">
                    <button type="button" class="close" data-dismiss="mdl">&times;</button>
                    <h2>Run This Report</h2>
                </div>
                <div class="mdl-b content">
                    <p>
                        This is a Crystal Report. Here are the recent run outputs.

                        <ul>
                            @foreach (var r in record.AttachedFiles)
                                                    {
                                                        var url = Helpers.HtmlHelpers.IsEpic(HttpContext) ? "EpicAct:AC_RW_WEB_BROWSER,LaunchOptions:2,runparams:" + HttpContext.Request.Scheme + "://" + HttpContext.Request.Host.Value+"/Data/File?handler=CrystalRun&id="+r.ReportObjectAttachmentId+"|FormCaption="+r.Name+"|ActivityName="+result.Name : "/Data/File?handler=CrystalRun&id="+r.ReportObjectAttachmentId;
                            <li><a href="@url" target="_blank">@r.Name</a><span> ·  @r.CreationDate</span></li>
}
                        </ul>
                    </p>
                    <p>
                        If you need a <strong>newer</strong> dataset request a new run from the Report Library.
                        <ol>
                            <li>Open the Report Library</li>
                            <li>Search for this report</li>
                            <li>Click "view" > click "Request"</li>
                        </ol>
                    </p>
                    <p>
                        ~ after 5 minutes ~
                        <ol>
                            <li>Open My Reports</li>
                            <li>In the lower section of the screen you will find the report listed</li>
                            <li>Click "View Output"</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
    </div>
    }
}
    }
</div>
