@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@page
@model Atlas_Web.Pages.Search.IndexModel
@{
    ViewData["Title"] = "Search " + Model.SearchString;

    @if(HttpContext.Request.Headers["x-requested-with"] == "XMLHttpRequest")
    {
        Layout = null;
    } else 
    {
        Layout = "../Shared/_Layout.cshtml";  
    }
}

@{
    // url w/out page #
    var searchUrl = "s=" + Model.SearchString + "&f=" + Model.SearchFilter;
    var searchFavorite = Model.Favorites.Any(x => x.ItemType.ToLower().Equals("search") && x.ItemName.Equals(searchUrl));
    
}



<div class="srch">
    <div class="srch-colOne">
        <partial name="Partials/_Filters" />
    </div>
    <div class="srch-colTwo" id="results">
        <div class="srch-results @if(!(ViewBag.UserId == ViewBag.MyId || ViewBag.Permissions.Contains(41))){<text>disabled</text>}" ss-container>
            @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
            {
                
                 @* insert data collections *@

                    @if(Model.Collections.Count() > 0){

                        @foreach (var proj in Model.Collections){
                            var projFavorite = Model.Favorites.Any(x => x.ItemType.ToLower().Equals("collection") && x.ItemId.Equals(proj.CollectionId));
                            <div class="srch-result srch-resultProj">
                                <!-- fav links -->
                                <div class="fav-links">
                                    <div class="fav-star">
                                         <i fav-type="collection" object-id="@proj.CollectionId" class="far fa-star @if(projFavorite == true) {<text>favorite</text>}"></i>
                                    </div>
                                    <div class="fav-share darken" data-toggle="mdl" data-target="shareModal" data-type="collection" data-name='@proj.Name' data-url="/Collections?id=@proj.CollectionId">
                                        <i class="fas fa-share"></i>
                                    </div>
                                </div>
                                <!-- fav body -->
                                <div class="fav-body fav-bodyProj">
                                    <h5 class="fav-title"  data-toggle="clps" data-target="clps-@proj.CollectionId">
                                        <span>@proj.Name</span>
                                        <div class="fav-type">
                                            <span class="srch-field">Collection</span>
                                        </div>
                                    </h5>
                                    <h5 class="fav-nav">
                                        <a href="Collections?id=@proj.CollectionId">Open In Atlas</a>
                                    </h5>
                                    <div class="clps fav-dtls" id="clps-@proj.CollectionId">
                                        <div class="markdown noleft">
                                            @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(@proj.Annotation))
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }                      
                    }


                @foreach (var result in Model.SearchResults)
                {
                    
                   
                    var favorite = Model.Favorites.Any(x => x.ItemType.ToLower().Equals("report") && x.ItemId.Equals(result.Id));
                    <div class="srch-result">

                        <!-- fav links -->
                        <div class="fav-links">
                            <div class="fav-star">
                                 <i fav-type="@result.ItemType.ToLower()" object-id="@result.Id" class="far fa-star @if(favorite == true) {<text>favorite</text>}"></i>
                            </div>
                            <div class="fav-share darken" data-toggle="mdl" data-target="shareModal" data-type="report" data-name='@result.Name' data-url="/Reports?id=@result.Id">
                                <i class="fas fa-share"></i>
                            </div>
                            @if (result.ReportUrl != null && result.ReportUrl != "")
                            {
                                <div class="fav-access" data-toggle="mdl" data-target="requestAccessModal" data-name="@result.Name" data-name-clean='@result.Name.Replace("_"," ")'>
                                    <i class="fas fa-universal-access"></i>
                                </div>
                            }
                        </div>


                        <!-- fav body -->
                        <div class="fav-body">
                            <div class="snippet-col">
                                @if (result.Image != null && result.Image != "")
                                {
                        <div class="snippet-left">
                            <div class="thumb">
                                <img data-src="@result.Image" src="/img/loader.gif" />
                            </div>
                        </div>}
                                <div class="snippet-right">
                                <h5 class="fav-title" data-toggle="clps" data-target="clps-@result.Id">
                                    <span>
                                        @if (result.Documented > 0)
                                        {<span class="text-success"><i class="fas fa-check"></i></span>}@if (@result.SearchField != "")
                                        {<span class="srch-field" style="margin-left:6px;margin-right:0px">@result.SearchField</span>}
                                        @result.Name @if (result.EpicMasterFile != null && result.EpicMasterFile != "" && result.EpicRecordId != null && result.EpicRecordId != "")
                                        {<text>&nbsp(@result.EpicMasterFile @result.EpicRecordId)</text>}
                                    </span>
                                    <div class="fav-type">
                                        @if (result.EpicReleased == "Analytics Certified")
                                        {<span class="srch-fieldHunterGreen">@result.EpicReleased</span>}
                                        @if (result.EpicReleased == "Analytics Reviewed")
                                        {<span class="srch-fieldGreen">@result.EpicReleased</span>}
                                        @if (result.EpicReleased == "Epic Released")
                                        {<span class="srch-fieldOrange">@result.EpicReleased</span>}
                                        @if (result.EpicReleased == "Legacy")
                                        {<span class="srch-fieldOrange">@result.EpicReleased</span>}
                                        @if (result.EpicReleased == "High Risk")
                                        {<span class="srch-fieldRed">@result.EpicReleased</span>}
                                        @if (result.EpicReleased == "Self-Service")
                                        {<span class="srch-fieldBlue">@result.EpicReleased</span>}

                                        @if (result.Orphaned > 0)
                                        {<span class="srch-field">Orphaned</span>}
                                        @if (result.Hidden > 0)
                                        {<span class="srch-field">Hidden</span>}<span class="srch-field">
                                            @if (@result.ReportType == "")
                                            {<text>Hidden Type</text>}
                                        else
                                        {@result.ReportType}
                                        </span>
                                    </div>
                                </h5>
                                <h5 class="fav-nav">
                                    <a href="Reports?id=@result.Id">Details</a>
                                    @if (result.ReportUrl != null && result.ReportUrl != "")
                                    {
                        <a target="_blank" rel="noopener" href="@result.ReportUrl">Run</a> }
                                            else
                                            {
                                                if (result.EpicMasterFile == "IDB")
                                                {
                        <div style="position: relative;">
                            <span class="tt-top" style="color:grey;position: relative;cursor:default" data-tooltip="Open a related dashboard that uses this.">Run</span>
                        </div> }
                                                else if (result.EditReportUrl != null && @Model.Permissions.Contains(38))
                                                {
                        <div style="position: relative;">
                            <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Open in report library.">Run</span>
                        </div> }
                                                else
                                                {
                        <div style="position: relative;">
                            <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Login to Hyperspace to run report.">Run</span>
                        </div>}
                                            }
                                    @if (result.EditReportUrl != null && @Model.Permissions.Contains(38))
                                    {
                        <a target="_blank" rel="noopener" href="@result.EditReportUrl">Edit</a>}
                                    @if (result.ManageReportUrl != null && @Model.Permissions.Contains(38))
                                    {
                        <a target="_blank" rel="noopener" href="@result.ManageReportUrl">Manage</a>}
                                </h5>
                                <div class="clps fav-dtls" id="clps-@result.Id" @if (result.SearchField == "Query") { <text> style="min-height:0 !important;" </text> }>

                                        <div class="markdown noleft">
                                            @if (result.Description != null && result.Description != "")
                                            {
                        @if (result.SearchField == "Query")
                        {
                        @if (@Request.Headers["User-Agent"].ToString().Contains("Trident"))
                        {
                        @:Open in Atlas to view query.
                    }
                    else
                    {
                        <div class="query-box">
                            <div class="query-box-inner light ss-preview" id='query-@result.Id' ss-container>
                                <pre><code class="sql" id="code-@result.Id">@result.Description</code></pre>
                            </div>
                        </div>} }
                    else
                    {
                        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(@result.Description))} }
                    else
                    {
                        @:Open in Atlas to see details.
                    }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                            </div>
                }

                 <partial name="Partials/_Pagination" />
            }
            else
            {
                <div class="srch-none">
                    <h5>Not finding what you are looking for?<br><a href="http://reports.riversidehealthcare.net/" target="_blank">Request a New Report here.</a></h5>
                    <p>
                        <hr />
                        A few things to consider -<br><br>
                        Are you searching for a private or hidden report? Try out the advanced search filters!<br><br>
                        Is it a new Hyperspace Report? Hyperspace reports typically are not imported until the following business day.<br>
                        Is it a new SSRS Report? SSRS reports typically take two hours to be loaded into the search results.
                    </p>
                </div>
            }

        </div>
    </div>
</div>
