
@model Atlas_Web.Pages.Groups.IndexModel

<div>
    @{
        var TopRunReports = ViewBag.TopRunReports.Count > 0;
        var ReportRunTime = ViewBag.ReportRunTime.Count > 0;
        var FailedRuns = ViewBag.FailedRuns.Count > 0;
    }

    @if(TopRunReports || ReportRunTime || FailedRuns)
    {
        @if(TopRunReports)
        {
            <h3>Top Run Reports</h3>

            <div class="tab">
                <a class="tab-lnk" href="top-reports-chart">Chart</a>
                <a class="tab-lnk active" href="top-reports-table">Table</a>
            </div>

            <div class="tab-cnt">
                <div class="tab-dta" id="top-reports-chart">
                    <div class="atlas-chart">
                        <div class="ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" alt="loader" /></div>
                        <script type="application/json">
                            @{
                                var TopTen = ViewBag.TopRunReports;
                                var i = 0;
                            }
                            @functions{

                                string Name(string var)
                                {
                                    if(var.Length > 15)
                                    {
                                        return var.Substring(0, 15) + "...";
                                    }
                                    return var;
                                }
                            }
                            {
                                "axis": {
                                    "0": {"title":"seconds"},
                                    "1": {"title":"hits"}
                                },
                                "type": "bar",
                                "height":"400",
                                "title": "Top Reports",
                                "data": [{
                                    "title" : "Run Time (s)",
                                    "axis":"0",
                                    "type": "line",
                                    "units": "(s)",
                                    "data": [
                                            @foreach (var g in TopTen)
                                            {
                                                <text>{ "title": "<a href='@g.Url'>@Name(g.Name)</a>", "data": "@g.RunTime"}</text> @if(i < 9 && i < TopTen.Count-1){<text>,</text>}

                                                @if(i == 9 || i == TopTen.Count -1)
                                                {
                                                    break;
                                                }
                                                i++;
                                            }
                                        ]
                                   },{
                                    "title" : "Runs",
                                    "type": "bar",
                                    "axis": "1",
                                    "data": [
                                            @{
                                                i = 0;
                                            }
                                            @foreach (var g in TopTen)
                                            {
                                                <text>{ "title": "<a href='@g.Url'>@Name(g.Name)</a>", "data": "@g.Hits"}</text> @if(i < 9 && i < TopTen.Count -1){<text>,</text>}
                                                @if(i == 9 || i == TopTen.Count-1)
                                                {
                                                    break;
                                                }
                                                i++;
                                            }
                                        ]
                                   }]
                                }
                        </script>
                    </div>
                </div>

                <div class="tab-dta active" id="top-reports-table">

                    <span class="has-text-grey">Data shown represents the last two years of usage.</span>
                    <div class="table-responsive">
                        <table class="table sort" aria-label="top reports">
                            <thead>
                                <tr>
                                    <th>Report</th>
                                    <th>Type</th>
                                    <th>Total Hits</th>
                                    <th>Average Run Time</th>
                                    <th>Last Run</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var u in ViewBag.TopRunReports)
                                {
                                <tr>
                                    <td><a href="@u.Url">@u.Name</a></td>
                                    <td>@u.Type</td>
                                    <td>@u.Hits</td>
                                    @if (u.RunTime != 0) { <td>@u.RunTime</td>}
                                    else {<td> </td>}
                                    <td>@u.LastRun</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        }

        @if (ReportRunTime)
        {
            <h3>Report Run Time</h3>

            <div class="tab justify-content-start">
                <a class="tab-lnk active" href="run-time-chart">Chart</a>
                <a class="tab-lnk" href="run-time-table">Table</a>
            </div>

            <div class="tab-cnt">
                <div class="tab-dta active " id="run-time-chart">
                    <div class="atlas-chart">
                        <div class="ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" alt="loader" /></div>
                        <script type="application/json">
                            @{
                                var TopTenRun = ViewBag.ReportRunTime;
                                var i = 0;
                            }
                            {
                                "axis": {
                                    "0": {"title":"seconds"},
                                    "1": {"title":"hits"}
                                },
                                "type": "bar",
                                "height":"400",
                                "title": "Report Run Time",
                                "data": [{
                                    "title" : "Run Time (s)",
                                    "axis":"0",
                                    "type": "line",
                                    "units": "(s)",
                                    "data": [
                                            @foreach (var g in TopTenRun)
                                            {
                                                <text>{ "title": "@Name(g.Date)", "data": "@g.Avg"}</text> @if(i < 19 && i < TopTenRun.Count - 1){<text>,</text>}


                                                @if(i == 19 )
                                                {
                                                    break;
                                                }
                                                i++;
                                            }
                                        ]
                                   },{
                                    "title" : "Runs",
                                    "type": "bar",
                                    "axis": "1",
                                    "data": [
                                            @{
                                                i = 0;
                                            }
                                            @foreach (var g in TopTenRun)
                                            {
                                                <text>{ "title": "@Name(g.Date)", "data": "@g.Cnt"}</text> @if(i < 19 && i < TopTenRun.Count - 1){<text>,</text>}
                                                @if(i == 19 )
                                                {
                                                    break;
                                                }
                                                i++;
                                            }
                                        ]
                                   }]
                                }
                        </script>
                    </div>
                </div>


                <div class="tab-dta " id="run-time-table">

                    <span class="has-text-grey">Data shown represents the last two years of usage.</span>
                    <div class="table-responsive">
                        <table class="table sort" aria-label="run time">
                            <thead>
                                <tr>
                                    <th>Week Starting</th>
                                    <th>Total Hits</th>
                                    <th>Average Run Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var u in ViewBag.ReportRunTime)
                                {
                                    <tr>
                                        <td>@u.Date</td>
                                        <td>@u.Cnt</td>
                                        <td>@u.Avg</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            }
            @if(FailedRuns)
            {
                <h3>Failed Runs</h3>
                <div class="table-responsive">
                    <table class="table table-border" aria-label="failed runs">
                        <thead>
                            <tr>
                                <th>Report Name</th>
                                <th>Run Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var run in ViewBag.FailedRuns)
                            {
                                <tr>
                                    <td><a href="@run.Url">@run.Name</a></td>
                                    <td>@run.Date</td>
                                    <td>@run.RunStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        } else {
        <h5>No activity to show</h5>
        <h5>¯\_(ツ)_/¯</h5>
    }
</div>
