@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@


@model Data_Governance_WebApp.Pages.Projects.IndexModel

<h3>Details</h3>
<form asp-page-handler="EditDataProject" method="post">
    <input asp-for="DpDataProject.DataProjectId" value="@Model.DataProject.Id" type="hidden"/>
    <div class="listDetails">
        <label>Name</label>
        <input asp-for="DpDataProject.Name" class="form-control" required value="@Model.DataProject.Name" />

        <label>Operations Owner</label>
        <input type="dynamic-dropdown" asp-for="DpDataProject.OperationOwnerId" value="@Model.DataProject.OpsOwnerId" visible-value="@Model.DataProject.OpsOwner" search-area="UserSearch" />

        <label>Executive Owner</label>
        <input type="dynamic-dropdown" asp-for="DpDataProject.ExecutiveOwnerId" value="@Model.DataProject.ExOwnerId" visible-value="@Model.DataProject.ExOwner" search-area="UserSearch" />
    
        <label>Analytics Owner</label>       
        <input type="dynamic-dropdown" asp-for="DpDataProject.AnalyticsOwnerId" value="@Model.DataProject.AnOwnerId" visible-value="@Model.DataProject.AnOwner" search-area="UserSearch" />

        <label>Data Owner</label>
        <input type="dynamic-dropdown" asp-for="DpDataProject.DataManagerId" value="@Model.DataProject.DataOwnerId" visible-value="@Model.DataProject.DataOwner" search-area="UserSearch" />

        <label>Financial Impact</label>        
        <input type="dynamic-dropdown" asp-for="DpDataProject.FinancialImpact" search-area="financial-impact" method="fullList" visible-value="@Model.DataProject.FnclImpact" value="@Model.DataProject.FnclImpactId" />
   
        <label>Strategic Importance</label>
        <input type="dynamic-dropdown" asp-for="DpDataProject.StrategicImportance" search-area="strategic-importance" method="fullList" visible-value="@Model.DataProject.StrgImport" value="@Model.DataProject.StrgImportId" />
    </div>

    <h3>Purpose</h3>
    <div class="editor" data-inputName="DpDataProject.Purpose" data-inputId="DpDataProject_Purpose"><textarea>@Html.Raw(Model.DataProject.Purpose)</textarea></div>

    <h3>Description</h3>
    <div class="editor" data-inputName="DpDataProject.Description" data-inputId="DpDataProject_Description"><textarea>@Html.Raw(Model.DataProject.Description)</textarea></div>
    <h3><button class="editor-save" type="submit">Save</button></h3>
</form>