@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Projects.IndexModel
<h4 class="pt-2 darken">Reports</h4>
<h5 class="py-2 darken">New Link</h5>
<form asp-page-handler="AddLinkedReport" method="post" class="pl-5">
    <input asp-for="DpReportAnnotation.DataProjectId" type="hidden" value='@Model.DataProject.Id' />
    <input type="dynamic-dropdown" class="head-light" data-head="Name" asp-for="DpReportAnnotation.ReportId" value="" visible-value="" search-area="ReportSearch" />
    <div class="wrapper head-light mt-4" data-head="Annotation">
        <textarea asp-for="DpReportAnnotation.Annotation" rows="1" class="form-control"></textarea>
    </div>
    <div class="wrapper head-light mt-4" data-head="Rank">
        <input class="form-control" asp-for="DpReportAnnotation.Rank" type="number" />
    </div>
    <button type="submit" class="btn btn-link atlas-blue py-0 mb-1"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/></svg></button>
</form>

@if(Model.DataProject.RelatedReports.Count() > 0)
{
    <h4 class="darken">Existing Links</h4>

    @foreach (var t in Model.DataProject.RelatedReports)
    {
        <div class="pl-5">
            <h5 class="my-3 d-flex justify-content-start">
                <a href="Reports?id=@t.ItemId" class="atlas-blue">@t.Name</a>
                <form asp-page-handler="DeleteLinkedReport" method="post">
                    <input asp-for="DpReportAnnotation.ReportAnnotationId" value="@t.Id" type="hidden" />
                    <input asp-for="DpReportAnnotation.DataProjectId" value="@Model.DataProject.Id" type="hidden" />
                    <button type="submit" class="btn btn-link atlas-blue py-0 mb-1"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></button>
                </form>
            </h5>

            <form asp-page-handler="EditLinkedReport" method="post">
                <input asp-for="DpReportAnnotation.ReportAnnotationId" value="@t.Id" type="hidden" />
                <input asp-for="DpReportAnnotation.DataProjectId" value="@Model.DataProject.Id" type="hidden" />
                <div class="wrapper head-light" data-head="Annotation">
                    <textarea id="DpReportAnnotation_Annotation" name="DpReportAnnotation.Annotation" class="form-control" rows="1">@t.Annotation</textarea>
                </div>
                <div class="wrapper head-light" data-head="Rank">
                <input class="form-control" asp-for="DpReportAnnotation.Rank" value="@t.Rank" type="number" />
            </div>
                <button type="submit" class="btn btn-link atlas-blue py-0 mb-1"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/></svg></button>
            </form>
        </div>
    }
}

<h4 class="pt-2 darken">Terms</h4>
<h5 class="py-2 darken">New Link</h5>
<form asp-page-handler="AddLinkedTerm" method="post" class="pl-5">
    <input asp-for="DpTermAnnotation.DataProjectId" type="hidden" value='@Model.DataProject.Id' />
    <input type="dynamic-dropdown" class="head-light" data-head="Name" asp-for="DpTermAnnotation.TermId" value="" visible-value="" search-area="TermSearch" />
    <div class="wrapper head-light mt-4" data-head="Annotation">
        <textarea asp-for="DpTermAnnotation.Annotation" class="form-control" rows="1"></textarea>
    </div>
    <div class="wrapper head-light mt-4" data-head="Rank">
        <input class="form-control"  asp-for="DpTermAnnotation.Rank"  type="number" />
    </div>
    <button type="submit" class="btn btn-link atlas-blue py-0 mb-1"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/></svg></button>
</form>

@if(Model.DataProject.RelatedTerms.Count() > 0){

    <h4 class="darken">Existing Link</h4>

    @foreach (var t in Model.DataProject.RelatedTerms)
    {
        <div class="pl-5">
            <h5 class="my-3 d-flex justify-content-start">
                <a href="Terms?id=@t.ItemId" class="atlas-blue">@t.Name</a>
                <form asp-page-handler="DeleteLinkedTerm" method="post">
                    <input asp-for="DpTermAnnotation.TermAnnotationId" value="@t.Id" type="hidden" />
                    <input asp-for="DpTermAnnotation.DataProjectId" value="@Model.DataProject.Id" type="hidden" />
                    <button type="submit" class="btn btn-link atlas-blue py-0 mb-1"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></button>
                </form>
            </h5>

            <form asp-page-handler="EditLinkedTerm" method="post">
                <input asp-for="DpTermAnnotation.TermAnnotationId" value="@t.Id" type="hidden" />
                <input asp-for="DpTermAnnotation.DataProjectId" value="@Model.DataProject.Id" type="hidden" />
                <div class="wrapper head-light" data-head="Annotation">
                    <textarea id="DpTermAnnotation_Annotation" name="DpTermAnnotation.Annotation" class="form-control" rows="1">@t.Annotation</textarea>
                </div>
                <div class="wrapper head-light" data-head="Rank">
                <input class="form-control" asp-for="DpTermAnnotation.Rank" value="@t.Rank" type="number" />
            </div>
                <button type="submit" class="btn btn-link atlas-blue py-0 mb-1"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M433.941 129.941l-83.882-83.882A48 48 0 0 0 316.118 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V163.882a48 48 0 0 0-14.059-33.941zM224 416c-35.346 0-64-28.654-64-64 0-35.346 28.654-64 64-64s64 28.654 64 64c0 35.346-28.654 64-64 64zm96-304.52V212c0 6.627-5.373 12-12 12H76c-6.627 0-12-5.373-12-12V108c0-6.627 5.373-12 12-12h228.52c3.183 0 6.235 1.264 8.485 3.515l3.48 3.48A11.996 11.996 0 0 1 320 111.48z"/></svg></button>
            </form>
        </div>
    }
}