@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@if (ViewBag.AllDrafts.Count > 0)
{
    var first = ViewBag.AllDrafts[0].DraftId;
    @foreach (var m in ViewBag.AllDrafts)
    {
        <div class="mlbx-msgsMsg @if(m.DraftId == first){<text> active </text>}" data-draft-id="@m.DraftId" data-message-id="@m.MsgId" data-date="@m.Edited">
            <p class="mlbx-msgsMsgSndr">@m.From<span class="float-right">@m.Edited</span></p>
            <p class="mlbx-msgsMsgSbj">@m.Subject.Substring(0, Math.Min(m.Subject.Length, 40))&nbsp;</p>
            <p class="mlbx-msgsMsgMsg">@m.Message.Substring(0, Math.Min(m.Message.Length, 40))&#8230;</p>
        </div>
        <div class="mlbx-dvdr"></div>
    }
}
