@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Reports.IndexModel
<div class="comments">
    <h4 class="comments-title darken">@ViewBag.Comments.Count Comments</h4>

    <div class="comments-group">
        <form asp-page-handler="NewComment" class="comments-form">
            <input asp-for="NewComment.ReportObjectId" type="hidden" value="@ViewBag.Id" />
            <input type="nice-input" data-initial-content="Add a comment.." asp-for="NewCommentReply.MessageText" class="submit" value=""/>
        </form>

        @if (ViewBag.Comments.Count > 0)
        {
            var ConvoId = 0;
            @foreach (var comment in ViewBag.Comments)
            {
                @if(comment.ConvId != ConvoId) {
                    <div class="comments-msg">
                        <div class="comments-msgHdr">
                            <h6><strong>@comment.User</strong><span class="comments-date"> · @comment.Date</span></h6>
                            <div class="comments-cntrls">
                                @if (ViewBag.Permissions.Contains(25))
                                {
                                    <form asp-page-handler="DeleteCommentStream" class="comments-form">
                                        <input asp-for="NewComment.ConversationId" value="@comment.ConvId" type="hidden" />
                                        <input asp-for="NewComment.ReportObjectId" value="@ViewBag.Id" type="hidden" />
                                        <button type="submit" class="comments-btn atlas-blue"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></button>
                                    </form>
                                }
                                <button class="comments-btn atlas-blue" data-toggle="clps" data-target="message-@comment.MessId" type="button"><i class="fas fa-reply"></i></button>
                            </div>
                        </div>
                        <p class="comments-txt">@comment.Text</p>
                    </div>
                    <div class="clps" id="message-@comment.MessId">
                        <div class="comments-newReply">
                            <form asp-page-handler="NewComment" method="post" class="comments-form">
                                <input asp-for="NewComment.ReportObjectId" type="hidden" value="@ViewBag.Id" />
                                <input asp-for="NewComment.ConversationId" type="hidden" value="@comment.ConvId" />
                                <input type="nice-input" data-initial-content="Add a reply.." asp-for="NewCommentReply.MessageText" class="submit" />
                            </form>
                        </div>
                    </div>
                }
                else
                {
                    <div class="comments-newMsgReply">
                        <div class="comments-msgHdr">
                            <h6><strong>@comment.User</strong><span class="comments-date"> · @comment.Date</span></h6>

                            @if (ViewBag.Permissions.Contains(25))
                            {
                                <form asp-page-handler="DeleteComment" class="comments-form">
                                    <input asp-for="NewCommentReply.MessageId" value="@comment.MessId" type="hidden" />
                                    <input asp-for="NewComment.ReportObjectId" value="@ViewBag.Id" type="hidden" />
                                    <button type="submit" class="comments-btn  atlas-blue" style="margin-top:-8px; padding-right:0;"><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16zM53.2 467a48 48 0 0 0 47.9 45h245.8a48 48 0 0 0 47.9-45L416 128H32z"/></svg></button>
                                </form>
                            }
                        </div>
                        <p class="comments-txt">@comment.Text</p>
                    </div>

                }
                ConvoId = comment.ConvId;
            }
        }
    </div>
</div>