@page
@model Atlas_Web.Pages.Analytics.IndexModel
@{ ViewData["Title"] = "Analytics"; }

@*
@section js {
    <script async src="/js/realtime.min.js" defer></script>
}
*@
<h1 class="title is-1">Analytics</h1>

<div id="active-users"></div>

<div class="is-flex is-justify-content-space-between">
<h3 class="title is-3">Access History</h3>
<div class="dropdown is-select"  data-target="views-chart" >
        <div class="dropdown-trigger ">
            <button class="button" aria-haspopup="true" aria-controls="views-chart-dropdown">
            <span class="select-value">Last 24 hours</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            </button>
        </div>
        <div class="dropdown-menu" id="views-chart-dropdown"role="menu">
            <div class="dropdown-content">
            <a href="#" class="dropdown-item" data-range="1">
                Today
            </a>
            <a class="dropdown-item is-active" data-range="2">
                Last 24 hours
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="3">
                This week
            </a>
            <a href="#" class="dropdown-item" data-range="4">
                Last 7 days
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="5">
            This month
            </a>
            <a href="#" class="dropdown-item" data-range="6">
            Last 30 days
            </a>
            <a href="#" class="dropdown-item" data-range="7">
            Last 90 days
            </a>
            <a href="#" class="dropdown-item" data-range="8">
            This year
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="9">
                All time
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="10">
                Custom range
            </a>
            </div>
        </div>
    </div>
</div>
<div id="views-chart" data-ajax="yes" data-url="/Analytics/Visits" data-param="" style="min-height:400px;"></div>

<h2 class="title is-2">Last 7 Days - Top Ten</h2>

<div class="is-flex is-justify-content-space-between">
    <h3 class="title is-3">Most Active Users</h3>
    <div class="dropdown is-select"  data-target="top-users-chart" >
        <div class="dropdown-trigger ">
            <button class="button" aria-haspopup="true" aria-controls="top-users-chart-dropdown">
            <span class="select-value">Last 24 hours</span>
            <span class="icon is-small">
                <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
            </button>
        </div>
        <div class="dropdown-menu" id="top-users-chart-dropdown"role="menu">
            <div class="dropdown-content">
            <a href="#" class="dropdown-item" data-range="1">
                Today
            </a>
            <a class="dropdown-item is-active" data-range="2">
                Last 24 hours
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="3">
                This week
            </a>
            <a href="#" class="dropdown-item" data-range="4">
                Last 7 days
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="5">
            This month
            </a>
            <a href="#" class="dropdown-item" data-range="6">
            Last 30 days
            </a>
            <a href="#" class="dropdown-item" data-range="7">
            Last 90 days
            </a>
            <a href="#" class="dropdown-item" data-range="8">
            This year
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="9">
                All time
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" data-range="10">
                Custom range
            </a>
            </div>
        </div>
    </div>
</div>
<div id="top-users-chart" data-ajax="yes" data-url="/Analytics/TopUsers" data-param="" style="min-height:400px;"></div>

<h3 class="title is-3">Most Popular Pages</h3>

<div class="atlas-chart">
    <div class="ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" /></div>
    <script type="application/json">
        @{
            var TopTenTwo = Model.TopPages.Take(10);
            var lastTwo = TopTenTwo.Last();
        }
        {
            "axis": {
                "0": {"title":"seconds"},
                "1": {"title":"visits"}
            },
            "type": "bar",
            "height":"400",
            "title": "Top Pages",
            "data": [{
                "title" : "Load Time (s)",
                "axis":"0",
                "type": "line",
                "units": "(s)",
                "data": [
                        @foreach (var g in TopTenTwo)
                        {
                            <text>{ "title": "@g.Name", "data": "@g.Time"}</text> @if(g != lastTwo){<text>,</text>}
                        }
                    ]
               },{
                "title" : "Visits",
                "type": "bar",
                "axis": "1",
                "data": [
                        @foreach (var g in TopTenTwo)
                        {
                            <text>{ "title": "@g.Name", "data": "@g.Count"}</text> @if(g != lastTwo){<text>,</text>}
                        }
                    ]
               }]
            }
    </script>
</div>


<h3 class="title is-3">Search Access History</h3>

<div class="atlas-chart">
    <div class="ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" /></div>
    <script type="application/json">
        {
            "axis": {
                "0": {"title":"searches"}
            },
            "type": "bar",
            "height":"400",
            "title": "Monthly Atlas Searches",
            "data": [{
                "title" : "Searches",
                "axis":"0",
                "type": "bar",
                "data": [
                        @foreach (var g in Model.SearchHistory)
                        {
                            <text>{ "title": "@g.Month", "data": "@g.Hits"}</text> @if(g != Model.SearchHistory.Last()){<text>,</text>}
                        }
                    ]
               }]
            }
    </script>
</div>

<h3 class="title is-3">Report Access History</h3>

<div class="atlas-chart">
    <div class="ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" /></div>
    <script type="application/json">
        {
            "axis": {
                "0": {"title":"visits"}
            },
            "type": "bar",
            "height":"400",
            "title": "Monthly Atlas Report Access",
            "data": [{
                "title" : "Visits",
                "axis":"0",
                "type": "bar",
                "data": [
                        @foreach (var g in Model.ReportHistory)
                        {
                            <text>{ "title": "@g.Month", "data": "@g.Hits"}</text> @if(g != Model.ReportHistory.Last()){<text>,</text>}
                        }
                    ]
               }]
            }
    </script>
</div>


<h3 class="title is-3">Term Access History</h3>

<div class="atlas-chart">
    <div class="ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" /></div>
    <script type="application/json">
        {
            "axis": {
                "0": {"title":"visits"}
            },
            "type": "bar",
            "height":"400",
            "title": "Monthly Atlas Term Access",
            "data": [{
                "title" : "Visits",
                "axis":"0",
                "type": "bar",
                "data": [
                        @foreach (var g in Model.TermHistory)
                        {
                            <text>{ "title": "@g.Month", "data": "@g.Hits"}</text> @if(g != Model.TermHistory.Last()){<text>,</text>}
                        }
                    ]
               }]
            }
    </script>
</div>
