@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Atlas_Web.Pages.Collections.IndexModel


@if(Model.Collection.Description != null)
{
    <h3>Description</h3>
    <div class="markdown">
        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Collection.Description))
    </div>
}

@if(Model.Collection.Purpose != null)
{
    <h3>Search Summary</h3>
    <div class="markdown">
        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Collection.Purpose))
    </div>
}

<h3>Details</h3>
<div class="listDetails">
       
    <span class="listDetails-title">Last Updated By</span>
    <span>@Model.Collection.UpdatedBy</span>

    <span class="listDetails-title">Last Updated</span>
    <span>@Model.Collection.UpdateDate</span>

    @if (Model.Collection.Hidden == "Y")
{
    <span class="listDetails-title">Hidden?</span>
    <span>Yes</span>
}
</div>
