

@model Atlas_Web.Pages.Collections.IndexModel
@inject IConfiguration Configuration

@if (ViewBag.RelatedReports.Count > 0)
{
<h3>Linked Reports</h3>
                @foreach (var t in ViewBag.RelatedReports)
                {
<div class="snippet">
    <div class="snippet-col">
    @if (t.Image != null && t.Image != "")
    {
<div class="snippet-left">
    
                            <figure class="image is-96x96 pop">
                                <img data-src="/data/img?handler=Thumb&id=@t.Image&size=96x96" src="/img/loader.gif" />
                            </figure>
                        </div>}
    <div class="snippet-right">
    <h4>
        @t.Name
    <div class="fav-type">
        @if (t.CertTag == "Analytics Certified")
        {<span class="srch-fieldHunterGreen">@t.CertTag</span>}
        @if (t.CertTag == "Analytics Reviewed")
        {<span class="srch-fieldGreen">@t.CertTag</span>}
        @if (t.CertTag == "Epic Released")
        {<span class="srch-fieldOrange">@t.CertTag</span>}
        @if (t.CertTag == "Legacy")
        {<span class="srch-fieldOrange">@t.CertTag</span>}
        @if (t.CertTag == "High Risk")
        {<span class="srch-fieldRed">@t.CertTag</span>}
        @if (t.CertTag == "Self-Service")
        {<span class="srch-fieldBlue">@t.CertTag</span>}

        <span class="srch-field">
            @t.ReportType
        </span>
    </div>
</h4>
<h5 class="fav-nav">
    <a class="drop-link" href="/reports?id=@t.ItemId">Details</a>
    @if (t.RunReportUrl != null && t.RunReportUrl != "")
    {
<a class="drop-link" target="_blank" href="@t.RunReportUrl">Run</a> }
                    else
                    {
                        if (t.EpicMasterFile == "IDB")
                        {
<div style="position: relative;">
    <span class="tt-top" style="color:grey;position: relative;cursor:default" data-tooltip="Open a related dashboard that uses this.">Run</span>
</div> }
                        else if (t.EditReportUrl != null && @Model.Permissions.Contains(38))
                        {
<div style="position: relative;">
    <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Open in report library.">Run</span>
</div> }
                        else
                        {
<div style="position: relative;">
    <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Run from the Hyperspace report library.">Run</span>
</div>}
                    }
    @if (t.EditReportUrl != null && t.EditReportUrl != "" && @Model.Permissions.Contains(38))
    {
<a class="drop-link" target="_blank" href="@t.EditReportUrl">Edit</a>}
    @if (t.ManageReportUrl != null && t.ManageReportUrl != "" && @Model.Permissions.Contains(38))
    {
<a class="drop-link" taget="_blank" href="@t.ManageReportUrl">Manage</a>}
</h5>

        <div class="markdown">
            @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(t.Annotation))
        </div>
    </div>
</div>

</div>}}

@if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
{
@if (ViewBag.RelatedTerms.Count > 0)
{

<h3>Terms</h3>
                @foreach (var t in ViewBag.RelatedTerms)
                {
<div class="snippet">
    <h4>
        @t.Name
</h4>

        <h5><a class="drop-link" href="Terms?id=@t.ItemId">Open This Term</a></h5>
        <div class="markdown">
            @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(t.Annotation))
        </div>
    </div>
    }
}
}
