@page
@inject IConfiguration Configuration

@model Atlas_Web.Pages.Groups.IndexModel
@{
    ViewData["Title"] = @Model.Group.Name;
    ViewBag.GroupId = @Model.Group.Id;
}


<h1 class="title is-1">@Model.Group.Name</h1>

<partial name="_Links" />

<section class="tab-cnt">
    <div class="tab-dta active" id="details">
        <h3>Details</h3>

        <div class="table-container">
            <table class="table is-narrow" aria-label="Details">
                @if (Model.Group.Email != "" && Model.Group.Email != null)
                {
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            @Model.Group.Email
                        </td>
                    </tr>
                }
                <tr>
                    <td>
                        Type
                    </td>
                    <td>
                        @Model.Group.Type
                    </td>
                <tr>
                    <td>
                        Source
                    </td>
                    <td>
                        @Model.Group.Source
                    </td>
            </table>
        </div>
    </div>
    <div class="tab-dta" id="users">
        @if (Model.GroupUsers.Count() > 0)
        {
<h3>Users With This Group</h3>
                <div class="table-responsive">
                    <table class="table sort" aria-label="users with this group">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Epic Id</th>
                                <th>Employee Id</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model.GroupUsers)
                            {
            <tr>
                <td>@if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {<a href="\Users?id=@s.Id">@s.Name</a>} else {@s.Name}</td>
                <td>
                    @if (s.Email != "")
                    {<a href="mailto:@s.Email">@s.Email</a>}
            </td>
            <td>@s.Phone</td>
            <td>@s.EpicId</td>
            <td>@s.EmployeeId</td>
        </tr>}
                        </tbody>
                    </table>
                </div> }
            else
            {
<h3>No Users With This Group</h3>}
    </div>

    <div class="tab-dta" id="reports">
        @if (Model.GroupReports.Count() > 0)
        {
<h3>Reports With This Group</h3>
                <div class="table-responsive">
                    <table class="table sort" aria-label="reports with this group">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Last Updated</th>
                                <th># Subscriptions</th>
                                <th># Favorites</th>
                                <th># Runs (2yrs)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var s in Model.GroupReports)
                            {
            <tr>
                <td><a href="\Reports?id=@s.Id">@s.Name</a></td>
                <td>@s.LastUpdated</td>
                <td>@s.Subscriptions</td>
                <td>@s.Favs</td>
                <td>@s.Runs</td>
            </tr>
}
                        </tbody>
                    </table>
                </div> }
            else
            {
<h3 class="pageSection-title">No Reports With This Group</h3>}
    </div>
    <div class="tab-dta" id="activity">
        <div data-ajax="yes" data-url="/Groups?handler=Activity" data-param="id=@Model.Group.Id"></div>
    </div>
    @if (ViewBag.Permissions.Contains(36))
    {
        <div class="tab-dta" id="analytics">
            @section js {
                <script src="/js/analytics.min.js" defer async></script>
            }
            <partial name="Analytics/Partials/_Index" />
        </div>
    }
</section>
