@inject IConfiguration Configuration
@inject IMemoryCache Cache
@using Newtonsoft.Json;
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div class="is-flex">@if(!string.IsNullOrEmpty(Cache.Get<string>("logo")))
                                {
                                   <img src="@Cache.Get("logo")" width="133" height="40" alt="site logo" />
                                } else {
                                    <img class="logo" src="/img/atlas-a-logo.svg" width="35" height="35" alt="site logo" />
                                    <h2 class="logo-text">
                                    <span class="logo-text-slash">/</span>
                                    library
                                </h2>
                                }</div>
                <p class="mt-4 mb-2">
                     @Configuration["footer:subtitle"]
                </p>
                <p class="has-text-grey mt-4">
                &copy; @DateTime.Now.Year @Configuration["AppSettings:org_name"]

                @if(!string.IsNullOrEmpty(Cache.Get<string>("version")))
                {
                    <text> | Release @Cache.Get("version")</text>
                }
                </p>
            </div>
            <div class="column"></div>
             @if(Configuration.GetSection("footer:links").GetChildren().Count() > 0){
                @foreach(var l in Configuration.GetSection("footer:links").GetChildren()){
                    <div class="column has-text-centered">
                        <strong>@l.Key</strong>
                        <ul>
                            @foreach (var item in Configuration.GetSection(l.Path).GetChildren())
                            {
                                <li>
                                    <a href="@item.Value" target="_blank">@item.Key</a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    </div>
</footer>
<button id="back-to-top" class="button back-to-top" role="button">
    <span class="icon">
        <i class="fas fa-caret-up fa-lg"></i>
    </span>
</button>
