@using Helpers
@using Microsoft.Extensions.Caching.Memory
@inject IMemoryCache Cache

<!DOCTYPE html>
<html lang="en-us">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/site.min.css" />
    <style type="text/css" minify>@Cache.Get("global_css")</style>

    <link rel="preload" href="/js/main.min.js" as="script" />
    <link rel="preload" href="/js/search.min.js" as="script" />

    @RenderSection("css", required: false)

    @if (ViewData["Title"] != null && ViewData["Title"].ToString().Length > 0)
    {
        <title>@ViewData["Title"] | Atlas BI Library</title>
    }
    else
    {
        <title>Home | Atlas BI Library</title>
    }

    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/fontawesome/webfonts/fa-regular-400.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/fontawesome/webfonts/fa-solid-900.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/rasa/files/rasa-latin-600-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/inter/files/inter-latin-500-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/inter/files/inter-latin-700-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
</head>
<body>
    <!-- site message -->
    @if (@ViewData["SiteMessage"] != null && @ViewData["SiteMessage"].ToString() != "")
    {
        <div class="notification is-light is-info has-text-centered my-0">
            @Html.Raw(HtmlHelpers.MarkdownToHtml(@ViewData["SiteMessage"].ToString()))
        </div>
    }

    <!-- site message from config -->
    @if (@Configuration["banner_text:site_message"] != null && @Configuration["banner_text:site_message"].ToString() != "")
    {
        <div class="notification is-light is-link has-text-centered my-0">
            @Html.Raw(HtmlHelpers.MarkdownToHtml(@Configuration["banner_text:site_message"]))
        </div>
    }

    <nav class="navbar is-transparent atlas-navbar has-shadow sticky">
        <div class="container">
            <div class="navbar-brand">
                <a href="/">
                    <img src="/img/atlas-logo.png" width="162" height="50" />
                </a>
                <a role="button"
                   class="navbar-burger"
                   aria-label="menu"
                   aria-expanded="false"
                   data-target="atlas-main-nav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-start is-flex is-flex-grow-1 is-align-items-center px-3 pt-5">
                <form id="search-form" class="is-flex is-flex-grow-1 is-align-items-center mx-3 is-relative">
                    <div id="search-background"></div>
                    <div class="control has-icons-left is-flex-grow-1">
                        <span class="icon is-small is-left has-text-grey-lighter"><i class="fas fa-search"></i></span>
                        <input class="input" type="text" placeholder="@ViewBag.SearchPlaceholder" value='@{try
                                {@Model.SearchString}catch{}}' maxlength="80" required />
                    </div>
                    <!--<div id="search-suggestions"></div>-->
                </form>
            </div>
            <div class="navbar-menu is-flex-grow-0" id="atlas-main-nav">
                <div class="navbar-end">
                    @{ var r = new Random();
                        var randomNumber = r.Next(); }
                    <a class="navbar-item" href="/#mail">
                        <span class="icon is-medium is-relative">
                            <i class="far fa-lg fa-envelope"></i>
                            <span title="mail count" class="badge" id="nav_unread_message_count">0</span>
                        </span>
                        <span class="hide-desktop">Mail</span>
                    </a>

                    @if (@ViewBag.Permissions.Contains(1) || ViewBag.Permissions.Contains(18) || ViewBag.Permissions.Contains(33) || ViewBag.Permissions.Contains(34))
                    {
        <div class="navbar-item has-dropdown is-hoverable is-boxed">
            <div class="navbar-link is-arrowless">
                <span class="icon is-medium">
                    <i class="fas fa-lg fa-wrench"></i>
                </span>
                <span class="hide-desktop">Administrative</span>
            </div>
            <div class="navbar-dropdown">
                <hr class="hide-desktop dropdown-divider">
                @if (ViewBag.Permissions.Contains(33) || ViewBag.Permissions.Contains(34) || ViewBag.Permissions.Contains(18) || ViewBag.Permissions.Contains(1))
                {
<a class="navbar-item" href="/settings">Settings</a>}
                @if (ViewBag.Permissions.Contains(36))
                {
<a class="navbar-item" href="/analytics">Analytics</a>}
                <a class="navbar-item" href="/tasks">Tasks</a>
            </div>
        </div>}

                    <!-- main report groups -->
                    <div class="navbar-item has-dropdown is-hoverable is-boxed">
                        <div class="navbar-link is-arrowless">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-list-ul"></i>
                            </span>
                            <span class="hide-desktop">Sections</span>
                        </div>
                        <div class="navbar-dropdown">
                            <hr class=" hide-desktop dropdown-divider">
                            @if (@Configuration["features:enable_initiatives"] == null || @Configuration["features:enable_initiatives"].ToString().ToLower() == "true")
                            {
                <a class="navbar-item" href="/initiatives">Initiatives</a>}
                            <a class="navbar-item" href="/collections">Collections</a>
                            @if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
                            {
                <a class="navbar-item" href="/terms">Terms</a>}
                            <hr class="dropdown-divider">
                            <a class="navbar-item" href="/about_analytics">About Analytics</a>
                        </div>
                    </div>
                    @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {
        <a class="navbar-item has-tooltip-arrow has-tooltip-bottom" href="/users" data-tooltip="Open Profile">
            <span class="icon is-medium">
                <i class="fas fa-lg fa-user"></i>
            </span>
            <span class="hide-desktop">Profile</span>
        </a>}

                    @if (ViewBag.Permissions.Contains(44))
                    {
        <div class="navbar-item has-dropdown is-hoverable is-boxed">
            <div class="navbar-link">
                @{ var ph = "";
                    if (ViewBag.MyRole != null && ViewBag.MyRole.Name != null && ViewBag.MyRole.Name != "")
                    {
                        ph = ViewBag.MyRole.Name;
                    }
                    else
                    {
                        ph = "change role";
                    } }
                @ph
            </div>
            <div class="navbar-dropdown" id="role-change">
                <hr class=" hide-desktop dropdown-divider">
            </div>
        </div>

                        <script>
                            q = new XMLHttpRequest();
                            q.open('post', '/Search?handler=ValueList&s=user-roles', true);
                            q.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                            q.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                            q.send();
                            q.onload = function () {
                                var data = JSON.parse(q.responseText);
                                var el = document.getElementById('role-change');
                                for (var x in data) {
                                    el.innerHTML += "<a class='navbar-item' href='/Users?handler=ChangeRole&Id=" + data[x].ObjectId + "&Url=" + window.location.href.replace(window.location.origin, '') + "'>" + data[x].Name + "</a>";
                                }
                            };
                        </script>}

                    <!-- epic navigation -->
                    @if (Helpers.HtmlHelpers.IsEpic(ViewContext.HttpContext) == true)
                    {
        <a class="navbar-item" onclick="history.back()">
            <span class="icon is-medium">
                <i class="fas fa-chevron-left"></i>
            </span>
        </a>
                        <a class="navbar-item" onclick="history.forward()">
                            <span class="icon is-medium">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>}
                </div>
            </div>
        </div>
    </nav>
    <section class="section my-5 py-0">
        <div class="container">
            <nav class="breadcrumb">
            </nav>
        </div>
    </section>


    <section class="is-flex-grow-1">
        <div class="container is-relative mb-5">
            <div class="columns">
                <div class="column is-narrow side-links" style="z-index: 1;">
                    @if (IsSectionDefined("SideBar"))
                    {
        @RenderSection("SideBar") }
                    else if (IsSectionDefined("Side_Links"))
                    {
        <aside class="menu sticky">
            <ul>
                @RenderSection("Side_Links", false)
            </ul>
        </aside>}
                </div>
                <div class="column body-mainCtn">
                    @RenderBody()
                </div>

                @if (IsSectionDefined("AdBar"))
                {
    @RenderSection("AdBar") }
                else
                {
    <div class="column is-narrow-tablet is-hidden-mobile" id="AdColTwo" style="max-width:20%;">
        <!-- sidebar -->
        @if (ViewBag.AdLists != null)
        {
<div id="related-reports"></div>
                    @foreach (var ad in ViewBag.AdLists)
                    {
<div class="col" data-ajax="yes" data-url="@ad.Url"></div>}}
    </div>}
            </div>
        </div>
    </section>
    <partial name="_Footer" />

    <div class="mail-notification-container"></div>
    <partial name="_Messagebox" />

    <!-- IE11 polyfill must come first -->
    <script src="/js/polyfill.min.js"></script>
    <script src="/js/shared.min.js"></script>
    <script src="/js/search.min.js" defer></script>
    <script src="/js/utility.min.js" defer></script>
    <script src="/js/main.min.js" defer></script>
    <script src="/js/profile.min.js" defer></script>
    <script src="/js/editor.min.js" defer></script>

    @RenderSection("js", required: false)

    <script>
        (function(){
            try {
                new Function('async () => {}')();
                console.log("loading code highlight")

                var element = document.createElement("script");
                element.type = 'text/javascript';
                element.src = "@this.AddBundleVersionToPath("/js/code.min.js")";
                document.body.appendChild(element);
            } catch (error) {
            }
        })()
    </script>


</body>
</html>
