@using Helpers
@using Microsoft.Extensions.Caching.Memory
@inject IMemoryCache Cache
@inject IConfiguration Configuration
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/site.min.css" />



    <link rel="preload" href="/js/main.min.js" as="script" />
    <link rel="preload" href="/js/search.min.js" as="script" />

    @RenderSection("css", required: false)

    @if (ViewData["Title"] != null && ViewData["Title"].ToString().Length > 0)
    {
    <title>@ViewData["Title"] | Atlas BI Library</title>
    }
    else
    {
    <title>Home | Atlas BI Library</title>
    }

    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/fontawesome/webfonts/fa-regular-400.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/fontawesome/webfonts/fa-solid-900.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/inter/files/inter-latin-500-normal.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />

    <!-- temp preload until fonts are removed -->
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/lib/fonts/impmin/subset-NYTImperial-Regular.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/lib/fonts/impmin/subset-NYTImperial-Bold.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/lib/fonts/cheltmin/subset-NYTCheltenham-Medium.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/lib/fonts/cheltmin/subset-NYTCheltenham-Bold.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/lib/fonts/cheltmin/subset-NYTCheltenhamWide-Regular.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/lib/fonts/sfmin/subset-SFProDisplay-Medium.woff2", Cache, Configuration)" as="font" type="font/woff2" crossorigin />
</head>
<body>
    <!-- site message -->
    @if (@ViewData["SiteMessage"] != null && @ViewData["SiteMessage"].ToString() != "")
    {
    <div class="site-message">
        <img src="/img/wave.png" class="site-messageImg" />
        <p class="site-messageText">
            @Html.Raw(HtmlHelpers.MarkdownToHtml(@ViewData["SiteMessage"].ToString()))
        </p>
        <button class="site-messageClose"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512"><path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" /></svg></button>
    </div>
    }
    @if (@Configuration["banner_text:site_message"] != null && @Configuration["banner_text:site_message"].ToString() != "")
    {
        <div class="notification is-light is-link has-text-centered my-0">
            @Html.Raw(HtmlHelpers.MarkdownToHtml(@Configuration["banner_text:site_message"]))
        </div>
    }
    <nav class="navbar is-transparent atlas-navbar has-shadow">
        <div class="container">
            <div class="navbar-brand">
                <a href="/">
                    <img src="/img/atlas-logo.png" width="162" height="50" />
                </a>
                <a role="button"
                   class="navbar-burger"
                   aria-label="menu"
                   aria-expanded="false"
                   data-target="atlas-main-nav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-start is-flex is-flex-grow-1 is-align-items-center px-3 pt-5"><!-- search --></div>
            <div class="navbar-menu is-flex-grow-0" id="atlas-main-nav">
                <div class="navbar-end">
                    @{ var r = new Random();
                                    var randomNumber = r.Next(); }
                    <a class="navbar-item" href="/?@randomNumber#mail">
                        <span class="icon is-medium is-relative">
                            <i class="far fa-lg fa-envelope"></i>
                            <span title="mail count" class="badge" id="nav_unread_message_count">0</span>
                        </span>
                        <span class="hide-desktop">Mail</span>
                    </a>

                    @if (@Model.Permissions.Contains(1) || Model.Permissions.Contains(18) || Model.Permissions.Contains(33) || Model.Permissions.Contains(34))
                    {
                    <div class="navbar-item has-dropdown is-hoverable is-boxed">
                        <div class="navbar-link is-arrowless">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-wrench"></i>
                            </span>
                            <span class="hide-desktop">Administrative</span>
                        </div>
                        <div class="navbar-dropdown">
                            <hr class="hide-desktop dropdown-divider">
                            @if (Model.Permissions.Contains(18) || Model.Permissions.Contains(1))
                                {
                            <a class="navbar-item" href="/accesscontrol">Access Control</a>
                                }
                            @if (Model.Permissions.Contains(33) || Model.Permissions.Contains(34))
                                {
                            <a class="navbar-item" href="/parameters">Parameters</a>
                                }
                            @if (Model.Permissions.Contains(36))
                                {
                            <a class="navbar-item" href="/analytics">Analytics</a>
                                }
                            <a class="navbar-item" href="/tasks">Tasks</a>
                        </div>
                    </div>
                    }

                    <!-- main report groups -->
                    <div class="navbar-item has-dropdown is-hoverable is-boxed">
                        <div class="navbar-link is-arrowless">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-list-ul"></i>
                            </span>
                            <span class="hide-desktop">Sections</span>
                        </div>
                        <div class="navbar-dropdown">
                            <hr class=" hide-desktop dropdown-divider">
                            @if (@Configuration["features:enable_initiatives"] == null || @Configuration["features:enable_initiatives"].ToString().ToLower() == "true")
                            {
                                <a class="navbar-item" href="/initiatives">Initiatives</a>
                            }
                            <a class="navbar-item" href="/collections">Collections</a>
                            @if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
                            {
                                <a class="navbar-item" href="/terms">Terms</a>
                            }
                            <hr class="dropdown-divider">
                            <a class="navbar-item" href="/about_analytics">About Analytics</a>
                        </div>
                    </div>
                    @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {
                    <a class="navbar-item" href="/users}" data-tooltip="Open Profile">
                        <span class="icon is-medium">
                            <i class="fas fa-lg fa-user"></i>
                        </span>
                        <span class="hide-desktop">Profile</span>
                    </a>
                    }

                    @if (Model.Permissions.Contains(44))
                    {
                        <div class="navbar-item has-dropdown is-hoverable is-boxed">
                            <div class="navbar-link">
                                @{ var ph = "";
                                        if (ViewBag.MyRole != null && ViewBag.MyRole.Name != null && ViewBag.MyRole.Name != "")
                                        {
                                            ph = ViewBag.MyRole.Name;
                                        }
                                        else
                                        {
                                            ph = "change role";
                                        } }
                                @ph
                            </div>
                            <div class="navbar-dropdown" id="role-change">
                                <hr class=" hide-desktop dropdown-divider">
                            </div>
                        </div>

                        <script>
                            q = new XMLHttpRequest();
                            q.open('post', '/Search?handler=ValueList&s=user-roles', true);
                            q.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                            q.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                            q.send();
                            q.onload = function () {
                                var data = JSON.parse(q.responseText);
                                var el = document.getElementById('role-change');
                                for (var x in data) {
                                    el.innerHTML += "<a class='navbar-item' href='/Users?handler=ChangeRole&Id=" + data[x].ObjectId + "&Url=" + window.location.href.replace(window.location.origin, '') + "'>" + data[x].Name + "</a>";
                                }
                            };
                        </script>
                    }

                    <!-- epic navigation -->
                    @if (Helpers.HtmlHelpers.IsEpic(Context) == true)
                    {
                        <a class="navbar-item"onclick="history.back()">
                            <span class="icon is-medium">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                        </a>
                        <a class="navbar-item"onclick="history.forward()">
                            <span class="icon is-medium">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </nav>
    <section class="section my-5 py-0">
            <div class="container">
                <nav class="breadcrumb">
                </nav>
            </div>
    </section>


    <section class="is-flex-grow-1">
        <div class="container is-relative">
            @if(IsSectionDefined("SearchBar"))
            {
                @RenderSection("SearchBar")
            } else {
                @if (@Model.Permissions.Contains(19))
                {
                    var search_placeholder = "type to search..";

                    @if (Context.Request.Path == "/users")
                    {
                        search_placeholder = "search for users..";
                    }
                    else if (Context.Request.Path == "/terms")
                    {
                        search_placeholder = "search for terms..";
                    }
                    else if (Context.Request.Path == "/collections")
                    {
                        search_placeholder = "search for collections..";
                    }
                    else if (Context.Request.Path == "/initiatives")
                    {
                        search_placeholder = "search for initiatives..";
                    }
                    else if (Context.Request.Path == "/groups")
                    {
                        search_placeholder = "search for groups..";
                    }

                    <div class="columns">
                        <div class="column">
                            <div class="sr-grp">
                                <input type="text" placeholder="@search_placeholder" value='@{try
                                        {@Model.SearchString}catch{}}' maxlength="80" required />
                                <!--<icon class="sr-fav"><i class="far fa-star"></i></icon>-->
                                <icon><svg class="icon-sm" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z" /></svg></icon>
                                <div class="sr-hst"></div>
                            </div>
                        </div>
                        <div class="column is-one-third is-hidden-mobile"></div>
                    </div>
                }
            }
            <div class="columns">
                <div class="column is-narrow">
                    @if(IsSectionDefined("SideBar")){
                        @RenderSection("SideBar")
                    } else if (IsSectionDefined("Side_Links"))
                    {
                        <aside class="menu sticky">
                            <ul>
                                @RenderSection("Side_Links", false)
                            </ul>
                        </aside>
                    }
                </div>
                <div class="column body-mainCtn">
                    @RenderBody()
                </div>

                @if(IsSectionDefined("AdBar"))
                {
                    @RenderSection("AdBar")
                } else {
                    <div class="column is-one-third is-hidden-mobile" id="AdColTwo">
                    <!-- sidebar -->
                        @if (ViewBag.AdLists != null)
                        {
                        <div id="related-reports"></div>
                        @foreach (var ad in ViewBag.AdLists)
                            {
                        <div class="col" data-ajax="yes" data-url="@ad.Url"></div>}}
                    </div>
                }
            </div>
        </div>
        </section>
        <partial name="_Footer" />


    <div class="prg"><div class="prg-b" style="width: 0%"></div></div>
    <div class="mail-notification-container"></div>
    <partial name="_Messagebox" />
    <partial name="modals\_Modals" />
    <partial name="modals\_image" />

    <!-- IE11 polyfill must come first -->
    <script src="/js/polyfill.min.js"></script>
    <script src="/js/shared.min.js"></script>
    <script src="/js/search.min.js" defer></script>
    <script src="/js/utility.min.js" defer></script>
    <script src="/js/main.min.js" defer></script>
    <script src="/js/profile.min.js" defer></script>

    @RenderSection("js", required: false)

    <script>
        (function(){
            try {
                new Function('async () => {}')();
                console.log("loading code highlight")

                var element = document.createElement("script");
                element.type = 'text/javascript';
                element.src = "@this.AddBundleVersionToPath("/js/code.min.js")";
                document.body.appendChild(element);
            } catch (error) {
            }
        })()
    </script>

   
</body>
</html>
