@using Helpers
@using Microsoft.Extensions.Caching.Memory
@inject IMemoryCache Cache

<!DOCTYPE html>
<html lang="en-us">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/site.min.css" />
    <style type="text/css" minify>@Cache.Get("global_css")</style>




    @RenderSection("css", required: false)

    @if (ViewData["Title"] != null && ViewData["Title"].ToString().Length > 0)
    {
        <title>@ViewData["Title"] | Atlas BI Library</title>
    }
    else
    {
        <title>Home | Atlas BI Library</title>
    }

    <script src="/js/polyfill.min.js"></script>
    <script src="/js/purify.min.js"></script>
    <script src="/js/shared.min.js"></script>
    <script src="/js/hyperspace.min.js"></script>

    <link rel="preload" href="/js/purify.min.js" as="script" />
    <link rel="preload" href="/js/polyfill.min.js" as="script" />
    <link rel="preload" href="/js/alive.min.js" as="script" />
    <link rel="preload" href="/js/search.min.js" as="script" />
    <link rel="preload" href="/js/utility.min.js" as="script" />
    <link rel="preload" href="/js/main.min.js" as="script" />
    <link rel="preload" href="/js/profile.min.js" as="script" />
    <link rel="preload" href="/js/editor.min.js" as="script" />

    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/fontawesome/webfonts/fa-regular-400.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/fontawesome/webfonts/fa-solid-900.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/rasa/files/rasa-latin-600-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/inter/files/inter-latin-400-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/inter/files/inter-latin-500-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/inter/files/inter-latin-600-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/inter/files/inter-latin-700-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="@Helpers.UrlHelpers.FontHash("/font/source-code-pro/files/source-code-pro-latin-400-normal.woff2", Cache)" as="font" type="font/woff2" crossorigin />

    <script>
        __jsnlog_configure = function (JL) {
        JL.setOptions({
            "defaultAjaxUrl":"/analytics/trace"
        })
        };
        try { __jsnlog_configure(JL); } catch(e) {};
    </script>
</head>
<body class="is-flex is-flex-direction-column has-background-white">
    <!-- site message -->
    @if (@ViewData["SiteMessage"] != null && @ViewData["SiteMessage"].ToString() != "")
    {
        <div class="notification is-light is-info has-text-centered my-0">
            @Html.Raw(HtmlHelpers.MarkdownToHtml(@ViewData["SiteMessage"].ToString(), Configuration))
        </div>
    }

    <!-- site message from config -->
    @if (@Configuration["banner_text:site_message"] != null && @Configuration["banner_text:site_message"].ToString() != "")
    {
        <div class="notification is-light is-link has-text-centered my-0">
            @Html.Raw(HtmlHelpers.MarkdownToHtml(@Configuration["banner_text:site_message"], Configuration))
        </div>
    }

    <nav class="navbar is-transparent atlas-navbar has-shadow is-sticky is-align-items-center">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="@Cache.Get("logo")" width="133" height="40" alt="site logo" />
                </a>
                <a role="button"
                   class="navbar-burger"
                   aria-label="menu"
                   aria-expanded="false"
                   data-target="atlas-main-nav">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-start is-flex is-flex-grow-1 is-align-items-center px-3 pt-5">
                <form id="search-form" class="is-flex is-flex-grow-1 is-align-items-center mx-3 is-relative">
                    <div id="search-background"></div>
                    <div class="control has-icons-left is-flex-grow-1">
                        <span class="icon is-small is-left has-text-grey-lighter"><i class="fas fa-magnifying-glass"></i></span>
                        <input class="input" type="text" placeholder="@ViewBag.SearchPlaceholder" value='@{try
                                {@Model.SearchString}catch{}}' maxlength="80" required />
                    </div>
                    <!--<div id="search-suggestions"></div>-->
                </form>
            </div>
            <div class="navbar-menu is-flex-grow-0" id="atlas-main-nav">
                <div class="navbar-end">
                    @* @{ var r = new Random();
                        var randomNumber = r.Next(); }
                    <a class="navbar-item" href="/#mail" aria-label="mail">
                        <span class="icon is-medium is-relative">
                            <i class="far fa-lg fa-envelope"></i>
                            <span title="mail count" class="badge" id="nav_unread_message_count">0</span>
                        </span>
                        <span class="hide-desktop">Mail</span>
                    </a> *@

                    @if (User.HasPermission("Edit User Permissions") || User.HasPermission("Edit Role Permissions") || User.HasPermission("Create Parameters") || User.HasPermission("Delete Parameters"))
                    {
                        <div class="navbar-item has-dropdown is-hoverable is-boxed">
                            <div class="navbar-link is-arrowless">
                                <span class="icon is-medium">
                                    <i class="fas fa-lg fa-wrench"></i>
                                </span>
                                <span class="icon is-small">
                                    <i class="fa-solid fa-caret-down"></i>
                                </span>
                            </div>
                            <div class="navbar-dropdown">
                                <hr class="hide-desktop dropdown-divider">

                                @if (User.HasPermission("Create Parameters") || User.HasPermission("Delete Parameters") || User.HasPermission("Edit Role Permissions") || User.HasPermission("Edit User Permissions"))
                                {
                                    <a class="navbar-item" href="/settings">Settings</a>
                                }

                                @if (User.HasPermission("View Site Analytics"))
                                {
                                    <a class="navbar-item" href="/analytics">Analytics</a>
                                }

                                <a class="navbar-item" href="/tasks">Tasks</a>

                                @if (User.HasPermission("View Site Analytics"))
                                {
                                    <hr class="dropdown-divider">
                                    <a class="navbar-item" href="/profile">Report Activity</a>
                                }

                            </div>
                        </div>
                    }

                    <!-- main report groups -->
                    <div class="navbar-item has-dropdown is-hoverable is-boxed">
                        <div class="navbar-link is-arrowless">
                            <span class="icon is-medium">
                                <i class="fas fa-lg fa-list-ul"></i>
                            </span>
                            <span class="icon is-small">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                        </div>
                        <div class="navbar-dropdown">
                            <hr class=" hide-desktop dropdown-divider">
                            @if (@Configuration["features:enable_initiatives"] == null || @Configuration["features:enable_initiatives"].ToString().ToLower() != "false")
                            {
                                <a class="navbar-item" href="/initiatives">Initiatives</a>
                            }
                            <a class="navbar-item" href="/collections">Collections</a>
                            @if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() != "false")
                            {
                                <a class="navbar-item" href="/terms">Terms</a>
                            }
                            @if(Configuration.GetSection("nav:links").GetChildren().Count() > 0){
                                @foreach(var l in Configuration.GetSection("nav:links").GetChildren()){
                                    <a class="navbar-item"href="@l.Value" target="_blank">@l.Key</a>
                                }
                            }
                            <hr class="dropdown-divider">
                            <a class="navbar-item" href="/about_analytics">About Analytics</a>
                        </div>
                    </div>

                    @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() != "false")
                    {
                        <div class="navbar-item has-dropdown is-hoverable is-boxed">
                            <div class="navbar-link is-arrowless">
                                <span class="icon is-medium">
                                <i class="fas fa-lg fa-user"></i>
                            </span>
                            <span class="icon is-small">
                                <i class="fa-solid fa-caret-down"></i>
                            </span>
                            </div>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="/users">Your profile</a>
                                <a class="navbar-item" href="/users#stars">Your stars</a>
                                <hr class="dropdown-divider">
                                <a class="navbar-item" href="/users/settings">Settings</a>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="navbar-item">
                            <div class="field toggle">
                                <input type="hidden" id="enable-administrator" value="@User.HasAdminEnabled()">
                                <input id="switch-enable-administrator" type="checkbox" name="switch-enable-administrator" class="switch is-rounded is-info"
                                @if(@User.HasAdminEnabled() == "Y"){
                                    <text>checked="checked"</text>
                                } >
                                <label class="py-0" for="switch-enable-administrator"><strong>Admin</strong></label>
                            </div>
                        </div>
                    }

                    <!-- epic navigation -->
                    @if (ViewContext.HttpContext.IsHyperspace())
                    {
                        <a class="navbar-item" onclick="history.back()">
                            <span class="icon is-medium">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                        </a>
                        <a class="navbar-item" onclick="history.forward()">
                            <span class="icon is-medium">
                                <i class="fas fa-chevron-right"></i>
                            </span>
                        </a>
                    }
                </div>
            </div>
        </div>
    </nav>
    @if (@Configuration["features:enable_breadcrumbs"] == null || @Configuration["features:enable_breadcrumbs"].ToString().ToLower() != "false")
    {
        <section class="section py-0">
            <div class="container">
                <nav class="breadcrumb site-breadcrumbs">
                </nav>
            </div>
        </section>
    }

    <section class="is-flex-grow-1 mt-4">
        <div class="container is-relative mb-5">
            <div class="columns">
                <div class="column is-narrow side-links" style="z-index: 2;">
                    @if (IsSectionDefined("SideBar"))
                    {
                        @RenderSection("SideBar")
                    }
                    else if (IsSectionDefined("Side_Links"))
                    {
                        <aside class="menu is-sticky">
                            <ul>
                                @RenderSection("Side_Links", false)
                            </ul>
                        </aside>
                    }
                </div>
                <div class="column body-mainCtn">
                    @RenderBody()
                </div>

                @if (IsSectionDefined("AdBar"))
                {
                    @RenderSection("AdBar")
                }
                else
                {
                    <div class="column is-narrow-tablet is-hidden-mobile" id="AdColTwo" style="max-width:20%;">
                        <!-- sidebar -->
                        @if (ViewBag.AdLists != null)
                        {
                            <div id="related-reports"></div>
                            @foreach (var ad in ViewBag.AdLists)
                            {
                                <div class="col" data-ajax="yes" data-url="@ad.Url"></div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
    </section>
    <partial name="_Footer" />

    <div class="mail-notification-container"></div>
    <partial name="_Messagebox" />


    <script src="/js/alive.min.js"></script>
    <script src="/js/search.min.js" defer></script>
    <script src="/js/utility.min.js" defer></script>
    <script src="/js/main.min.js" defer></script>
    <script src="/js/profile.min.js" defer></script>
    <script src="/js/editor.min.js" defer></script>
    <script>
        (function(){
            try {
                new Function('async () => {}')();
                console.log("loading code highlight")
                var element = document.createElement("script");
                element.type = 'text/javascript';
                element.src = "@this.AddBundleVersionToPath("/js/code.min.js")";
                document.body.appendChild(element);
            } catch (error) {
            }
        })()
    </script>
    @RenderSection("js", required: false)
</body>
</html>
