@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Reports.IndexModel
@{
    var m = Model ?? ViewBag;
}

@if (m.ManageEngineTickets.Count > 0)
{
    <h5 class="pt-2">Current Tickets</h5>
    @foreach (var t in m.ManageEngineTickets)
    {
        <form asp-page-handler="RemoveMeTicket" method="post" class="form-inline" id="report-editor-remove-meticket-form">
            
            <button type="submit" value="Remove" class="btn btn-link text-primary py-0" onclick="return confirm('Are you sure you want to remove this link?');">
                <i class="fas fa-trash-alt"></i>
            </button>
            <a target="_blank"  rel="noopener" class="atlas-blue" href="@t.Url" data-tooltip="@t.Description">@t.Number</a>
            <input type="hidden" asp-for="ManageEngineTicket.ReportObjectId" value="@t.ReportId" />
            <input type="hidden" asp-for="ManageEngineTicket.ManageEngineTicketsId" value="@t.Id" />
        </form>
    }
    <h5 class="pt-2">Add a Ticket</h5>
}