@if (@Model.SearchResults.LastPage > 1)
{
    <div style="margin-bottom:50px">
        <nav aria-label="navigation">
            <ul class="pagination pt-4" style="justify-content:center!important">
                <li class="page-item @(Model.SearchResults.Parameters.EffectivePageIndex == 1 ? "disabled" : "")">
                    <a class="page-link"  tabindex="-1"href="@UrlHelpers.SetSearchPageUrl(ViewContext.HttpContext, Model.SearchResults.Parameters, Model.SearchResults.Parameters.EffectivePageIndex - 1)">&laquo;</a>
                </li>
                @foreach (var p in Model.SearchResults.Pages)
                {
                    <li class="page-item @(p == Model.SearchResults.Parameters.EffectivePageIndex ? "active" : "")">
                        <a class="page-link" href="@UrlHelpers.SetSearchPageUrl(ViewContext.HttpContext,  Model.SearchResults.Parameters, @p)">@p</a>
                    </li>
                }
                <li class="page-item @(Model.SearchResults.Parameters.EffectivePageIndex == Model.SearchResults.LastPage ? "disabled" : "")">
                    <a class="page-link"href="@UrlHelpers.SetSearchPageUrl(ViewContext.HttpContext,  Model.SearchResults.Parameters, Model.SearchResults.Parameters.EffectivePageIndex + 1)">&raquo;</a>
                </li>
            </ul>
        </nav>
        <div style="margin-left:45px;margin-top:10px">@Model.SearchResults.NumFound results found in @Model.SearchResults.QTime milliseconds</div>
    </div>
}
