@if (@Model.SearchResults.LastPage > 1)
{
    <div>
        <nav aria-label="pagination is-small">
            <ul class="pagination-list">
                @if(Model.SearchResults.Parameters.EffectivePageIndex > 1)
                {
                    <li>
                        <a class="pagination-previous" tabindex="-1" href="@UrlHelpers.SetSearchPageUrl(ViewContext.HttpContext, Model.SearchResults.Parameters.EffectivePageIndex - 1)">&laquo;</a>
                    </li>
                }
                @foreach (var p in Model.SearchResults.Pages)
                {
                    <li>
                        <a class="pagination-link @(p == Model.SearchResults.Parameters.EffectivePageIndex ? "is-current" : "")" href="@UrlHelpers.SetSearchPageUrl(ViewContext.HttpContext, @p)">@p</a>
                    </li>
                }
                @if(Model.SearchResults.Parameters.EffectivePageIndex != Model.SearchResults.LastPage){
                    <li>
                        <a class="pagination-next" href="@UrlHelpers.SetSearchPageUrl(ViewContext.HttpContext, Model.SearchResults.Parameters.EffectivePageIndex + 1)">&raquo;</a>
                    </li>
                }
            </ul>
        </nav>
        <div class="my-4">
            <small class="has-text-grey">@Model.SearchResults.NumFound results found in @Model.SearchResults.QTime milliseconds</small>
        </div>
    </div>
}
