@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Initiatives.IndexModel
<div class="pageTitle">
    <h2 class="pageTitle-head">
        <span>@Model.DataInitiative.Name</span>
    </h2>
    @if (Model.DataInitiative.RelatedProjects.Count() > 0)
    {
        <div class="pageNav">
            <a href="#details" class="pageNav-link">Details</a>
            <a href="#projects" class="pageNav-link">Linked Projects and Reports</a>
        </div>
    }
</div>


<section class="pageSection">
    <span class="location" id="details"></span>


    @if (Model.DataInitiative.OpOwnerId != null || Model.DataInitiative.ExOwnerId != null)
    {
        <h3>Owners</h3>
    }
    <p>
        @if (Model.DataInitiative.OpOwnerId != null)
        {
            @:Operational<span class="text-light">&nbsp;&middot;&nbsp;@Model.DataInitiative.OpOwner</span><br>
        }

        @if (Model.DataInitiative.ExOwnerId != null)
        {
            @:Executive<span class="text-light">&nbsp;&middot;&nbsp;@Model.DataInitiative.ExOwner</span>
        }
    </p>
    @if (Model.DataInitiative.FinancialImpId != null || Model.DataInitiative.StrategicImpId != null)
    {
        <h3>Impact</h3>
    }

    @if (Model.DataInitiative.FinancialImpId != null)
    {
        @:Financial<span class="text-light">&nbsp;&middot;&nbsp;@Model.DataInitiative.FinancialImp</span><br>


    }

    @if (Model.DataInitiative.StrategicImpId != null)
    {
        @:Strategic<span class="text-light">&nbsp;&middot;&nbsp;@Model.DataInitiative.StrategicImp</span>
    }

    @if (Model.DataInitiative.Description != null && Model.DataInitiative.Description != "")
    {
        <h3>Description</h3>
        <div class="markdown">
            @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.DataInitiative.Description))
        </div>
    }

    @if (Model.DataInitiative.RelatedContacts.Count() > 0)
    {
        <h3>External Contacts</h3>
        @foreach (var c in Model.DataInitiative.RelatedContacts)
        {
            <span>@c.Name @@ @c.Company </span><br>
        }
    }
    <h3>Details</h3>
    <div class="listDetails">
        <span class="listDetails-title">Last Updated By</span>
        <span>@Model.DataInitiative.UpdatedBy</span>

        <span class="listDetails-title">Last Updated</span>
        <span>@Model.DataInitiative.UpdateDate</span>
    </div>
</section>
<section class="pageSection">
    <span class="location" id="projects"></span>
    @if (Model.DataInitiative.RelatedProjects.Count() > 0)
    {
        <h3>Linked Projects</h3>

        @foreach (var d in @Model.DataInitiative.RelatedProjects)
        {
            <h4 class="drop" data-toggle="clps" data-target="collapse-@(d.Id)">@d.Name
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
            </h4>

            <div id="collapse-@(d.Id)" class="clps">
                <div class="drop-box">
                    <h5>
                        <a class="drop-link" href="Projects?id=@d.Id" >Open This Project</a>
                    </h5>
                    @if (d.RelatedReports.Count() > 0)
                    {
                        <h5>Linked Reports</h5>

                        @foreach (var r in d.RelatedReports)
                        {
                            <h6>
                                <a href="Reports?id=@r.Id">@r.Name</a>
                            </h6>
                            @if(r.Annotation != null && r.Annotation != "")
                            {
                                <div class="markdown">
                                    @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(r.Annotation))
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        }
    }
</section>