@model Atlas_Web.Pages.Profile.IndexModel

@if(ViewBag.ReportRuns.Count > 0){
<div class="table-responsive">
    <table class="table sort">
        <thead>
            <tr>
                <th>Name</th>
                @if(@ViewBag.ReportRuns[0].Type != null){
                    <th>Type</th>
                }

                <th>Runs</th>
                <th>Last Run</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ReportRuns)
            {
                <tr>
                    <td>
                        @if(@item.Url != null)
                        {
                            <a href="@item.Url">@item.Name</a>
                        } else
                        {
                            @item.Name
                        }
                    </td>
                    @if(@item.Type != null)
                    {
                        <td>@item.Type</td>
                    }
                    <td>@item.Runs</td>
                    <td>@item.LastRun</td>
                </tr>
            }
        </tbody>
    </table>
</div>
} else {
    <div>No run data to show.</div>
}
