<div>
    <span class="has-text-grey">New (edited) Undocumented Reports (Workbench, SSRS, Dashboard, and Crystal)</span>
    <div class="table-responsive">
        <table class="table sort">
            <thead>
                <tr>
                    <th>Report Name</th>
                    <th>Report Type</th>
                    <th>Last Modified By</th>
                    <th>Runs</th>
                    <th>Favorite?</th>
                    <th>Last Modified</th>
                    <th>Last Run</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in ViewBag.NewUndocumented)
                {
                    <tr>
                        <td><a href="\reports?id=@t.ReportObjectId">@t.Name</a></td>
                        <td>@t.ReportType</td>
                        <td>@t.ModifiedBy</td>
                        <td>@t.Runs</td>
                        <td>@t.Favorite</td>
                        <td>@t.LastMaintained</td>
                        <td>@t.LastRun</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
