@page
@model Atlas_Web.Pages.Users.IndexModel
@{
    ViewData["Title"] = @Model.UserDetails.FullnameCalc;
    var FirstName = @Model.UserDetails.FirstnameCalc;
}

<h1 class="title is-1">

    @if(@Model.UserId == @Model.MyId)
    {
       <text>Hi, @FirstName</text>
    } else {
        <text>You are viewing @FirstName's Profile</text>
    }
</h1>

<partial name="_Links" />

<section class="tab-cnt">
    <div class="tab-dta @if (@Model.UserId == @Model.MyId){ <text>active</text>}" id="favorites">
        <div data-ajax="yes" data-url="/Users/Favorites" data-param="id=@Model.UserId"></div>
    </div>
   <!--  @if (@Model.UserId == @Model.MyId){
        <div class="tab-dta " id="mail">
            <div data-ajax="yes" data-url="/Mail?handler=GetMailbox" data-param="id=@Model.UserId"></div>
        </div>
    } -->

    <div class="tab-dta" id="subscriptions">
        <div data-ajax="yes" data-url="/Users?handler=Subscriptions" data-param="id=@Model.UserId"></div>
    </div>
    <div class="tab-dta @if (@Model.UserId != @Model.MyId){ <text>active</text>}" id="activity">
        <div data-ajax="yes" data-url="/Users?handler=Activity" data-param="id=@Model.UserId"></div>
    </div>
    <div class="tab-dta" id="atlas-history">
        <div data-ajax="yes" data-url="/Users?handler=History" data-param="id=@Model.UserId"></div>
    </div>
    <div class="tab-dta" id="groups">
        <div data-ajax="yes" data-url="/Users?handler=Groups" data-param="id=@Model.UserId"></div>
    </div>
</section>
