@page
@model Atlas_Web.Pages.Users.IndexModel
@{
    ViewData["Title"] = @Model.UserDetails.FullnameCalc;
    var FirstName = @Model.UserDetails.FirstnameCalc;
    var FullName = @Model.UserDetails.FullnameCalc;
}

<h1 class="title is-1">
    @{
        ViewBag.UserId = Model.UserId;
    }
    @if(@Model.UserId == @Model.MyId)
    {
       <text>Hi, @FirstName</text>
    } else {
        <text>You are viewing @FullName's Profile</text>
    }
</h1>

<partial name="_Links" />

<section class="tab-cnt">
    <div class="tab-dta @if (@Model.UserId == @Model.MyId){ <text>active</text>}" id="favorites">
        <div data-ajax="yes" data-url="/Users/Favorites" data-parameters="id=@Model.UserId"></div>
    </div>
   <!--  @if (@Model.UserId == @Model.MyId){
        <div class="tab-dta " id="mail">
            <div data-ajax="yes" data-url="/Mail?handler=GetMailbox" data-parameters="id=@Model.UserId"></div>
        </div>
    } -->

    <div class="tab-dta" id="subscriptions">
        <div data-ajax="yes" data-url="/Users?handler=Subscriptions" data-parameters="id=@Model.UserId"></div>
    </div>
    <div class="tab-dta @if (@Model.UserId != @Model.MyId){ <text>active</text>}" id="activity">
        @{
            ViewBag.ProfileType = "user";
            ViewBag.ProfileId = Model.UserId;
        }
        <partial name="Profile/Partials/_FullProfile" />
    </div>
    <div class="tab-dta" id="atlas-history">
        <div data-ajax="yes" data-url="/Users?handler=History" data-parameters="id=@Model.UserId"></div>
    </div>
    <div class="tab-dta" id="groups">
        <div data-ajax="yes" data-url="/Users?handler=Groups" data-parameters="id=@Model.UserId"></div>
    </div>
    @if (ViewBag.Permissions.Contains(36))
    {
        <div class="tab-dta" id="analytics">
            @section js {
                <script src="/js/analytics.min.js" defer async></script>
            }
            <partial name="Analytics/Partials/_Index" />
        </div>
    }
</section>
