@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Atlas_Web.Pages.Collections.IndexModel

<h3>New Agreement</h3>
<form asp-page-handler="AddAgreement" method="post">
    <input asp-for="MyDpAgreement.DataProjectId" type="hidden" value='@Model.Collection.Id' />

    <div class="listDetails">
        <label>Meeting Date</label>
        <input asp-for="MyDpAgreement.MeetingDate" required type="date" />

        <label>Effective Date</label>
        <input asp-for="MyDpAgreement.EffectiveDate" required type="date" />
     
        <label>Rank</label>
        <input asp-for="MyDpAgreement.Rank" type="number" />
        
        <label>Participants</label>
        <select type="dynamic-dropdown" class="head-light" data-head="Participants" asp-for="DpAgreementUsers" value="" visible-value="" search-area="UserSearch" ></select>
    </div>
    
    <h3>Description</h3>
    <div class="editor" data-inputName="MyDpAgreement.Description" data-inputId="MyDpAgreement_Description"></div>

    <h3><button class="editor-save" type="submit">Save</button></h3>

</form>

@if(Model.Collection.Agreements.Count() > 0)
{
    <h3>Existing Agreements</h3>

    @foreach (var a in Model.Collection.Agreements)
    {
        <h4 class="drop" data-toggle="clps" data-target="collapse-agreement-editor-@(a.Id)">Edit <span class="text-green">@a.Description.Substring(0,Math.Min(30,@a.Description.Length)) ...</span> Agreement
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
        </h4>

        <div id="collapse-agreement-editor-@(a.Id)" class="clps">
            <div class="drop-box">
                <h5><a class="drop-link" href="/Collections?handler=RemoveAgreement&id=@a.Id">Delete This Agreement</a></h5>

                <form asp-page-handler="EditAgreement" method="post">
                    <input asp-for="MyDpAgreement.DataProjectId" type="hidden" value='@Model.Collection.Id' />
                    <input asp-for="MyDpAgreement.AgreementId" type="hidden" value="@a.Id" />
            
                    <div class="listDetails">
                        <label>Meeting Date</label>
                        <input asp-for="MyDpAgreement.MeetingDate" required type="date" value="@a.MeetingDate" />

                        <label>Effective Date</label>
                        <input asp-for="MyDpAgreement.EffectiveDate" required type="date" value="@a.EffectiveDate"  />
                     
                        <label>Rank</label>
                        <input asp-for="MyDpAgreement.Rank" type="number" value="@a.Rank"  />
                        
                        <label>Participants</label>

                        <select type="dynamic-dropdown" class="head-light" data-head="Participants" asp-for="DpAgreementUsers" value="" visible-value="" search-area="UserSearch">
                            @foreach(var t in a.Users){
                                <option selected="selected" value="@t.Id">@t.Name</option>
                            }
                        </select>                           
                    </div>

               
                    <h3>Description</h3>
                    <div class="editor" data-inputName="MyDpAgreement.Description" data-inputId="MyDpAgreement_Description"><textarea>@a.Description</textarea></div>

                    <h3><button class="editor-save" type="submit">Save</button></h3>
                </form>
            </div>
        </div>       
    }

}
