
@model Atlas_Web.Pages.Collections.IndexModel

<h3>Details</h3>
<form asp-page-handler="EditCollection" method="post">
    <input asp-for="Collection.DataProjectId" value="@Model.Collection.DataProjectId" type="hidden"/>
    <div class="listDetails">
        <label>Name</label>
        <input asp-for="Collection.Name" class="form-control" required value="@Model.Collection.Name" />

        <label>Hide Report?</label>
            <div class='form-check' >
                <input type="checkbox" id="DoNotPurge" />
                <input type="hidden" asp-for="Collection.Hidden" value="@Model.Collection.Hidden">
            </div>
    </div>

    <h3>Search Summary</h3>
    <div class="editor" data-inputName="DpDataProject.Purpose" data-inputId="DpDataProject_Purpose"><textarea>@Html.Raw(Model.Collection.Purpose)</textarea></div>

    <h3>Description</h3>
    <div class="editor" data-inputName="DpDataProject.Description" data-inputId="DpDataProject_Description"><textarea>@Html.Raw(Model.Collection.Description)</textarea></div>
    <h3><button class="editor-save" type="submit">Save</button></h3>
</form>
