
@model Atlas_Web.Pages.Collections.IndexModel

<h1 class="title is-1">@Model.Collection.Name</h1>
<partial name="_Links" />

@if(@Model.Collection.Initiative != null)
{
    <h2 class="title is-2" id="reports">Owning Initiative</h2>
    <div class="columns is-multiline">
        <div class="column is-half ">
            <partial name="Initiatives/_Snippet" model="@Model.Collection.Initiative" />
        </div>
    </div>
}


@if (Model.Collection.CollectionReports.Any())
{
    <h2 class="title is-2" id="reports">Reports</h2>
    <div class="columns is-multiline">
        @foreach (var t in Model.Collection.CollectionReports.OrderBy(x => x.Rank))
        {
            <div class="column is-half ">
                <partial name="Reports/_Snippet" model="t.Report" />
            </div>
        }
    </div>
}

@if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
{
    @if (Model.Collection.CollectionTerms.Any())
    {
        <h2 class="title is-2" id="terms">Terms</h2>
        <div class="columns is-multiline">
            @foreach (var t in Model.Collection.CollectionTerms.OrderBy(x => x.Rank))
            {
                <div class="column is-half ">
                    <partial name="Terms/_Snippet" model="t.Term" />
                </div>
            }
        </div>
    }
}

<h2 class="title is-2" id="details">Details</h2>
<div class="content">
@if(Model.Collection.Description != null)
{
    <h3 class="title is-3">Description</h3>
    <div class="markdown">
        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Collection.Description))
    </div>
}

@if(Model.Collection.Purpose != null)
{
    <h3 class="title is-3">Search Summary</h3>
    <div class="markdown">
        @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Collection.Purpose))
    </div>
}
</div>

<div class="table-container mt-5">
    <table class="table is-narrow" aria-label="details">
        <tbody>
            <tr>
                <td>Last Updated By</td>
                <td>
                    @if (@Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {
                        <a href="/users?id=@Model.Collection.LastUpdateUser">@Model.Collection.LastUpdateUserNavigation.FullnameCalc</a>
                    } else
                    {
                        @Model.Collection.LastUpdateUserNavigation.FullnameCalc
                    }
                </td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td>@Model.Collection.LastUpdatedDateDisplayString</td>
            </tr>
            @if (Model.Collection.Hidden == "Y")
            {
                <tr>
                    <td>Hidden from Search?</td>
                    <td>Yes</td>
                </tr>
            }
        </tbody>
    </table>
</div>
