@inject IConfiguration Configuration

@model Atlas_Web.Pages.Collections.IndexModel

<div class="mdl" id="editModal" tabindex="-1">
    <div class="mdl-d editorMdl">
        <div class="mdl-c editorMdl-inner">
            <div class="editorMdl-title">
                <h2 class="editorMdl-titleText">Editing <span class="text-green">@Model.Collection.Name</span><button type="button" class="editorMdl-close" data-dismiss="mdl" data-tooltip="Close">&times;</button></h2>
               
                <div id="editorMdl-titleSave">changes saved.</div>
            </div>
            <div class="editorMdl-cnt" ss-container>
                <div class="editorMdl-cntLiner">
                    <div class="tab">
                        <a class="tab-lnk active" href="detailstab">Details</a>
                        <a class="tab-lnk" href="reportlinkstab">Linked Reports</a>
                        @if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
{
                        <a class="tab-lnk" href="termlinkstab">Linked Terms</a>
                    }
                        <a class="tab-lnk" href="attachmentstab">Attachments</a>
                        <a class="tab-lnk" href="agreetab">Agreements</a>
                    </div>
                    <div class="tab-cnt">
                        <div class="tab-dta active" id="detailstab">
                            <partial name="Edit/_Details.cshtml"></partial>
                        </div>
                        <div class="tab-dta" id="reportlinkstab">
                            <partial name="Edit/_ReportLinks.cshtml"></partial>
                        </div>
                        @if (@Configuration["features:enable_terms"] == null || @Configuration["features:enable_terms"].ToString().ToLower() == "true")
                        {
                        <div class="tab-dta" id="termlinkstab">
                            <partial name="Edit/_TermLinks.cshtml"></partial>
                        </div>
                        }
                        <div class="tab-dta" id="attachmentstab">
                            <partial name="Edit/_Attachments.cshtml"></partial>
                        </div>
                        <div class="tab-dta" id="agreetab">
                            <partial name="Edit/_Agreements.cshtml"></partial>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
