@model Atlas_Web.Pages.Collections.IndexModel
<ul>
    <li>
        <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-target="collection-profile-@Model.Collection.DataProjectId" data-tooltip="Open Report Profile">
            <span class="icon has-text-grey is-large ">
                <i class="fas fa-lg fa-chart-bar"></i>
            </span>
        </a>
    </li>

    <li>
        <a class="has-tooltip-arrow has-tooltip-right star" data-tooltip="Star this report" data-href="/users/favorites/?handler=Edit&type=collection&id=@Model.Collection.DataProjectId">
            @if (Model.Collection.StarredCollections.Any(x => x.Ownerid == ViewBag.PublicUser.UserId))
            {
                <span class="icon is-large has-text-gold ">
                    <i class="fas fa-lg fa-star is-relative">
                        <span class="badge star-count">@Model.Collection.StarredCollections.Count</span>
                    </i>
                </span>
            }
            else
            {
                <span class="icon has-text-grey is-large">
                    <i class="far fa-lg fa-star is-relative">
                        <span class="badge star-count">@Model.Collection.StarredCollections.Count</span>
                    </i>
                </span>
            }
        </a>
    </li>
    @if (@Configuration["features:enable_sharing"] == null || @Configuration["features:enable_sharing"].ToString().ToLower() == "true")
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share" data-target="collection-share-@Model.Collection.DataProjectId" data-name="@Model.Collection.Name" data-type="collection">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-share"></i>
                </span>
            </a>
        </li>
    }

    @if (@Configuration["features:enable_feedback"] == null || @Configuration["features:enable_feedback"].ToString().ToLower() == "true")
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share Feedback" data-target="collection-share-feedback-@Model.Collection.DataProjectId" data-name="@Model.Collection.Name">
                <span class="icon has-text-grey is-large ">
                    <i class="far fa-lg fa-thumbs-up"></i>
                </span>
            </a>
        </li>
    }

    @if (ViewBag.Permissions.Contains(26))
    {
    <li>
        <a class="is-block has-tooltip-arrow has-tooltip-right" href="/Collections/New" data-tooltip="Create New Collections">
            <span class="icon has-text-grey is-large ">
                <i class="fas fa-lg fa-plus"></i>
            </span>
        </a>
    </li>}
    @if (ViewBag.Permissions.Contains(28))
    {
    <li>
        <a class="is-block has-tooltip-arrow has-tooltip-right" href="/Collections/Edit/?id=@Model.Collection.DataProjectId" data-tooltip="Open Atlas Editor">
            <span class="icon has-text-grey is-large ">
                <i class="fas fa-lg fa-pen-to-square"></i>
            </span>
        </a>
    </li>}

    @if (ViewBag.Permissions.Contains(27))
    {
    <li>
        <a class="is-block has-tooltip-arrow has-tooltip-right" data-tooltip="Delete this Collection" href="/Collections?handler=DeleteCollection&Id=@Model.Collection.DataProjectId" onclick="return confirm('Are you sure you want to remove this?');">
            <span class="icon has-text-grey is-large ">
                <i class="fas fa-lg fa-trash"></i>
            </span>
        </a>
    </li>}
</ul>
