@page
@model Atlas_Web.Pages.Collections.EditModel

@{
    ViewData["Title"] = "Editing " + @Model.Collection.Name;
}

@section SideBar {}
@section SearchBar {}
@section js {
    <script src="/js/flowchart.min.js"></script>
    @*@if(!Request.Headers["User-Agent"].ToString().Contains("Trident")){<script>hljs.highlightAll();</script>}*@
    <script src="/js/editor.min.js"></script>
}

<form action="/Collections/Edit/?id=@Model.Collection.DataProjectId" method="post">
	<h1 class="title is-1">@ViewData["Title"]</h1>

    @*<ul class="steps has-gaps has-content-centered">
      <li class="steps-segment is-active">
        <a class="step-tab has-text-grey-dark" href="#meta">
            <span class="steps-marker is-hollow">
                <span class="icon">
                  <i class="fa fa-info"></i>
                </span>
            </span>
            <div class="steps-content">
              <p class="is-size-6">Meta</p>
            </div>
        </a>
      </li>
      <li class="steps-segment">
        <a class="step-tab has-text-grey-dark" href="#reports">
            <span class="steps-marker is-hollow">
                <span class="icon">
                  <i class="fa fa-paperclip"></i>
                </span>
            </span>
            <div class="steps-content">
              <p class="is-size-6">Reports</p>
            </div>
        </a>
      </li>
      <li class="steps-segment">
        <span class="steps-marker is-hollow">
          <span class="icon">
            <i class="fa fa-check"></i>
          </span>
        </span>
        <div class="steps-content">
          <p class="is-size-6">Complete</p>
        </div>
      </li>
    </ul>*@

	<p class="buttons is-flex is-justify-content-space-between">
        <a class="button p-5" href="/Collections/">
            <span class="icon">
              <i class="fas fa-lg fa-long-arrow-alt-left"></i>
            </span>
            <span><strong>Cancel</strong><br>Go Back</span>
        </a>
        <button class="button p-5" type="submit">
            <span><strong>Save</strong><br>and Continue</span>
            <span class="icon ">
              <i class="fas fa-lg fa-long-arrow-alt-right"></i>
            </span>
        </button>
    </p>

    <input asp-for="Collection.DataProjectId" type="hidden" value="@Model.Collection.DataProjectId" />

    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" placeholder="e.g Data Sorting" asp-for="Collection.Name" required value="@Model.Collection.Name"/>
        </div>
    </div>

    <div class="field">
        <label class="label">Purpose</label>
        <div class="editor" data-inputName="Collection.Purpose" data-inputId="Collection_Purpose"><textarea>@Html.Raw(Model.Collection.Purpose)</textarea></div>
    </div>

    <div class="field">
        <label class="label">Description</label>
        <div class="editor" data-inputName="Collection.Description" data-inputId="Collection_Description"><textarea>@Html.Raw(Model.Collection.Description)</textarea></div>
    </div>

    <div class="field">
        <label class="label">Linked Terms</label>
        <div class="mini-tags field is-grouped is-grouped-multiline">
            @for(var x = 0; x < @Model.Collection.DpTermAnnotations.Count; x++ )
            {
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-link">@Model.Collection.DpTermAnnotations.ToList()[x].Term.Name</span>
                        <input type="hidden" name="Terms[@x].TermId" value="@Model.Collection.DpTermAnnotations.ToList()[x].TermId" />
                        <a class="tag is-delete"></a>
                    </div>
                </div>
            }
        </div>
        <div class="field">
            <div class="control is-relative is-expanded">
                <input class="input input-mini multiselect" placeholder="search for terms.." search-area="TermSearch" data-name="Terms[].TermId" />
                <div class="mini">
                    <div class="mini-waiting">
                        <span class="icon">
                            <i class="fas fa-circle-notch fa-spin"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <label class="label">Linked Reports</label>
        <div class="mini-tags field is-grouped is-grouped-multiline">
            @for(var x = 0; x < @Model.Collection.DpReportAnnotations.Count; x++ )
            {
                <div class="control">
                    <div class="tags has-addons">
                        <span class="tag is-link">@Model.Collection.DpReportAnnotations.ToList()[x].Report.Name</span>
                        <input type="hidden" name="Reports[@x].ReportId" value="@Model.Collection.DpReportAnnotations.ToList()[x].ReportId" />
                        <a class="tag is-delete" value="@Model.Collection.DpReportAnnotations.ToList()[x].ReportId"></a>
                    </div>
                </div>
            }
        </div>
        <div class="field">
            <div class="control is-relative is-expanded">
                <input class="input input-mini multiselect" placeholder="search for reports.." search-area="ReportSearch" data-name="Reports[].ReportId"  />
                <div class="mini">
                    <div class="mini-waiting">
                        <span class="icon">
                            <i class="fas fa-circle-notch fa-spin"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
