<div class="shared-container">
    @if (ViewBag.SharedToMe.Count > 0)
    {
        <strong class="is-block">Shared With Me</strong>
        @foreach (var o in ViewBag.SharedToMe)
        {
            <div class="has-tooltip-arrow has-tooltip-left is-flex is-align-items-center"data-tooltip="Shared by @o.SharedFrom on @o.ShareDate">
                <form class="remove-shared-object" asp-page-handler="RemoveSharedObject" method="post">
                    <input type="hidden" name="id" value="@o.Id" />
                    <button class="button is-ghost py-0"><i class="fas fa-times"></i></button>
                </form>
                <a href="@o.Url" aria-label="@o.Name">@o.Name</a>
            </div>
        }
        <script>
            (function(){
                if(document.readyState === 'complete') {
                    load();
                }
                window.addEventListener('load',function(){
                    load();
                });

                function load(){
                    if(typeof window.removeShared == 'undefined'){

                        window.removeShared = function() {
                            document.addEventListener('submit',function(e){
                                if(e.target.closest('.remove-shared-object')) {
                                    e.preventDefault();
                                    var s = new XMLHttpRequest();
                                    s.open('post', e.target.closest('.remove-shared-object').getAttribute('action') + "&" + serialize(e.target.closest('.remove-shared-object')), true);
                                    s.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                                    s.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                                    s.send();
                                    e.target.closest('div').parentElement.removeChild(e.target.closest('div'));
                                }
                            });
                        };

                        window.removeShared();
                    }
                }
            })();
        </script>
    }
</div>
