@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

<cache>
    <div>
        <h4>Terms</h4>
        <ul class="home-list">
            @foreach (var term in ViewBag.NewestApprovedTerms)
            {
                <li class="home-link">
                    <div>
                        <i fav-type="term" object-id="@term.Id" class="favorite far fa-star @term.Favorite"></i>
                        <a class="ajax atlas-blue" asp-page="Terms/Index" asp-route-id="@term.Id"><i class="fas fa-check fa-sm pr-2"></i>@term.Name.Replace('_', ' ')</a>
                    </div>
                </li>
            }
            @foreach (var term in ViewBag.NewestTerms)
            {
                <li class="home-link">
                    <div>
                        <i fav-type="term" object-id="@term.Id" class="favorite far fa-star @term.Favorite"></i>
                        <a class="ajax atlas-blue" asp-page="../Terms/Index" asp-route-id="@term.Id">@term.Name.Replace('_', ' ')</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</cache>