
@model Atlas_Web.Pages.Terms.IndexModel

@functions {
	string ShortDescription(string description)
	{
		if (description != null)
		{
			return description.Substring(0,Math.Min(description.Length,125)) + "..";
		} else {
			return null;
		}
	}
}


<h1 class="title is-1">@ViewData["Title"]</h1>

@if (Model.Permissions.Contains(7))
{
	<div class="field has-addons">
        <p class="control">
            <a href="/Terms/New/" class="button" title="new initiatve"><span class="icon"><i class="fas fa-plus"></i></span><span>Create a Term</span></a>
        </p>
    </div>
}

@foreach(var t in Model.AllTerms)
{
	@if (t.Approved == "N" && @Model.Permissions.Contains(17) || t.Approved == "Y")
	{
		<h4 class="drop" data-toggle="clps" data-target="collapse-term-@(t.Id)">@t.Name<span class="text-light">&nbsp;&middot;&nbsp;Last updated @t.UpdateDate</span>
			@if (t.Approved == "Y")
            {
                <span class="text-green">Approved</span>
            }

			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/></svg>
		</h4>

		<div id="collapse-term-@(t.Id)" class="clps">
		    <div class="drop-box">
		        <h5><a class="drop-link" href="/Terms?id=@t.Id">Open This Term</a></h5>
		        @if (t.Summary != null && t.Summary != "")
		        {               
		            <div class="markdown">
		                @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(t.Summary))
		            </div>
		        }
		    </div>
		</div>
	}
}
