@model Atlas_Web.Pages.Terms.IndexModel


<h1 class="title is-1 is-flex is-justify-content-space-between">
    <span>@Model.Term.Name</span>
    @if (@Model.Term.ApprovedYn == "Y")
    {
        <span class="tag is-success">Approved</span>
    }
</h1>

<partial name="_Links" />

<div class="content">
    <h2 id="details" class="title is-2">Description</h2>

    @if (Model.Term.Summary != null && Model.Term.Summary != "")
    {
        <h3 class="title is-3">Summary</h3>
        <div class="markdown">
            @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Term.Summary, Configuration))
        </div>
    }

    @if (Model.Term.TechnicalDefinition != null && Model.Term.TechnicalDefinition != "")
    {
        <h3 class="title is-3">Technical Definition</h3>
        <div class="markdown">
            @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(Model.Term.TechnicalDefinition, Configuration))
        </div>
    }


    @if (Model.RelatedReports.Count() > 0)
    {
        <h2 id="reports" class="title is-2">Linked Reports</h2>

        <div class="columns is-multiline">
            @foreach (var r in Model.RelatedReports)
            {
                <div class="column is-half ">
                    <partial name="Reports/_Snippet" model="r" />
                </div>
            }
        </div>
    }
</div>

<h2 id="meta" class="title is-2">Details</h2>

<div class="table-container mt-4">
    <table class="table is-narrow" aria-label="details">
        <tbody>
            @if (Model.Term.ApprovedYn == "Y")
            {
                <tr>
                    <td>Approval Date</td>
                    <td>@Model.Term.ApprovalDateTimeDisplayString</td>
                </tr>
                <tr>
                    <td>Approved By</td>
                    <td>
                        @if (User.HasPermission("View Other User") && @Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                        {
                            <a href="/users?id=@Model.Term.ApprovedByUserId">@Model.Term.ApprovedByUser.FullnameCalc</a>
                        } else
                        {
                            @Model.Term.ApprovedByUser.FullnameCalc
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>Has Been Approved</td>
                    <td>No</td>
                </tr>
            }
            <tr>
                <td>Last Updated By</td>
                <td>
                    @if (User.HasPermission("View Other User") && @Configuration["features:enable_user_profile"] == null || @Configuration["features:enable_user_profile"].ToString().ToLower() == "true")
                    {
                        <a href="/users?id=@Model.Term.UpdatedByUserId">@Model.Term.UpdatedByUser.FullnameCalc</a>
                    } else
                    {
                        @Model.Term.UpdatedByUser.FullnameCalc
                    }
                </td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td>@Model.Term.LastUpdatedDateTimeDisplayString</td>
            </tr>
        </tbody>
    </table>
</div>
