@model Atlas_Web.Pages.Terms.IndexModel
<ul>
    <li>
        <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-target="term-profile-@Model.Term.TermId" data-tooltip="Open Profile">
            <span class="icon has-text-grey is-large ">
                <i class="fas fa-lg fa-chart-bar"></i>
            </span>
        </a>
    </li>

    <li>
        <a class="is-block has-tooltip-arrow has-tooltip-right star" data-tooltip="Star this term" data-href="/users/favorites/?handler=Edit&type=term&id=@Model.Term.TermId">
            @if (Model.Term.StarredTerms.Any(x => x.Ownerid == User.GetUserId()))
            {
                <span class="icon is-large has-text-gold ">
                    <i class="fas fa-lg fa-star is-relative">
                        <span class="badge star-count">@Model.Term.StarredTerms.Count</span>
                    </i>
                </span>
            }
            else
            {
                <span class="icon has-text-grey is-large">
                    <i class="far fa-lg fa-star is-relative">
                        <span class="badge star-count">@Model.Term.StarredTerms.Count</span>
                    </i>
                </span>
            }
        </a>
    </li>

    @if (@Configuration["features:enable_sharing"] == null || @Configuration["features:enable_sharing"].ToString().ToLower() == "true")
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share" data-target="term-share-@Model.Term.TermId" data-name="@Model.Term.Name" data-type="term">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-share"></i>
                </span>
            </a>
        </li>
    }

    @if (@Configuration["features:enable_feedback"] == null || @Configuration["features:enable_feedback"].ToString().ToLower() == "true")
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share Feedback" data-target="term-share-feedback-@Model.Term.TermId" data-name="@Model.Term.Name">
                <span class="icon has-text-grey is-large ">
                    <i class="far fa-lg fa-thumbs-up"></i>
                </span>
            </a>
        </li>
    }

    @if (User.HasPermission("Create New Terms"))
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right" href="/Terms/New/" data-tooltip="Create New Term">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-plus"></i>
                </span>
            </a>
        </li>
    }

    @if ((User.HasPermission("Edit Unapproved Terms") && Model.Term.ApprovedYn != "Y") || (User.HasPermission("Edit Approved Terms") && Model.Term.ApprovedYn == "Y"))
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right" href="/Terms/Edit/?id=@Model.Term.TermId" data-tooltip="Open Atlas Editor">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-pen-to-square"></i>
                </span>
            </a>
        </li>
    }

    @if ((User.HasPermission("Delete Unapproved Terms") && Model.Term.ApprovedYn != "Y") || (User.HasPermission("Delete Approved Terms") && Model.Term.ApprovedYn == "Y"))
    {
        <li>
            <a class="is-block has-tooltip-arrow has-tooltip-right" data-tooltip="Delete this Term" href="/terms?Handler=DeleteTerm&id=@Model.Term.TermId" onclick="return confirm('Are you sure you want to remove this?');">
                <span class="icon has-text-grey is-large ">
                    <i class="fas fa-lg fa-trash"></i>
                </span>
            </a>
        </li>
    }
</ul>
