@model Atlas_Web.Models.Term

<div class="card">
    <div class="card-header">
        <div class="card-header-title is-justify-content-space-between py-2">
            <a class="has-text-dark" href="/Terms?id=@Model.TermId">@Model.Name
                @if(Model.ApprovedYn == "Y")
                {
                    <div class="fa-layers ml-2 fa-lg">
                        <span class="icon has-text-info "><i class="fas fa-certificate"></i></span>
                        <span class="icon has-text-white fa-transform"><i class="fas fa-check shrink-5"></i></span>
                    </div>
                }
                </a>
            <span class="tags">
                <span class="tag">term</span>
                @if(Model.ApprovedYn == "Y")
                {
                    <span class="tag is-success">Approved</span>
                }
                @if(!string.IsNullOrEmpty(ViewBag.SearchMatch))
                {
                    <div class="tags has-addons mb-0">
                        <span class="tag is-info is-light">Matched</span>
                        <span class="tag is-info">@ViewBag.SearchMatch</span>
                    </div>
                }
            </span>
        </div>
    </div>
    <div class="card-content pt-3 pb-2">
        <div class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <picture>
                        <source srcset="/img/report_placeholder_128x128.webp" type="image/webp" loading="lazy">
                        <img src="/img/report_placeholder_128x128.png" alt="placeholder image" loading="lazy">
                    </picture>
                </figure>
            </div>
            <!-- extra wrap if to fix IE11 bug https://github.com/philipwalton/flexbugs#flexbug-3 -->
            <div class="is-flex is-flex-direction-column is-flex-grow-1">
                <a class="media-content is-flex is-justify-content-space-between is-flex-direction-column is-min-h-96  has-text-dark" href="/Terms?id=@Model.TermId">
                    <p>
                        @if (!string.IsNullOrEmpty(Model.Summary))
                        {
                            @(Model.Summary.Substring(0,Math.Min(160,Model.Summary.Length)) + "... ")
                            <span class="has-text-link">read more</span>
                        } else if (!string.IsNullOrEmpty(Model.TechnicalDefinition))
                        {
                            @(Model.TechnicalDefinition.Substring(0,Math.Min(160,Model.TechnicalDefinition.Length)) + "... ")
                            <span class="has-text-link">read more</span>
                        } else {
                            <span class="has-text-link">Open to view details.</span>
                        }
                    </p>
                </a>
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item star" data-href="/users/favorites/?handler=Edit&type=term&id=@Model.TermId">
            <span class="icon-text">
                @if (Model.StarredTerms.Any(x => x.Ownerid == User.GetUserId()))
                {
                    <span class="icon has-text-gold">
                        <i class="fas fa-star"></i>
                    </span>
                    <span>Starred <span class="tag is-rounded star-count">@Model.StarredTerms.Count</span></span>
                }
                else
                {
                    <span class="icon ">
                        <i class="far fa-star"></i>
                    </span>
                    <span>Star <span class="tag is-rounded">@Model.StarredTerms.Count</span></span>
                }
            </span>
        </a>
        <div class="card-footer-item">
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-target="term-profile-@Model.TermId" data-tooltip="Open Profile">
                <span class="icon has-text-grey">
                    <i class="fas fa-chart-bar"></i>
                </span>
            </a>

            @if (@Configuration["features:enable_sharing"] == null || @Configuration["features:enable_sharing"].ToString().ToLower() == "true")
            {
                <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share" data-target="term-share-@Model.TermId" data-name="@Model.Name" data-type="term">
                    <span class="icon has-text-grey">
                        <i class="fas fa-share"></i>
                    </span>
                </a>
            }
        </div>
    </footer>
</div>
<partial name="Terms/_Modals" />
