@model Atlas_Web.Models.Term

<div class="card">
    <div class="card-header">
        <div class="card-header-title is-justify-content-space-between py-2">
            <a class="has-text-dark" href="/Terms?id=@Model.TermId">@Model.Name</a>
            <span class="tags">
                <span class="tag">term</span>
                @if(Model.ApprovedYn == "Y")
                {
                    <span class="tag is-success">Approved</span>
                }
            </span>
        </div>
    </div>
    <div class="card-content pt-3 pb-2">
        <div class="media">
            <div class="media-left">
                <figure class="image is-128x128">
                    <picture>
                        <source srcset="/img/report_placeholder_128x128.webp" type="image/webp" loading="lazy">
                        <img src="/img/report_placeholder_128x128.png" alt="placeholder image" loading="lazy">
                    </picture>
                </figure>
            </div>
            <div class="media-content is-min-h-96 is-flex is-justify-content-space-between is-flex-direction-column">
                @if (!string.IsNullOrEmpty(Model.Summary))
                {
                    @(Model.Summary.Substring(0,Math.Min(160,Model.Summary.Length)) + " ...")
                } else if (!string.IsNullOrEmpty(Model.TechnicalDefinition))
                {
                    @(Model.TechnicalDefinition.Substring(0,Math.Min(160,Model.TechnicalDefinition.Length)) + " ...")
                } else {
                    <text>Open to view details.</text>
                }
                @*<div class="tags">
                    @foreach (var d in Model.DpDataProjects)
                    {
                        <span class="tag is-link">@d.Name</span>
                    }
                </div>
                *@
            </div>
        </div>
    </div>
    <footer class="card-footer">
        <a class="card-footer-item star" data-href="/users/favorites/?handler=Edit&type=term&id=@Model.TermId">
            <span class="icon-text">
                @if (Model.StarredTerms.Any(x => x.Ownerid == ViewBag.PublicUser.UserId))
                {
                    <span class="icon has-text-gold">
                        <i class="fas fa-star"></i>
                    </span>
                    <span>Starred <span class="tag is-rounded star-count">@Model.StarredTerms.Count</span></span>
                }
                else
                {
                    <span class="icon ">
                        <i class="far fa-star"></i>
                    </span>
                    <span>Star <span class="tag is-rounded">@Model.StarredTerms.Count</span></span>
                }
            </span>
        </a>
        <a href="/Terms?id=@Model.TermId" class="card-footer-item">
            <span class="icon-text">
                <span class="icon">
                    <i class="fas fa-book-open"></i>
                </span>
                <span>Read More</span>
            </span>
        </a>
        <div class="card-footer-item">
            <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-target="term-profile-@Model.TermId" data-tooltip="Open Profile">
                <span class="icon has-text-grey">
                    <i class="fas fa-chart-bar"></i>
                </span>
            </a>

            @if (@Configuration["features:enable_sharing"] == null || @Configuration["features:enable_sharing"].ToString().ToLower() == "true")
            {
                <li>
                    <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share" data-target="term-share-@Model.TermId" data-name="@Model.Name" data-type="term">
                        <span class="icon has-text-grey">
                            <i class="fas fa-share"></i>
                        </span>
                    </a>
                </li>
            }

            @if (@Configuration["features:enable_feedback"] == null || @Configuration["features:enable_feedback"].ToString().ToLower() == "true")
            {
                <li>
                    <a class="is-block has-tooltip-arrow has-tooltip-right js-modal-trigger" data-tooltip="Share Feedback" data-target="term-share-feedback-@Model.TermId" data-name="@Model.Name">
                        <span class="icon has-text-grey">
                            <i class="far fa-thumbs-up"></i>
                        </span>
                    </a>
                </li>
            }
        </div>
    </footer>
</div>
<partial name="Terms/_Modals" />
