@*
    Atlas of Information Management business intelligence library and documentation database.
    Copyright (C) 2020  Riverside Healthcare, Kankakee, IL

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*@

@model Data_Governance_WebApp.Pages.Users.IndexModel

@{
    var TopRunReports = Model.TopRunReports.Count() > 0;
    var ReportRunTime = Model.ReportRunTime.Count() > 0;
    var FailedRuns = Model.FailedRuns.Count() > 0;
}

@if(TopRunReports || ReportRunTime || FailedRuns)
{
    @if(TopRunReports)
    {
        <h2 class="py-3 border-bottom border-2 darken">
            Top Run Reports
        </h2>

        <div class="tab justify-content-start">
            <a class="tab-lnk active" href="top-reports-chart">Chart</a>
            <a class="tab-lnk" href="top-reports-table">Table</a>
        </div>

        <div class="tab-cnt">
            <div class="tab-dta active" id="top-reports-chart">
                <div class="atlas-chart" style="width:100%">
                    <div class="ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" /></div>
                    <script type="application/json">
                        @{
                            var TopTen = Model.TopRunReports.Take(20);
                            var last = TopTen.Last();
                        }
                        @functions{

                            string Name(string var)
                            {
                                if(var.Length > 15)
                                {
                                    return var.Substring(0, 15) + "...";
                                }
                                return var;
                            }
                        }
                        {
                            "axis": {
                                "0": {"title":"seconds"},
                                "1": {"title":"hits"}
                            },
                            "type": "bar",
                            "height":"400",
                            "title": "Top Reports",
                            "data": [{
                                "title" : "Run Time (s)",
                                "axis":"0",
                                "type": "line",
                                "units": "(s)",
                                "data": [
                                        @foreach (var g in TopTen)
                                        { 
                                            <text>{ "title": "<a class='atlas-blue ajax' href='@g.Url'>@Name(g.Name)</a>", "data": "@g.RunTime"}</text> @if(g != last){<text>,</text>}
                                        }
                                    ]
                               },{
                                "title" : "Runs",
                                "type": "bar",
                                "axis": "1",
                                "data": [
                                        @foreach (var g in TopTen)
                                        { 
                                            <text>{ "title": "<a class='atlas-blue ajax' href='@g.Url'>@Name(g.Name)</a>", "data": "@g.Hits"}</text> @if(g != last){<text>,</text>}
                                        }
                                    ]
                               }]
                            }
                    </script>
                </div>
            </div>

            <div class="tab-dta my-4" id="top-reports-table">

                <span class="text-muted">Data shown represents the last two years of usage.</span>
                <div class="table-responsive">
                    <table class="table sort">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Total Hits</th>
                                <th>Average Run Time</th>
                                <th>Last Run</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var u in Model.TopRunReports)
                            {
                                <tr>
                                    <td><a class="atlas-blue ajax" href="@u.Url">@u.Name</a></td>
                                    <td>@u.Hits</td>
                                    <td>@u.RunTime</td>
                                    <td>@u.LastRun</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    }

    @if (ReportRunTime)
    {
        <h2 class="py-3 border-bottom border-2 darken">
            Report Run Time
        </h2>

        <div class="tab justify-content-start">
            <a class="tab-lnk active" href="run-time-chart">Chart</a>
            <a class="tab-lnk" href="run-time-table">Table</a>
        </div>

        <div class="tab-cnt">
            <div class="tab-dta active my-4" id="run-time-chart">
                <div class="atlas-chart" style="width:100%">
                    <div class="w-100 ajaxLoader"><img class="ajaxLoader-img" src="/img/loader.gif" /></div>
                    <script type="application/json">
                        @{
                            var TopTenRun = Model.ReportRunTime.Take(20);
                            var lastRun = TopTenRun.Last();
                        }
                        {
                            "axis": {
                                "0": {"title":"seconds"},
                                "1": {"title":"hits"}
                            },
                            "type": "bar",
                            "height":"400",
                            "title": "Report Run Time",
                            "data": [{
                                "title" : "Run Time (s)",
                                "axis":"0",
                                "type": "line",
                                "units": "(s)",
                                "data": [
                                        @foreach (var g in TopTenRun)
                                        { 
                                            <text>{ "title": "@Name(g.Date)", "data": "@g.Avg"}</text> @if(g != lastRun){<text>,</text>}
                                        }
                                    ]
                               },{
                                "title" : "Runs",
                                "type": "bar",
                                "axis": "1",
                                "data": [
                                        @foreach (var g in TopTenRun)
                                        { 
                                            <text>{ "title": "@Name(g.Date)", "data": "@g.Cnt"}</text> @if(g != lastRun){<text>,</text>}
                                        }
                                    ]
                               }]
                            }
                    </script>
                </div>
            </div>


            <div class="tab-dta my-4" id="run-time-table">

                <span class="text-muted">Data shown represents the last two years of usage.</span>
                <div class="table-responsive">
                    <table class="table sort">
                        <thead>
                            <tr>
                                <th>Week Starting</th>
                                <th>Total Hits</th>
                                <th>Average Run Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var u in Model.ReportRunTime)
                            {
                                <tr>
                                    <td>@u.Date</td>
                                    <td>@u.Cnt</td>
                                    <td>@u.Avg</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        }
        @if(FailedRuns)
        {
            <h2 class="py-3 pt-5 border-bottom border-2 darken">
                Failed Runs
            </h2>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="table border-0">
                                <thead>
                                    <tr>
                                        <th>Report Name</th>
                                        <th>Run Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var run in Model.FailedRuns)
                                    {
                                        <tr>
                                            <td><a href="@run.Url" class="atlas-blue">@run.Name</a></td>
                                            <td>@run.Date</td>
                                            <td>@run.RunStatus</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }
    } else {
    <h5 class="w-100 pt-5 text-center">No activity to show</h5>
    <h5 class="w-100 pt-3 text-center">¯\_(ツ)_/¯</h5>
}